{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.admin.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-wifi"></i> {{ attributes.get('action')|trans }} une publicité</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_campaigns_show', {pubId: attributes.get('pubId')}) }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-8">
            {{ form_row(form.title) }}
            {{ form_row(form.link) }}
            {{ form_row(form.status) }}
            <input type="submit" value="Enregistrer">
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="title">Bannière</div>
                <div class="alert alert-info">
                    Dimensions à respecter:
                    <ul>
                        <li>Largeur: {{ photoSizes.width > 0 ? photoSizes.width : '1920' }}px</li>
                        <li>Hauteur: {{ photoSizes.height }}px</li>
                    </ul>
                </div>
                <div class="content">
                    {% include 'blocs/live-uploader.html.twig' with {
                        role: 'publicity',
                        keys: ['image'],
                        photos: photos
                    } %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

