{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-wifi"></i> liste des publicités</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_campaigns_add', {pubId: attributes.get('pubId')}) }}" class="btn btn-complete">Ajouter</a>
    <a href="{{ path('backend_publicity_show') }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block content %}

    <table class="table table-striped table-bordered sorted_table">
        <thead>
            <th>Publicité</th>
            <th>Page</th>
            <th>actions</th>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <strong>{{ item.title }}</strong>
                    <p>Type : {{ item.type|trans }}</p>
                    <p>Status : {{ item.status|lower|trans }}</p>
                </td>
                <td>
                    <strong>{{ item.pub.page }}</strong>
                    <p>Emplacement : {{ item.pub.code }}</p>
                </td>
                <td class="ele-center">
                    <a href="{{ path('backend_campaigns_update', {pubId: attributes.get('pubId'), id: item.id}) }}" class="btn btn-success btn-icon">
                        <i class="ion ion-md-add"></i> Editer
                    </a>
                    {% if item.status == 'PENDING' %}
                        <a href="{{ path('backend_campaigns_toggle', {status: 'ongoing', pubId: attributes.get('pubId'), id: item.id}) }}" class="btn btn-complete btn-icon">
                            <i class="ion ion-md-eye"></i> Mettre en cours
                        </a>
                    {% else %}
                        <a href="{{ path('backend_campaigns_toggle', {status: 'pending', pubId: attributes.get('pubId'), id: item.id}) }}" class="btn btn-warning btn-icon">
                            <i class="ion ion-md-archive"></i> Mettre en pause
                        </a>
                    {% endif %}
                    <a href="{{ path('backend_campaigns_remove', {pubId: attributes.get('pubId'), id: item.id}) }}" class="btn btn-danger btn-icon">
                        <i class="ion ion-md-close"></i> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagination is defined %}
        {{ pagination|raw }}
    {% endif %}

{% endblock %}
