{% extends "base.html.twig" %}

{% block pageTitle %}
    <h1>Liste des bons plan</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row reset-margin">
            {% if paginate.items is defined and paginate.items|length > 0 %}
                {% for item in paginate.items %}
                    <div class="col-md-3 col-sm-6 article-item">
                        {% include 'blocs/deal.html.twig' with {item: item} %}
                    </div>
                {% endfor %}
                {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
            {% else %}
                <div class="empty-bloc">
                    Il n'y a aucun annonce listé pour cette recherche.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
