{% extends "base.html.twig" %}

{% block stylesheet %}
    <link href="{{ asset('build/css/v2/deal.css') }}" rel="stylesheet">
{% endblock %}

{% block seo_meta %}
    {% include 'blocs/og-metas.html.twig' with {
        url: path('deals_detail', {city: item.city.slug, category: item.category.slug, slug: item.slug, id: item.id}),
        image: asset('/build/images/deals/' ~ item.picture)
    } %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="page_header">
            <h1 class="title">{{ item.title }}</h1>
            <h3 class="meta">
                {% if item.user.picture is defined %}
                    <a href="#" rel="nofollow">
                        <img src="{{ resize(item.user.picture, 80, 80, 'users') }}" width="80" height="80" alt="picture de {{ item.user.title }}">
                    </a>
                {% endif %}
                Par
                <a href="{{ path('blog_author', {id: item.user.id, slug: item.user.username}) }}">{{ item.user.title }}</a> le
                <a href="#">{{ item.createdAt|date('d/m/Y H:i') }}</a> <span class="break-mobile"> dans
                <a href="{{ path('blog_category', {category: item.category.slug}) }}">{{ item.category.title }}</a> / vue par
                <span>{{ item.count }}</span> personnes</span>
            </h3>
        </div>
        <div class="article">
            <div class="article_content">
                {% include "blocs/slide-show.html.twig" with {pictures: item.pictures, title: item.title, targetDir: 'deals'}%}
                <div class="article__story">
                    {{ item.content|raw }}
                </div>

                {{ shareToSocial(item.title, item.content)|raw }}

                {% if related is defined and related|length > 0 %}
                    <div class="relateds">
                        <h2 class="related_title">Plus dans <span>{{ item.category.title|capitalize }}</span></h2>
                        <div class="row">
                            {% for item in related %}
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <a class="bloc_related" href="{{ path('blog_detail', {category: item.category.slug, slug: item.slug, id: item.id}) }}">
                                        <div class="bloc__image" style="background-image:url({{ resize(item.picture, 250, 200, 'deals') }})"></div>
                                        <time datetime="{{ item.createdAt|date('U') }}" class="bloc__date">{{ item.createdAt|date('d/m/Y H:s') }}</time>
                                        <h3 class="bloc__title">{{ item.title }}</h3>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% include 'shared/disqus.twig' with {uid : 'BLOG' ~ item.id, 'title' : item.title} %}

            </div>
            <div class="article_sidebar">
                {% include "deals/sidebar.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block ²avascript %}
{{ parent() }}
<script type="application/javascript" src="//sportautomoto.disqus.com/count.js" id="dsq-count-scr" async></script>
{% endblock %}
