{% if item.price > 0 and item.endAt|date('Y-m-d') > "now"|date('Y-m-d') %}
    <div class="deal-infos">
        <div class="deal-price-after">{{ item.discountedPrice }}Dh</div>
        <div class="row deal-price-infos">
            <div class="col-sm-6">
                <p>Valeur<br><strong>{{ item.price }}Dh</strong></p>
            </div>
            <div class="col-sm-6">
                <p>Remise<br><strong>{{ item.discount }}%</strong></p>
            </div>
        </div>
        <div class="deal-order-btn">
            <a href="{{ path('user_order_add', {id: item.id}) }}">Je commande</a>
        </div>
        <div class="deal-end">
            <h4>Temps restant</h4>
            <div id="deal-end-container" class="countdown" data-datetime="{{ item.endAt|date('Y-m-d') }}"></div>
        </div>
        <div class="deal-sells">
            <h4>0 Acheteurs</h4>
            <div class="deal-validated">
                <strong>Deal validé!</strong> Profitez-en aussi!
            </div>
        </div>
    </div>
{% endif %}

{% if categories is defined and categories|length > 0 %}
    <div class="articles">
        <div class="bloc_title">Catégories</div>
        {% for category in categories %}
            <a class="bloc_meta" href="{{ path('deals_category', {category: category.slug}) }}">
                {{ category.title }} <span class="badge pull-right">{{ category.articleCount }}</span>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if topPosts is defined and topPosts|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Articles populaires</h2>
        {% for item in topPosts %}
            {% include 'blocs/deal-sm.html.twig' with {item: item} %}
        {% endfor %}
    </div>
{% endif %}

<div class="pub">
    <a href="#">
        <img src="{{ asset('/build/images/pub-carre.jpg') }}" class="img-responsive" alt="Agence web casablanca">
    </a>
</div>

{% if recentPosts is defined and recentPosts|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Articles récents</h2>
        {% for item in recentPosts %}
            {% include 'blocs/deal-sm.html.twig' with {item: item} %}
        {% endfor %}
    </div>
{% endif %}
