{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <p>{{ error.message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block file_errors %}
    {% spaceless %}
    {% if errors|length > 0 %}
        {{ errors[0].message }}
    {% endif %}
    {% endspaceless %}
{% endblock file_errors %}

{% block form_row %}
    {% set errors = form.vars.errors %}
    <div class="form_row{{ errors|length > 0 ? ' error' : '' }}">
        {% if 'checkbox' in block_prefixes %}
            <label>
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label }}
            </label>
        {% else %}
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {% if errors|length > 0 %}
                <p id="{{ form.vars.name }}-error" for="{{ form.vars.name }}">
                {% for error in errors %}
                    {{ error.message }}<br />
                {% endfor %}
                </p>
            {% endif %}
            {{ form_help(form) }}
        {% endif %}
    </div>
{% endblock form_row %}

{% block _categories_widget %}
    {% set i = 0 %}
    {% set metas = arrayWalker(app.session.all(), 'client.metas') %}
    <div class="row">
        {% if form.vars.attr.id == 'category' %}
            {{ form_widget(form) }}
        {% else %}
            {% for group_label, choice in choices %}
                {% if group_label != 'Autres' %}
                    {% set i = i + 1 %}
                    {% if i % 2 == 1 %}
                        <div class="col-sm-6 col-xs-12">
                        <div class="row">
                    {% endif %}
                    <div class="col-sm-6 col-xs-12">
                        <div id="kartBox" class="boxContent">
                            <div class="title checkParent">{{ group_label }}</div>
                            <div class="metas">
                                {% for key, choice in choice %}
                                    <label>
                                        {{ form_widget(form[key], {attr: metas[choice.value] is defined ? {checked: "checked"} : {}}) }}
                                        {{ form[key].vars.label }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if i % 2 == 0 %}
                        </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{#% block file_widget %}
    {% set type = type|default('text') %}
    {% set class = "liveupload filestyle" %}
    {% if errors|length > 0 %}
        {% set class = class ~ " error" %}
    {% endif %}
    <div class="liveUploads">
        <div class="lu-container">
            <i class="ion-image"></i>
            <input type="{{ type }}" class="{{ class }}" {{ block('widget_attributes') }} />
            {% if errors|length > 0 %}
                <label id="{{ name }}-error" class="error" for="{{ name }}">{{ errors[0].message }}</label>
            {% endif %}
            <a href="#" id="{{ name }}" data-id="false" class="delPhoto" data-tooltip="tooltip" data-placement="top" title="Supprimer l'image" style="display: none;">
                <i class="ion-close"></i>
            </a>
            <a href="#" id="rotate{{ name }}" class="rotatePhoto" data-id="false" data-img-id="{{ name }}" data-tooltip="tooltip" data-placement="top" title="Rotation horaire de 90°">
                <i class="ion-refresh"></i>
            </a>
        </div>
    </div>
{% endblock %#}
