{% form_theme form _self %}

{% block form_row %}
    {% set errors = form.vars.errors %}
    <div class="form_row{{ errors|length > 0 ? ' error' : '' }}">
        {% if 'checkbox' in block_prefixes %}
            <label>
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label }}
            </label>
        {% else %}
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {% if errors|length > 0 %}
                <p id="{{ form.vars.name }}-error" for="{{ form.vars.name }}">
                    {% for error in errors %}
                        {{ error.message }}<br />
                    {% endfor %}
                </p>
            {% endif %}
            {{ form_help(form) }}
        {% endif %}
    </div>
{% endblock form_row %}

{% block _categories_widget %}
    {% if form.vars.multiple %}
        {% for choiceOrOptionGroup, choice in form.vars.choices %}
            <p>
                {{ form_widget(form.offsetGet(choiceOrOptionGroup)) }}
                {{ form.offsetGet(choiceOrOptionGroup).vars.label }}
            </p>
        {% endfor %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}
