{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> {{ customerId is defined ? 'update' : 'add'|trans }} un professionel</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_professional_show') }}" class="btn btn-primary">Liste</a>
    {% if customerId is defined %}
        <a href="{{ path('backend_professional_update', {id: customerId}) }}" class="btn btn-complete">Informations</a>
    {% endif %}
{% endblock %}

{% block content %}

    {{ form_start(form) }}

        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.birthAt) }}
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        {{ form_row(form.phones) }}
                        {{ form_row(form.email) }}
                    </div>
                </div>

                {% include 'blocs/live-uploader.html.twig' with {
                    keys: ['photo1', 'photo2', 'photo3', 'photo4'],
                    pictures: pictures
                } %}

                <div class="clearfix">
                    {{ form_row(form.content) }}
                </div>

            </div>
            <div class="shad-left col-lg-3">
                <div class="box">
                    <div class="title">Photo de profile</div>
                    <div class="content">
                        {% include 'blocs/live-uploader.html.twig' with {
                            key: 'profile',
                            pictures: pictures,
                            displayLabel: false
                        } %}
                    </div>
                </div>
                <div class="box">
                    <div class="title">Paramètres</div>
                    <div class="content">
                        {{ form_row(form.categories, {id: 'meta'}) }}
                        <input type="submit" value="Enregistrer">
                    </div>
                </div>
            </div>
        </div>

    {{ form_end(form) }}

    {% include 'admin/customers/partials/edit-picture.html.twig' %}
{% endblock %}
