{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-persons"></i> Liste des professionels</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_professional_add') }}" class="btn btn-complete">Ajouter</a>
    <a href="{{ path('backend_categories_show', {type: customerType}) }}" class="btn btn-warning">Catégories</a>
{% endblock %}

{% block content %}
    {% if paginate.items|length > 0 %}
        <table class="table table-striped table-bordered sorted_table">
            <thead>
            <th>Alias</th>
            <th>Crée le</th>
            <th>Mis à jour le</th>
            </thead>
            <tbody>
            {% for item in paginate.items %}
                <tr>
                    <td>
                        <p>{{ item.title }}</p>
                        <div class="action-links">
                            <a href="{{ path('backend_professional_update', {id: item.id}) }}">Informations</a>
                            <a href="{{ path('backend_professional_subscription', {id: item.id}) }}">Abonnement</a>
                            <a href="{{ path('backend_professional_remove', {id: item.id}) }}">Supprimer</a>
                        </div>
                    </td>
                    <td class="ele-center">{{ item.createdAt|date('d/m/Y H:i') }}</td>
                    <td class="ele-center">{{ item.updatedAt|date('d/m/Y H:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
    {% else %}
        {% include "blocs/empty-bloc.html.twig" %}
    {% endif %}

{% endblock %}
