{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> Liste des commandes</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_deal_show', {id: dealId}) }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block content %}

    <table class="table table-striped table-bordered sorted_table">
        <thead>
        <th>Code</th>
        <th>Titre</th>
        <th>Utilisateur</th>
        <th>Status</th>
        <th>Commandé le</th>
        </thead>
        <tbody>
        {% for item in paginate.items %}
            <tr class="ele-center">
                <td>{{ item.code }}</td>
                <td class="ele-left">{{ item.deal.title }}</td>
                <td>{{ item.user.title }}</td>
                <td><span class="badge badge-{{ item.status }}">{{ item.status|trans }}</span></td>
                <td>{{ item.createdAt|date('d/m/Y H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@Paginate/pagination.html.twig' with {links: paginate.links} %}

{% endblock %}
