{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.admin.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> {{ attributes.get('action')|trans }} un bon plan</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_deal_show') }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-9">
                {{ form_row(form.title) }}

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.category) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.price) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.discount) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-9 col-xs-12">
                        {{ form_row(form.address) }}
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        {{ form_row(form.city) }}
                    </div>
                </div>

                {% include 'blocs/live-uploader.html.twig' with {
                    keys: ['photo1', 'photo2', 'photo3', 'photo4'],
                    pictures: pictures
                } %}

                {{ form_row(form.content) }}
            </div>
            <div class="shad-left col-lg-3">
                <div class="box">
                    <div class="title">Paramètres</div>
                    <div class="content">
                        {{ form_row(form.minimumRequirement) }}
                        {{ form_row(form.maximumRequirement) }}
                        {{ form_row(form.startAt) }}
                        {{ form_row(form.endAt) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.isOpenToDiscussion) }}
                        <input type="submit" value="Enregistrer">
                    </div>
                </div>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
