{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> Liste des bons plans</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_deal_add') }}" class="btn btn-complete">Ajouter</a>
    <a href="{{ path('backend_categories_show', {type: 'deal'}) }}" class="btn btn-warning">Catégories</a>
{% endblock %}

{% block content %}

    {% if statutes is defined and statutes is iterable and statutes|length > 0 %}
        <ul class="post_status separator">
            {% for item in statutes %}
                <li>
                    <a href="{{ path('backend_deal_show', {status: item.status}) }}">{{ item.status|trans|capitalize }}<span class="badge badge-info">{{ item.nbr }}</span></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if paginate.items|length > 0 %}
        <table class="table table-striped table-bordered sorted_table">
            <thead>
                <th>ID</th>
                <th>Titre</th>
                <th>Annonceur</th>
                <th>Crée le</th>
                <th>Mis à jour le</th>
                <th>actions</th>
            </thead>
            <tbody>
                {% for item in paginate.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td class="ele-center">{{ item.user.title }}</td>
                        <td class="ele-center">{{ item.createdAt|date('d/m/Y H:i') }}</td>
                        <td class="ele-center">{{ item.updatedAt|date('d/m/Y H:i') }}</td>
                        <td class="ele-center">
                            {% if item.status == 'pending' %}
                                <a href="{{ path('backend_deal_change_status', {action: 'publish', id: item.id}) }}" class="btn btn-complete btn-icon">
                                    <i class="ion ion-md-eye"></i> Publier
                                </a>
                            {% endif %}
                            {% if item.isArchived == 0 %}
                                <a href="{{ path('backend_deal_change_status', {action: 'archived', id: item.id}) }}" class="btn btn-warning btn-icon">
                                    <i class="ion ion-md-archive"></i> Fermer
                                </a>
                            {% else %}
                                <a href="{{ path('backend_deal_change_status', {action: 'pending', id: item.id}) }}" class="btn btn-success btn-icon">
                                    <i class="ion ion-md-archive"></i> Réouvrir
                                </a>
                            {% endif %}
                            <a href="{{ path('backend_deal_update', {id: item.id}) }}" class="btn btn-success btn-icon">
                                <i class="ion ion-md-create"></i> Editer
                            </a>
                            <a href="{{ path('backend_deal_orders', {dealId: item.id}) }}" class="btn btn-complete btn-icon">
                                <i class="ion-cash"></i> Commandes
                            </a>
                            <a href="{{ path('backend_deal_remove', {id: item.id}) }}" class="btn btn-danger btn-icon">
                                <i class="ion ion-md-close"></i> Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
    {% else %}
        {% include "blocs/empty-bloc.html.twig" %}
    {% endif %}

{% endblock %}
