{{ form_start(form, {'attr': {'id': 'classifedSearchForm', 'novalidate': 'novalidate'}}) }}
{% if isVehicle is defined and isVehicle == 1 %}
    <div class="ingroup">
        {{ form_row(form.type) }}
        {% if form.brand is defined %}
            {{ form_row(form.brand) }}
        {% endif %}
        {% if form.model is defined %}
            {{ form_row(form.model) }}
        {% endif %}
    </div>
    <div class="ingroup">
        {{ form_row(form.engine) }}
        {{ form_row(form.year) }}
    </div>
{% endif %}
<div class="ingroup">
    {{ form_row(form.city) }}
    {{ form_row(form.min_price) }}
    {{ form_row(form.max_price) }}
</div>
<div class="ingroup insubmit">
    <input type="submit" value="{{ 'Search'|trans }}">
</div>
<div class="clear"></div>
{{ form_end(form) }}
