{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/classifieds.css') }}">
{% endblock %}

{% block content %}
    <div class="sidebar sticky-bloc">
        {% include 'classified/form.twig' %}
    </div>
    <div class="main-content">
        <div class="header-title">
            <h1>{{ seo.title }}</h1>
        </div>
        {% if paginate.items is defined and paginate.items|length > 0 %}
            <div class="row">
                {% for item in paginate.items %}
                    <div class="col-lg-3 col-md-4 col-xs-6 article-item">
                        {% include 'blocs/classified.html.twig' with {item: item} %}
                    </div>
                {% endfor %}
            </div>
            {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
        {% else %}
            <div class="empty-bloc">
                Il n'y a aucun annonce listé pour cette recherche.
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('build/js/classifieds.js') }}"></script>
{% endblock %}
