{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/article.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/v2/classified.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/classified.js') }}"></script>
{% endblock %}

{% block seo_meta %}
    {% include 'blocs/og-metas.html.twig' with {
        url: path('classified_detail', {city: item.city.slug, category: item.category.slug, type: item.type, slug: item.slug, id: item.id}),
        image: asset('/build/images/classified/' ~ item.mainPicture)
    } %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div id="corps" class="container">
        <div class="page_header">
            <h1 class="title">{{ item.title }}</h1>
            <h3 class="meta">
                Déposé par <a href="#">{{ alias|default("Administrateur") }}</a> le
                {{ item.createdAt|date('d/m/Y à H:i') }} / vue par
                <span>{{ item.count|default(0) }}</span> personnes
            </h3>
        </div>
        <div class="article">
            <div class="article_content">
                <div class="price">
                    {{ item.price }} Dh
                </div>
                <div class="meta">
                    <a href="{{ path('classified_by_category', {category: item.category.slug } )}}">{{ item.category.title }}</a>
                </div>
                {% include "blocs/slide-show.html.twig" with {photos: item.pictures, title: item.title, targetDir: 'classified'} %}
                <div class="row">
                    <div class="col-md-4 stats">
                        <ul>
                            <li>
                                <label>Type de carburant</label>
                                <span>{{ item.energy }}</span>
                            </li>
                            <li>
                                <label>Kilométrage</label>
                                <span>{{ item.mileage }} Km</span>
                            </li>
                            <li>
                                <label>Année modèle</label>
                                <span>{{ item.firstCirculationYear }}</span>
                            </li>
                            <li>
                                <label>Marque</label>
                                <span>{{ item.model.parent.title }}</span>
                            </li>
                            <li>
                                <label>Modèle</label>
                                <span>{{ item.model.title }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 article__story">
                        {{ item.content|raw }}
                    </div>
                </div>

                {{ shareToSocial(item.title, item.content)|raw }}

                {% if relatedPosts is defined and relatedPosts|length > 0 %}
                <div class="relateds">
                    <h2 class="related_title">Plus dans <span>{{ item.category.title|upper }}</span> ({{ relatedPosts|length }})</h2>
                    <div class="row">
                        {% for item in relatedPosts %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                {% include 'blocs/classified-md.html.twig' with {item: item} %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="article_sidebar">
                {% include 'classified/sidebar.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
