<div class="articles">
    <div class="bloc_title">Me contacter</div>
    <ul>
        <li>{{ item.user.lastname }} {{ item.user.firstname }}</li>
        {% if item.user.phone %}
            <li>{{ item.user.phone }}</li>
        {% endif %}
        <li>{{ item.user.email }}</li>
    </ul>
</div>

{% if categories is defined and categories|length > 0 %}
    <div class="articles">
        <div class="bloc_title">Catégories</div>
        {% for category in categories %}
            <a class="bloc_meta" href="{{ path('classified_by_category', {category: category.slug}) }}">
                {{ category.title }} <span class="badge pull-right">{{ category.classifiedCount }}</span>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if topPosts is defined and topPosts|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Populaires</h2>
        {% for items in topPosts %}
            {% include 'blocs/classified-sm.html.twig' with {item: item} %}
        {% endfor %}
    </div>
{% endif %}

<div class="pub">
    <a href="#">
        <img src="{{ asset('/build/images/pub-carre.jpg') }}" class="img-responsive" alt="Agence web casablanca">
    </a>
</div>

{% if recentPosts is defined and recentPosts|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Récemment publiés</h2>
        {% for annonce in recentPosts %}
            {% include 'blocs/classified-sm.html.twig' with {item: item} %}
        {% endfor %}
    </div>
{% endif %}
