{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block pageActions %}
    <a href="{{ path('backend_event_show') }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block pageTitle %}
    <h1><i class="ion ion-md-paper"></i> {{ attributes.get('action')|trans }} un évenement</h1>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-lg-9">
            {{ form_row(form.title) }}
            {% include 'blocs/live-uploader.html.twig' with {
                keys: ['photo1', 'photo2', 'photo3', 'photo4'],
                pictures: pictures
            } %}
            {{ form_row(form.content) }}
        </div>
        <div class="shad-left col-lg-3">
            <div class="box">
                <div class="title">Paramètres</div>
                <div class="content">
                    {{ form_row(form.status) }}
                    {{ form_row(form.isOpenToDiscussion) }}
                    {{ form_row(form.startAt) }}
                    {{ form_row(form.endAt) }}
                    <input type="submit" value="Enregistrer">
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
