{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-paper"></i> Liste des évenements</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_event_add') }}" class="btn btn-complete">Ajouter</a>
    <a href="{{ path('backend_categories_show', {type: 'event'}) }}" class="btn btn-warning">Catégories</a>
{% endblock %}

{% block content %}

    {% if statutes is defined and statutes is iterable and statutes|length > 0 %}
        <ul class="post_status separator">
            {% for item in statutes %}
                <li>
                    <a href="{{ path('backend_event_show', {status: item.status}) }}">{{ item.status|trans|capitalize }}<span class="badge badge-info">{{ item.nbr }}</span></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if paginate.items|length > 0 %}
        <table class="table table-striped table-bordered sorted_table">
            <thead>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Crée le</th>
            <th>actions</th>
            </thead>
            <tbody>
            {% for item in paginate.items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td class="ele-center">{{ item.user.title }}</td>
                    <td class="ele-center">{{ item.createdAt|date('d/m/Y H:i') }}</td>
                    <td class="ele-center">
                        <a href="{{ path('backend_event_update', {id: item.id}) }}" class="btn btn-success btn-icon">
                            <i class="ion ion-md-create"></i> Editer
                        </a>
                        <a href="{{ path('backend_event_remove', {id: item.id}) }}" class="btn btn-danger btn-icon">
                            <i class="ion ion-md-close"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
    {% else %}
        {% include "blocs/empty-bloc.html.twig" %}
    {% endif %}

{% endblock %}
