{% extends "base.html.twig" %}

{% block stylesheet %}
    <link href="{{ asset('build/css/v2/article.css') }}" rel="stylesheet">
{% endblock %}

{% block seo_meta %}
    {% include 'blocs/og-metas.html.twig' with {
        url: path('blog_detail', {category: item.category.slug, slug: item.slug, id: item.id}),
        image: asset('/build/images/posts/' ~ item.photo)
    } %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="page_header">
            <h1 class="title">{{ item.title }}</h1>
            <h3 class="meta">
                {% if item.user.photo is defined %}
                <a href="#" rel="nofollow">
                    <img src="{{ resize(item.user.photo, 80, 80, 'users') }}" width="80" height="80" alt="Photo de {{ item.user.title }}">
                </a>
                {% endif %}
                Par
                <a href="{{ path('blog_author', {id: item.user.id, slug: item.user.username}) }}">{{ item.user.title }}</a> le
                <a href="#">{{ item.createdAt|date('d/m/Y H:i') }}</a> <span class="break-mobile"> dans
                <a href="{{ path('blog_category', {category: item.category.slug}) }}">{{ item.category.title }}</a> / vue par
                <span>{{ item.count }}</span> personnes</span>
            </h3>
        </div>
        <div class="article">
            <div class="article_content">
                {% include 'blocs/slide-show.html.twig' with {photos: item.pictures, title: item.title, targetDir: 'posts'} only %}
                <div class="article__story">
                    {{ item.content|raw }}
                </div>
                <div class="article__cgc">
                    <h4>Remarques à considérer avant de commenter</h4>
                    <ul>
                        <li>Les commentaires sur le site reflètent les points de vues des auteurs et non celle du site.</li>
                        <li>Il est interdit d'utiliser des mots offensants Dieu, religion, secte, personne, nationalité ou couleur de peau.</li>
                        <li>Tous les commentaires doivent être en français, arabe ou anglais</li>
                        <li>Interdiction de violence verbale ou injures.</li>
                        <li>Chaque commentaire pour corriger une erreur dans l'article, sera envoyer à l'équipe éditoriale pour correction ou suppression.</li>
                        <li>Les sujets politiques sont interdits.</li>
                        <li>La publicité en commentaire sera automatiquement supprimé.</li>
                        <li>Les commentaires ne sont pas communiqué avec l’équipe d'édition ou de la gestion du site. Pour cela utilisez la page Contactez-nous</li>
                    </ul>
                </div>

                {{ shareToSocial(item.title, item.content)|raw }}

                {% if relatedPosts is defined and relatedPosts|length > 0 %}
                <div class="relateds">
                    <h2 class="related_title">Plus dans <span>{{ item.category.title|capitalize }}</span></h2>
                    <div class="row">
                        {% for item in relatedPosts %}
                            {% include 'blocs/article-md.html.twig' with {item: item} %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% include 'shared/disqus.twig' with {uid : 'BLOG' ~ item.id, 'title' : item.title} %}

            </div>
            <div class="article_sidebar">
                {% include "posts/sidebar.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="application/javascript" src="//sportautomoto.disqus.com/count.js" id="dsq-count-scr" async></script>
{% endblock %}
