{% if categories is defined and categories|length > 0 %}
    <div class="articles">
        <div class="bloc_title">Catégories</div>
        {% for category in categories %}
            <a class="bloc_meta" href="{{ path('blog_category', {category: category.slug}) }}">
                {{ category.title }} <span class="badge pull-right">{{ category.articleCount }}</span>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if topPosts is defined and topPosts|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Articles populaires</h2>
        {% for item in topPosts %}
            {% include 'blocs/article-sm.html.twig' with {item: item} %}
        {% endfor %}
    </div>
{% endif %}

<div class="pub">
    <a href="#">
        <img src="{{ asset('/build/images/pub-carre.jpg') }}" class="img-responsive" alt="Agence web casablanca">
    </a>
</div>

{% if recentPosts is defined and recentPosts|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Articles récents</h2>
        {% for item in recentPosts %}
            {% include 'blocs/article-sm.html.twig' with {item: item} %}
        {% endfor %}
    </div>
{% endif %}
