{% if item is defined %}
    <article class="item item-cover">
        <a href="{{ path('blog_detail', {category: item.category.slug, slug: item.slug, id: item.id}) }}" class="item-link"></a>
        <div style="background-image: url({{ resize(item.mainPicture, 600, 600, item.type) }})" class="item-image item-image-rounded-border"></div>
        <header class="item-header">
            <h5 class="item-section">{{ item.category.title }}</h5>
            <h2 class="item-title">{{ item.title }}</h2>
            <ul class="item-byline">
                <li>Posté par <a href="{{ path('blog_author', {id: item.user.id, slug: item.user.username }) }}">{{ item.user.title }}</a></li>
                <li><span class="icone meta ion-clock" title="{{ item.createdAt|date('U') }}">{{ item.createdAt|date('d/m/Y') }}</span></li>
            </ul>
        </header>
    </article>
{% endif %}
