{% if item is defined %}
    <a class="bloc_article" href="{{ path('classified_detail', {city: item.city.slug , category: item.category.slug, type: item.type, slug: item.slug, id: item.id}) }}">
        <div class="bloc__image" style="background-image: url({{ thumbnail(item.getMainPicture, 80, 80, item.type) }})"></div>
        <h3 class="bloc__title">{{ item.title }}</h3>
        <time datetime="{{ item.createdAt|date('U') }}" class="bloc__date">{{ item.createdAt|date('d/m/Y à H:i') }}</time>
    </a>
{% endif %}
