{% if item is defined %}
    <article class="item item-cover">
        <a href="{{ path('classified_detail', {city: item.city.slug, category: item.category.slug, slug: item.slug, id: item.id}) }}" class="item-link"></a>
        <div style="background-image: url({{ resize(item.getPicture('picture1'), 600, 600, 'annonces') }})" class="item-image"></div>
        <div class="item-sticky">
            <div class="item-price">{{ item.price }} Dh</div>
        </div>
        <header class="item-header">
            <h5 class="item-section">
                <a href="{{ path('classified_by_category', {category: item.category.slug}) }}">{{ item.category.title }}</a>
            </h5>
            <h2 class="item-title">{{ item.title }}</h2>
            <ul class="item-byline">
                <li>Localisation <a href="{{ path('classified_by_city', {city: item.city.slug}) }}">{{ item.city.title }}</a></li>
            </ul>
        </header>
    </article>
{% endif %}
