{% if item is defined %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="bloc_related" href="{{ path('deals_detail', {category: item.category.slug, slug: item.slug, id: item.id}) }}">
            <div class="bloc__image" style="background-image:url({{ resize(item.mainPicture, 250, 200, item.type) }})"></div>
            <time datetime="{{ item.createdAt|date('U') }}" class="bloc__date">{{ item.createdAt|date('d/m/Y H:s') }}</time>
            <h3 class="bloc__title">{{ item.title }}</h3>
        </a>
    </div>
{% endif %}
