{% if item is defined %}
    <article class="item item-cover">
        <a href="{{ asset('deals/' ~ item.city.slug ~ '/' ~ item.category.slug ~ '/' ~ item.slug ~ '/' ~ item.id) }}" class="item-link"></a>
        <div style="background-image: url({{ resize(item.getPicture('picture1'), 600, 600, 'deals') }})" class="item-image"></div>
        <div class="item-sticky">
            <div class="item-price">{{ item.price }} Dh</div>
            <div class="item-discount">{{ item.discount }}%</div>
        </div>
        <header class="item-header">
            <h5 class="item-section">
                <a href="{{ path('deals_category', {category: item.category.slug}) }}">{{ item.category.title }}</a>
            </h5>
            <h2 class="item-title">{{ item.title }}</h2>
            <ul class="item-byline">
                <li>Localisation <a href="{{ path('deals_city', {city: item.city.slug}) }}">{{ item.city.title }}</a></li>
                {% if item.endAt %}
                    <li class="item-event">Se termine le <span title="{{ item.endAt|date('U') }}">{{ item.endAt|date('d/m/Y') }}</span></li>
                {% endif %}
            </ul>
        </header>
    </article>
{% endif %}
