{% if item is defined %}
    <a class="bloc_article" href="{{ path('deals_detail', {category: item.category.slug, slug: item.slug, city: item.city.slug, id: item.id}) }}">
        <div class="bloc__image" style="background-image:url({{ resize(item.mainPicture, 80, 80, item.type) }})"></div>
        <h3 class="bloc__title">{{ item.title }}</h3>
        <time datetime="{{ item.createdAt|date('U') }}" class="bloc__date">{{ item.createdAt|date('d/m/Y H:i') }}</time>
        <div class="clearfix"></div>
    </a>
{% endif %}
