{% if item is defined %}
    <article class="item item-cover{% if index is defined and index == 0 %} next-event{% endif %}">
        <a href="{{ path('events_detail', { category: item.category.slug|default('general'), slug: item.slug, id: item.id }) }}" class="item-link"></a>
        <div style="background-image: url({{ thumbnail(item.mainPicture, 600, 600, item.type) }})" class="item-image item-image-rounded-border"></div>
        <header class="item-header">
            <h3 class="item-section">
                <a href="{{ path('events_category', { category: item.category.slug|default('general') }) }}">{{ item.category.title|default('Général') }}</a>
            </h3>
            <h2 class="item-title">
                <a href="{{ path('events_detail', { category: item.category.slug|default('general'), slug: item.slug, id: item.id }) }}">
                    {{ item.title }}
                </a>
            </h2>
            <ul class="item-byline">
                <li>Du {{ item.startAt|date('d/m/Y') }}</li>
                <li>au {{ item.endAt|date('d/m/Y') }}</li>
            </ul>
        </header>
    </article>
{% endif %}
