{% set flashBag = app.session.flashBag.all() %}
{% if flashBag | length > 0 %}
    {% for type, messages in flashBag %}
        <ul class="alert alert-{{ type }}">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
