{% macro liveUploaderField(key, form, pictures, id) %}
    {{ form_widget(form[key], {attr: {
        'id': 'ulphoto',
        'class':'liveupload',
        'data-target': 'tmp',
        'data-id': id,
        'data-value': arrayWalker(pictures, key),
        'data-error': form_errors(form[key])
    }}) }}
{% endmacro %}

{% if form is defined %}
    {% if keys is defined and keys is iterable %}
        {% set keysLenght = keys|length %}
        {% set colspan = keysLenght > 4 ? 4 : (12 / keysLenght) %}
        <h2>{{ 'picture gallery'|trans }}</h2>
        <div class="row multi-pictures">
            {% for key in keys %}
                <div class="col-lg-{{ colspan }} col-md-6 col-sm-12">
                    {{ _self.liveUploaderField(key, form, pictures|default({}), app.request.attributes.get('id')) }}
                </div>
            {% endfor %}
        </div>
    {% elseif key is defined %}
        <div class="form_row align-center single-picture">
            {% if displayLabel is not defined or displayLabel == true %}
                {{ form_label(form[key]) }}
            {% endif %}
            {{ _self.liveUploaderField(key, form, pictures|default({}), app.request.attributes.get('id')) }}
        </div>
    {% endif %}
{% endif %}
