{% if item is defined %}
    <article class="item item-cover">
        <a href="{{ path('directory_official_show', {username: item.username, id: item.id}) }}" class="item-link"></a>
        <div style="background-image: url({{ resize(item.profilePicture, 400, 400, item.type) }})" class="item-image item-image-rounded-border"></div>
        <div class="item-job">{{ item.type }}</div>
        <header class="item-header">
            <h2 class="item-title">{{ item.title }}</h2>
        </header>
    </article>
{% endif %}
