{% if url is defined %}
    <meta property="og:url" content="{{ url }}" />
    <link rel="canonical" href="{{ url }}" />
{% endif %}
{% if image is defined %}
    <meta property="og:image" content="{{ image }}" />
    <meta name="twitter:image" content="{{ image }}" />
    <meta name="twitter:image:src" content="{{ image }}" />
{% endif %}