{% if item is defined %}
    <article class="item item-shadow">
        <div class="item-image item-image-rounded-border">
            <img src="{{ thumbnail(item.profilePicture, 380, 200, item.type, true) }}" alt="Photo de profile">
        </div>
        <div class="item-job">{{ item.type|trans }}</div>
        <header class="item-header">
            <h2 class="item-title">
                <a href="{{ path('directory_professional_show', {username: item.username, id: item.id}) }}" class="item-link">{{ item.title }}</a>
            </h2>
        </header>
        <div class="item-action">
            <a href="{{ path('directory_professional_show', {username: item.username, id: item.id}) }}" class="btn-complete btn-rounded">En savoir plus</a>
        </div>
    </article>
{% endif %}
