{% if photos is defined %}
    {% set count = photos|length %}
    {% set galery = count >= min|default(1) %}
    {% if count > 0 %}
        {% if count > 1 %}
            <div class="slider">
                <div class="slider-items">
                    {% set i = 0 %}
                    {% for photo in photos %}
                        {% set src = thumbnail(photo, 670, 400, targetDir, true) %}
                        <div class="slider-item">
                            <a class="slider-controller controller-preview" href="{{ src }}" data-lightbox="Galerie {{ title }}" data-title="Photo de {{ title }}">
                                <i class="ion ion-md-search"></i>
                            </a>
                            <img src="{{ src }}" alt="Photo de {{ title }} n°{{ i }}">
                        </div>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
                <button class="slider-controller controller-prev">
                    <i class="ion ion-ios-arrow-back"></i>
                </button>
                <button class="slider-controller controller-next">
                    <i class="ion ion-ios-arrow-forward"></i>
                </button>
            </div>
        {% elseif galery %}
            {% set src = asset('/build/images/' ~ targetDir ~ '/' ~ photos|first) %}
            <div class="article__image">
                <img src="{{ src }}" class="img-responsive" alt="Photo de {{ title }} N°1">
            </div>
        {% endif %}
    {% endif %}
{% endif %}
