{% if url is defined %}
    {% set url = url|url_encode %}
    {% set title = title|default('')|url_encode %}
    {% set text = text|default('')|url_encode %}
    <ul class="socials-btns">
        <li>
            <a target="_blank" rel="nofollow" class="btn-facebook" href="http://www.facebook.com/sharer.php?u={{ url }}&t={{ title }}">
                Facebook
            </a>
        </li>
        <li>
            <a target="_blank" rel="nofollow" class="btn-twitter" href="http://twitter.com/share?text={{ title }}&url={{ url }}&via=sportautomoto">
                Twitter
            </a>
        </li>
        <li>
            <a target="_blank" rel="nofollow" class="btn-google" href="http://plus.google.com/share?url={{ url }}">
                Goole+
            </a>
        </li>
        <li>
            <a target="_blank" rel="nofollow" class="btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ title }}&summary={{ text }}&source={{ url }}">
                Linkedin
            </a>
        </li>
    </ul>
{% endif %}
