{% if statutes is defined and statutes is iterable and statutes|length > 0 %}
    <ul class="post_status separator">
        {% for item in statutes %}
            <li>
                <a href="{{ path('backend_article_show', {status: item.status}) }}">{{ item.status|trans|capitalize }}<span class="badge badge-info">{{ item.nbr }}</span></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
