{% if address is defined and is_address(address) %}
    <div class="static-map">
        {% set static_map_src = static_map(item.address, 670, 400) %}
        {% if static_map_src is not null %}
            <img src="{{ static_map_src }}" alt="Localisation de {{ item.title }}" />
        {% endif %}
    </div>
{% endif %}
