{% extends "admin/customers/partials/form.html.twig" %}

{% block pageActions %}
    <a href="{{ path('backend_driver_show') }}" class="btn btn-primary">Liste</a>
    {% if customerId is defined %}
        <a href="{{ path('backend_driver_update', {id: customerId}) }}" class="btn btn-complete">Informations</a>
        <a href="{{ path('backend_customer_story_add', {type: customerType, customerId: customerId}) }}" class="btn btn-primary">Palmarès</a>
    {% endif %}
{% endblock %}
