{% extends "admin/customers/partials/listing.html.twig" %}

{% block pageActions %}
    <a href="{{ path('backend_driver_add') }}" class="btn btn-complete">Ajouter</a>
    {{ parent() }}
{% endblock %}
