{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.admin.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> {{ customerId is defined ? 'update' : 'add'|default('add')|trans }} une experience</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_driver_show') }}" class="btn btn-primary">Liste</a>
    <a href="{{ path('backend_driver_update', {id: customerId}) }}" class="btn btn-primary">Informations</a>
    <a href="{{ path('backend_customer_story_add', {type: type, customerId: customerId}) }}" class="btn btn-complete">Palmarès</a>
{% endblock %}

{% block content %}
    <section>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                {{ form_start(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.category) }}
                {{ form_row(form.year) }}

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.vehicle) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.victories) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.raking) }}
                    </div>
                </div>

                <div class="form-action ele-center">
                    {% if attributes.get('id') %}
                        <input type="submit" value="{{ 'update'|trans }}">
                        <a href="{{ path('backend_customer_story_add', {type: type, customerId: customerId}) }}" class="btn btn-primary">{{ 'add'|trans }}</a>
                    {% else %}
                        <input type="submit" value="{{ 'add'|trans }}">
                    {% endif %}
                </div>

                {{ form_end(form) }}
            </div>
            <div class="col-md-7 col-sm-12 story-table">
                {% if items|length > 0 %}
                    <table class="table table-bordered story-table">
                        <thead>
                        <th>Événement</th>
                        <th width="50">Classement</th>
                        <th width="120">Actions</th>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="titre">
                                    <strong>{{ item.title }}</strong>
                                    <p>Véhicule: {{ item.vehicle }}</p>
                                    <div class="badge-list">
                                        <span class="badge">{{ item.year }}</span>
                                        <span class="badge">{{ item.category ? item.category.title : '' }}</span>
                                        <span class="badge">{{ item.victories }} Victoire(s)</span>
                                    </div>
                                </td>
                                <td class="ele-center">{{ item.raking }}</td>
                                <td class="palmActions">
                                    <a href="{{ path('backend_customer_story_update', {type: type, customerId: customerId, id: item.id}) }}" class="loadEntry btn btn-success">Editer</a>
                                    <a href="{{ path('backend_customer_story_remove', {type: type, customerId: customerId, id: item.id}) }}" class="deleteEntry btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="empty-bloc">Veuillez ajouter une experience</div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
