{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-bookmark"></i> Les types de publicité</h1>
{% endblock %}

{% block content %}
    <table class="table table-striped table-bordered sorted_table">
        <thead>
            <th>Code</th>
            <th>Titre</th>
            <th>Page</th>
            <th>Largeur</th>
            <th>Hauteur</th>
            <th>Type</th>
            <th>actions</th>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.code }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.page }}</td>
                {% if item.type.width == 0 and item.type.height == 0 %}
                    <td colspan="2">Fond de bloc</td>
                {% else %}
                    <td>{{ item.type.width == 0 ? '100%' : item.type.width }}</td>
                    <td>{{ item.type.height == 0 ? '100%' : item.type.height }}</td>
                {% endif %}
                <td>{{ item.type.title }}</td>
                <td class="ele-center">
                    <a href="{{ path('backend_campaigns_show', {pubId: item.id}) }}" class="btn btn-success btn-icon">
                        <i class="ion ion-md-search"></i> Consulter
                    </a>
                    <a href="{{ path('backend_campaigns_add', {pubId: item.id}) }}" class="btn btn-complete btn-icon">
                        <i class="ion ion-md-add"></i> Nouveau
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination is defined %}
        {{ pagination|raw }}
    {% endif %}
{% endblock %}
