{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/prices.css') }}">
{% endblock %}

{% set seo = {'title': 'Nos tarifs', 'description': ''} %}

{% block content %}
    <div class="container">
        <div class="header-title">
            <h1>{{ seo.title }}</h1>
        </div>
        <div class="page-title">
            <h2>Tarifs publicité</h2><br />
            <h3>Défilement toutes les 5secondes</h3>
        </div>

        <div class="pub-plans">
            <div class="pub-plan">
                <div class="pub-content">
                    <div class="pub-price">150 dhs</div>
                    <span>Une semaine</span>
                </div>
            </div>
            <div class="pub-plan">
                <div class="pub-content">
                    <div class="pub-price">500 dhs</div>
                    <span>Un mois</span>
                </div>
            </div>
            <div class="pub-plan">
                <div class="pub-content">
                    <div class="pub-price">1200 dhs</div>
                    <span>Trois mois</span>
                </div>
            </div>
            <div class="pub-plan">
                <div class="pub-content">
                    <div class="pub-price">2000 dhs</div>
                    <span>Six mois</span>
                </div>
            </div>
            <div class="pub-plan">
                <div class="pub-content">
                    <div class="pub-price">3500 dhs</div>
                    <span>Un an</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="page-title">
            <h2>Tarifs client</h2>
        </div>

        <div class="site-plans">
            <div class="row">
                <div class="col-sm-3">
                    <div class="site-labels">
                        <div class="plan-title"></div>
                        <ul class="ele-left">
                            <li>Informations personels</li>
                            <li>Informations de contact</li>
                            <li>Photo de profil</li>
                            <li>4x Photos complémentaire</li>
                            <li>Biographie / Description</li>
                            <li>Palmares / Experiences</li>
                            <li>Partage sur les réseaux sociaux</li>
                            <li>Commentaires</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="site-plan">
                        <div class="plan-title">Pilote</div>
                        <ul>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Informations personels</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Informations de contact</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Photo de profil</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>4x Photos complémentaire</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Biographie / Description</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Palmares / Experiences</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Partage sur les réseaux sociaux</span></li>
                            <li><i class="ion-minus"></i></li>
                            <li class="plan-price">100 dhs</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="site-plan">
                        <div class="plan-title">Officiel</div>
                        <ul>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Informations personels</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Informations de contact</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Photo de profil</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>4x Photos complémentaire</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Biographie / Description</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Palmares / Experiences</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Partage sur les réseaux sociaux</span></li>
                            <li><i class="ion-minus"></i></li>
                            <li class="plan-price">100 dhs</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="site-plan">
                        <div class="plan-title">Professionel</div>
                        <ul>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Informations personels</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Informations de contact</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Photo de profil</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>4x Photos complémentaire</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Biographie / Description</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Palmares / Experiences</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Partage sur les réseaux sociaux</span></li>
                            <li><i class="ion ion-md-checkmark-circle-outline"></i><span>Commentaires</span></li>
                            <li class="plan-price">100 dhs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
