@import "../../node_modules/autocompleter/autocomplete.css";
@import "./plugins/uploader";
@import "core/variables";
@import "~normalize.css";
@import "core/bootstrap-grid";
@import "core/functions";
@import "core/mixins";
@import "ui/form";
@import "ui/elements";
@import "ui/blocs";
@import "ui/commons";
@import "ui/tables";
@import "blocs/menu";
@import "blocs/paginator";
@import "admin/layout";
@import "dark-mode";

h1, h2, h3, h4, h5, h6 {
  margin-left: 0;
}

h1 {
  margin: 0;
}

.multiLiveUploader.lu-cols-3 > div {
  float: left;
  width: 25%!important;
  label {
    padding-left: 15px;
  }
  .liveUploads {
    width: 100%;
    float: none;
  }
}

.select-picker-container > ul {
  width: 100%;
}

.table {
  td {
    p {
      font-size: 18px;
    }
    .action-links {
      font-size: 12px;
      a {
        font-size: 12px;
        display: inline-block;
        &:after {
          content: '|';
          font-size: 12px;
          display: inline-block;
          margin: 0 5px;
        }
        &:last-child:after {
          display: none;
        }
      }
    }
  }
}

.item-container {
  @include border-radius(4px);
  margin-bottom: 30px;
  padding: 20px;
  .item-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    min-height: 85px;
  }
  .item-actions {
    display: flex;
    a {
      flex: auto;
      margin: 0 10px;
      height: 50px;
      line-height: 50px;
      i {
        height: 50px;
        line-height: 50px;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.app-navbar {
  display: flex;
  margin-bottom: 40px;
  > div {
    flex: auto;
  }
  .navbar-actions {
    text-align: right;
  }
}

.dark-mode {
  label, p, table {
    color: whitesmoke;
  }
  table {
    th, td {
      border-color: #555;
      font-weight: normal;
    }
  }
  .light-bloc * {
    color: #333!important;
  }
  .dark-bloc * {
    color: whitesmoke!important;
  }
  .item-container {
    background-color: #333;
  }
  .box {
    box-shadow: none;
    @include border-radius(4px);
    .title {
      background-color: whitesmoke;
      color: #333;
      border-bottom: 1px #eee solid;
    }
  }
}
