.dark-mode {
  background-color: #222;
  p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  a {
    color: goldenrod;
    &:hover, &:active, &:hover {
      color: gold;
    }
  }
  footer.footer {
    background-color: #111;
    border: none;
    h3 {
      color: #555;
    }
    .footer-bottom {
      background-color: #000;
      color: whitesmoke;
    }
  }
}
