{% extends "layout.twig" %}

{% block content %}

    <div class="padding-tb">
        <table class="table table-bordered">
            <thead>
            <th>Position</th>
            <th>Pilote</th>
            <th>Voiture</th>
            <th>N° de Course</th>
            <th>Catégorie</th>
            <th>Club</th>
            <th>Ville 1</th>
            <th>Ville 2</th>
            <th>Ville 3</th>
            <th>Ville 4</th>
            <th>Ville 5</th>
            <th>Ville 6</th>
            <th>Ville 7</th>
            <th>Ville 8</th>
            <th>Ville 9</th>
            <th>Ville 10</th>
            <th>Total</th>
            </thead>
            <tbody>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            </tbody>
        </table>
    </div>

{% endblock %}