{% extends "base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/contact.css') }}">
{% endblock %}

{% block content %}
    <div class="container contact-container">
        <div class="header-title">
            <h1>{{ seo.title }}</h1>
        </div>
        <div class="contact-intro">
            <h2>Besoin d'informations ?</h2>
            <p>Donnez-nous tous les détails ci-dessous, et nous reviendrons vers vous dès que possible.</p>
            <p><strong>PRESENCE TELEPHONIQUE de 10h à 20h ({{ site.settings.portable }})</strong></p>
        </div>
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            <div class="row">
                <div class="col-sm-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-sm-4">
                    {{ form_row(form.phone) }}
                </div>
            </div>

            {{ form_row(form.subject) }}

            {{ form_row(form.message) }}

            <div class="form-actions">
                {{ form_widget(form.captcha) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript %}
    {% include '@ReCaptcha/validation.html.twig' %}
    {% include 'tinymce.html.twig' only %}
{% endblock %}
