{% extends "layout.twig" %}

{% block header %}
    <h1>{{ meta_title }}</h1>
{% endblock %}

{% block content %}

    <div id="body" class="container">
        {{ content | raw }}
    </div>

{% endblock %}