{% extends "base.html.twig" %}

{% block stylesheet %}
    <link href="{{ asset('build/css/v2/home.css') }}" rel="stylesheet">
{% endblock %}

{% set hasNextEvent = nextEvent is defined and nextEvent is not null %}

{% block content %}

    {% include 'pubs/home/page.twig' %}

    <div class="section-container">
        <section class="section-articles{% if hasNextEvent == false %} no-event{% endif %}">
            <div class="section-title">
                <h3>Derniers articles</h3>
                <a href="{{ path('blog_home') }}">Voir tous les articles</a>
            </div>
            <div class="section-items">
                {% for post in posts %}
                    {% include 'blocs/article.html.twig' with {item: post} %}
                {% endfor %}
            </div>
        </section>
        {% if hasNextEvent %}
        <section class="section-events">
            <div class="section-title">
                <h3>L'évenement à venir</h3>
            </div>
            <ul class="section-items">
                <h2 class="event-title">{{ nextEvent.title }}</h2>
                <img src="{{ asset(resize(nextEvent.getPhoto(), 400, 300, 'events')) }}" class="event-image" alt="{{ nextEvent.title }}">
                <div class="event-date">
                    <div class="event-start">Commence le <span>{{ nextEvent.startAt|date('d/m/Y') }}</span></div>
                    <div class="event-end">Se termine le <span>{{ nextEvent.endAt|date('d/m/Y') }}</span></div>
                </div>
                <a href="{{ path('events_home') }}" class="events-link">Voir toutes les évenemnts</a>
            </ul>
        </section>
        {% endif %}
    </div>

    {% include 'pubs/home/large.twig' %}

    {% if customers is defined and customers|length > 0 %}
        <section class="section-discover">
            <div class="section-title">
                <h3>à découvrir</h3>
            </div>
            <div class="section-items">
                {% for item in customers %}
                    <div class="item-container">
                        {% include 'blocs/' ~ item.type ~ '.html.twig' with {item: item} %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}
