{% if metas and metas|length > 0 %}
    <div class="articles">
        <div class="bloc_title">Catégories</div>
        {% for meta in metas %}
        <a class="bloc_meta" href="{{ asset('blog/' ~ meta.slug) }}">
            {{ meta.titre }} <span class="badge pull-right">{{ meta.count }}</span>
        </a>
        {% endfor %}
    </div>
{% endif %}

{% if hots and hots|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Articles populaires</h2>
        {% for article in hots %}
            <a class="bloc_article" href="{{ asset('blog/' ~ article.smeta ~ '/' ~ article.url ~ '/' ~ article.slug ~ '/' ~ article.id) }}">
                <div class="bloc__image" style="background-image: url({{ asset_img(article.post_photo, 80, 80, 'posts') }})"></div>
                <h3 class="bloc__title">{{ article.post_titre }}</h3>
                <time datetime="{{ article.utc_datetime }}" class="bloc__date">{{ article.created_at }}</time>
                <div class="clearfix"></div>
            </a>
        {% endfor %}
    </div>
{% endif %}

<div class="pub">
    <a href="http://www.agence-keydesign.com">
        <img src="<?= IMG; ?>pub/keydesign-agence-web-casablanca.png" class="img-responsive" alt="Agence web casablanca">
    </a>
</div>

{% if recents and recents|length > 0 %}
    <div class="articles">
        <h2 class="bloc_title">Articles récents</h2>
        {% for article in recents %}
            <a class="bloc_article" href="{{ asset('blog/' ~ article.smeta ~ '/' ~ article.url ~ '/' ~ article.slug ~ '/' ~ article.id) }}">
                <div class="bloc__image" style="background-image: url({{ asset_img(article.post_photo, 80, 80, 'posts') }})"></div>
                <h3 class="bloc__title">{{ article.post_titre }}</h3>
                <time datetime="{{ article.utc_datetime }}" class="bloc__date">{{ article.created_at }}</time>
                <div class="clearfix"></div>
            </a>
        {% endfor %}
    </div>
{% endif %}