<div class="page-title">
    <h2>Tarifs publicité</h2><br />
    <h3>Défilement toutes les 5secondes</h3>
</div>

<div class="pub-plans">
    <div class="pub-plan">
        <div class="pub-content">
            <div class="pub-price">150 dhs</div>
            <span>Une semaine</span>
        </div>
    </div>
    <div class="pub-plan">
        <div class="pub-content">
            <div class="pub-price">500 dhs</div>
            <span>Un mois</span>
        </div>
    </div>
    <div class="pub-plan">
        <div class="pub-content">
            <div class="pub-price">1200 dhs</div>
            <span>Trois mois</span>
        </div>
    </div>
    <div class="pub-plan">
        <div class="pub-content">
            <div class="pub-price">2000 dhs</div>
            <span>Six mois</span>
        </div>
    </div>
    <div class="pub-plan">
        <div class="pub-content">
            <div class="pub-price">3500 dhs</div>
            <span>Un an</span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>