<div class="page-title">
    <h2>Tarifs client</h2>
</div>

<div class="site-plans">
    <div class="row">
        <div class="col-sm-3">
            <div class="site-labels">
                <div class="plan-title"></div>
                <ul class="ele-left">
                    <li>Informations personels</li>
                    <li>Informations de contact</li>
                    <li>Photo de profil</li>
                    <li>4x Photos complémentaire</li>
                    <li>Biographie / Description</li>
                    <li>Palmares / Experiences</li>
                    <li>Partage sur les réseaux sociaux</li>
                    <li>Commentaires</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="site-plan">
                <div class="plan-title">Pilote</div>
                <ul>
                    <li><i class="ion-checkmark-circled"></i><span>Informations personels</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Informations de contact</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Photo de profil</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>4x Photos complémentaire</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Biographie / Description</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Palmares / Experiences</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Partage sur les réseaux sociaux</span></li>
                    <li><i class="ion-minus"></i></li>
                    <li class="plan-price">100 dhs</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="site-plan">
                <div class="plan-title">Officiel</div>
                <ul>
                    <li><i class="ion-checkmark-circled"></i><span>Informations personels</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Informations de contact</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Photo de profil</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>4x Photos complémentaire</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Biographie / Description</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Palmares / Experiences</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Partage sur les réseaux sociaux</span></li>
                    <li><i class="ion-minus"></i></li>
                    <li class="plan-price">100 dhs</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="site-plan">
                <div class="plan-title">Professionel</div>
                <ul>
                    <li><i class="ion-checkmark-circled"></i><span>Informations personels</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Informations de contact</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Photo de profil</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>4x Photos complémentaire</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Biographie / Description</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Palmares / Experiences</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Partage sur les réseaux sociaux</span></li>
                    <li><i class="ion-checkmark-circled"></i><span>Commentaires</span></li>
                    <li class="plan-price">100 dhs</li>
                </ul>
            </div>
        </div>
    </div>
</div>