{% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour,</p><br>
    <ul>
        <li>Alias : {{ email.name }}</li>
        <li>Téléphone : {{ email.phone }}</li>
        <li>Sujet : {{ email.subject }}</li>
    </ul>
    {{ email.message|raw }}
{% endblock %}
