({% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour {{ user_name }},</p><br>
    <p>Vous trouverez ci-dessous, vos identifiants:</p>
    <ul style="margin-bottom:0px">
        <li>E-mail : {{ user_email }}</li>
        <li>Mot de passe : {{ user_mdp }}"</li>
    </ul>
    <p style="text-align: center">
        <a href="{{ asset() }}">
            <img src="{{ asset('/build/images/btn_visite.jpg') }}" alt="visiter le site">
        </a>
    </p>
{% endblock %}
