({% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour,</p><br>
    <p>Vous avez récemment sollicité une réinitialisation de votre mot de passe.</p>
    <p>	Pour créer un nouveau mot de passe cliquez sur le bouton ci-dessous :</p>
    <p style="text-align: center">
        <a href="{{ asset('reinitialiser/' ~ user_email ~ '/' ~ user_key) }}">
            <img src="{{ asset('/build/images/btn_valider.jpg') }}" alt="Valider la requête">
        </a>
    </p><br>
    <p>Ou collez ce lien directement dans votre navigateur, </p>
    <p>
        <a href="{{ asset('reinitialiser/' ~ user_email ~ '/' ~ user_key) }}">
            {{ asset('reinitialiser/' ~ user_email ~ '/' ~ user_key) }}
        </a>
    </p><br>
    <p>Si vous n’êtes pas à l’origine de cette demande, veuillez ne pas tenir compte de ce message. Ce lien expirera dans 24 heures, assurez-vous de l'utiliser rapidement.</p>
{% endblock %}
