({% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour,</p><br>
    <p>Votre mot de passe a été modifié, vous trouverez ci-dessous, les nouveaux identifiants:</p>
    <ul>
        <li>E-mail : {{ user_email }}</li>";
        <li>Mot de passe : {{ user_mdp }}</li>
    </ul>
    <p style="text-align: center">
        <a href="{{ asset() }}">
            <img src="{{ asset('/build/images/btn_visite.jpg') }}" alt="visiter le site">
        </a>
    </p>
{% endblock %}
