({% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour {{ user_name }},</p><br>
    <p>Une demande de création de compte a été effectuée sur {{ sitename }}. Vous recevez cet email afin de confirmer que vous en êtes bien l’auteur.</p><br>
    <p>Pour finaliser votre inscription, merci de cliquer sur le lien suivant :</p>
    <p style="text-align: center">
        <a href="{{ asset('activate/' ~ user_email ~ '/' ~ user_key) }}">
            <img src="{{ asset('/build/images/btn_activation.jpg') }}" alt="activer votre compte">
        </a>
    </p><br>
    <p>	Si vous n’êtes pas à l’origine de cette demande, merci de ne pas tenir compte de ce message. Votre inscription ne sera pas validée et vous ne serez pas recontacté.</p>
{% endblock %}
