({% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour {{ user_name }},</p><br>
    <p>Votre inscription à votre compte personnel est à présent terminée.</p>
    <p>Toute l'équipe vous remercie de votre confiance et vous souhaite la bienvenue.</p>
    <p>Pour modifier vos informations, rendez-vous sur votre compte.</p>
    <p style="text-align: center">
        <a href="{{ asset() }}">
            <img src="{{ asset('/build/images/btn_visite.jpg') }}" alt="visiter le site">
        </a>
    </p><br>
    pVous recevez cet email de confirmation suite à la création de votre compte personnel sur {{ sitename }}. Si ce n’est pas le cas, veuillez ne pas tenir compte de ce présent mail.</p>
{% endblock %}
