{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.admin.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-options"></i> Offre {{ attributes.get('type')|trans }}</h1>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-8">{{ form_row(form.title) }}</div>
            <div class="col-lg-4">{{ form_row(form.amount) }}</div>
        </div>
        {{ form_row(form.content) }}
        <div class="align-right">
            <input type="submit" value="Enregistrer">
        </div>
    {{ form_end(form) }}

{% endblock %}
