{% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour monsieur ou madame {{ sendToName }},</p><br>
    <p>Bienvenu sur le site {{ site.settings.sitename }},</p><br>
    <p><strong>Voici votre n° de commande:</strong> {{ transactionCode }}</p>
    <p>Afin de valider votre fiche, merci de verser le montant de {{ transactionAmount }} dhs  sur le compte n°181 810 21111 76584120000 12 (Banque populaire) en mentionnant sur le bordereaux votre numéro de commande.</p>
    <p>Pour une meilleure réactivité (validation dans la journée de l'inscription), vous pouvez scanner le bordereaux et l'envoyer sur l'adresse : {{ site.settings.email }}, ou le prendre en photo et l'envoyer sur le numéro whatsapp {{ site.settings.portable }}. Le processus normal prendra au maximum 48h.</p>
    <p>NB : il est a noté que chaque mise à jour annuelle des fiches pilotes et officiels coute 50 Dhs.</p>
    <p>Nous restons à votre disposition pour tout complément d'information.</p>
{% endblock %}
