// Basic item
.item {
  position: relative;
  margin-bottom: 30px;
  .item-image {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 300px;
  }
  .item-sticky {
    @include absolute();
    z-index: 2;
    height: 45px;
    > div {
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      font-size: 24px;
      font-weight: 600;
      display: inline-block;
    }
    .item-price {
      background-color: gold;
      color: #694b00;
    }
    .item-discount {
      float: right;
      background-color: $secondColor;
      color: #fff;
    }
  }
  .item-header {
    .item-section {
      text-transform: uppercase;
      font-size: 12px;
      margin: 0;
    }
    .item-title {
      font-size: 18px;
      margin: 0;
    }
    .item-byline {
      margin: 0;
      li {
        display: inline-block;
        margin-right: 5px;
        &.item-event {
          display: block;
        }
      }
    }
  }
  &.item-shadow {
    @include drop-shadow(0,1px,2px,.2);
    padding: 20px;
    text-align: center;
  }
  &.item-cover {
    height: 400px;
    .item-image {
      @include absolute();
      background-position: center center;
      background-size: cover;
      height: 100%;
      z-index: 1;
      &:after {
        content: '';
        display: block;
        @include opacity(1);
        @include background-gradient(#000, transparent, 'vertical');
        @include transition();
        @include absolute(0, -1px, -1px, 0);
      }
      &.item-image-rounded-border {
        @include border-radius(4px);
        &:after {
          @include border-radius(0 0 4px 4px);
        }
      }
    }
    .item-link {
      @include absolute();
      height: 100%;
      z-index: 3;
      width: 100%;
    }
    .item-header {
      padding: 0 1rem 1.25rem 1rem;
      position: absolute;
      bottom: 0; left: 0;
      color: #ccc;
      z-index: 4;
      width: 100%;
      .item-title {
        color: #fff;
        text-transform: uppercase;
        margin: 10px 0;
      }
      .item-section {
        color: #8B98AD;
        font-size: 13px;
        @include transition();
        a { color: $secondColor; }
      }
      .item-byline li a {
        color: $secondColor;
      }
    }
    &:hover, &:focus {
      .item-image:after {
        @include opacity(.9);
      }
      .item-header {
        .item-section {
          color: lighten(#8B98AD, 15%)!important;
        }
      }
    }
  }
}

.empty-bloc {
  border: 1px #ccc dashed;
  font-size: 15px;
  color: #555;
  padding: 25px 40px;
  margin: 0 auto;
  max-width: 380px;
}
