@each $key, $color in $alertColors {
  .alert-text-#{$key} {
    color: lighten($color, 20%);
  }
  .alert-#{$key} {
    background-color: lighten($color, 30%);
    border: 1px solid lighten($color, 25%);
    @include border-radius();
    padding: 15px 20px;
    color: #333;
    font-size: 14px;
    li {
      list-style: initial;
      margin-bottom: 5px;
      margin-left: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .badge-#{$key} {
      background-color: $color;
      color: lighten($color, 60%);
    }
  }
  .btn-#{$key} {
    color: #ffffff;
    background-color: $color;
    border-color: $color;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    &:hover, &:focus {
      background-color: lighten($color, 5%);
      color: #ffffff;
    }
    &.btn-rounded {
      @include border-radius(4px);
    }
    &.btn-modern {
      background-color: transparent;
      color: $color;
    }
    &.btn-icon {
      font-size: 1.5rem;
      padding: 0!important;
      display: inline-block;
      text-align: center;
      width: 60px;
    }
  }
}

.alert-success {
  background-color: #d9ffe0;
  border-color: #d9ffe0;
}

.alert-warning {
  background-color: #fff0d0;
  border-color: #fff0d0;
}

.alert-danger {
  background-color: #ffd7d7;
  border-color: #ffd7d7;
}

.socials-btns {
  text-align: right;
  list-style: none;
  margin: 40px 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 5px 0 0;
    a {
      @include drop-shadow(0,0,0,0);
      @include border-radius(2px);
      //padding: 5px 10px;
      font-size: 12px;
    }
  }
}

section {
  .section-title {
    @extend %clearfix;
    * {
      height: 40px;
      line-height: 40px;
      margin: 0;
      display: block;
    }
    h3 {
      float: left;
    }
    a {
      float: right;
    }
  }
  .section-items {
    height: 500px;
    .item {
      float: left;
      @include border-radius(0);
    }
  }
}

.confirm {
  width: 400px;
  margin: 0 auto;
  @include drop-shadow();
  padding: 20px;
  text-align: center;
  a {
    display: inline-block;
    margin: 0 5px;
  }
}
