body {
  font-family: 'Raleway', sans-serif;
}

a {
  color: $darkenColor;
  font-size: 14px;
  text-decoration: none;
  &:hover, &:active {
    color: lighten($dangerColor, 10%);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', cursive;
}

ul {
  list-style: none;
  padding: 0;
}

.app-wrapper {
  padding: 110px 40px 40px;
  .header-title {
    margin-left: 30px;
    border-left: 4px $secondColor solid;
    position: relative;
    h1 {
      margin-bottom: 30px;
      margin-left: 10px;
    }
  }
}

.img-responsive {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.reset-margin {
  margin: 0!important;
}

.clearfix {
  &:before, &:after {
    clear: both;
    content: ' ';
    width: 100%;
    display: block;
    height: 1px;
  }
}

.badge {
  background-color: #eee;
  display: inline-block;
  height: 25px;
  font-weight: normal;
  line-height: 25px;
  @include border-radius(2px);
  padding: 0 10px;
  font-size: 12px;
  &.badge-confirmed {
    background-color: $mainColor;
  }
  &.badge-pending {
    background-color: $warningColor;
  }
  &.badge-success {
    background-color: $successColor;
  }
  &.badge-danger {
    background-color: $dangerColor;
  }
}

.form-fieldset {
  margin: 0 0 20px;
  padding: 20px;
  border: 1px solid #eee;
  legend {
    font-size: 16px;
    width: auto;
    padding: 0 10px;
    border: none;
    margin: 0;
  }
}

.align-center {
  text-align: center;
}

@each $direction in (top, right, bottom, left) {
  .align-#{$direction} {
    text-align: $direction;
  }
}

#disqus_thread {
  padding: 20px;
}

.home-section {
  .home-section--left {
    padding-left: 0;
  }
  .home-section--right {
    padding-right: 0;
  }
  .home-section--events {
    .coveritem {
      width: 50%;
      height: 350px;
      float: left;
      border: 7.5px #fff solid;
      &:nth-child(2n+1) {
        border-right: none;
      }
      &:nth-child(2n+2) {
        border-left: none;
      }
    }
  }
}

.static-map {
  margin-top: 20px;
  img {
    width: 100%;
    @include border-radius(4px);
  }
}
