@import "../core/variables";
@import "../core/mixins";

label {
  font-weight: 400;
  font-size: 12px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="datetime-local"],
textarea, select, .bootstrap-select button {
  -webkit-appearance: none;
}

input, textarea, select, .bootstrap-select button {
  border: 1px solid #eee;
  font-size: 16px;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-weight: 300;
  @include border-radius(3px);
  &:hover, &:focus {
    background: #fff;
    outline: none;
  }
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  height: auto;
  line-height: normal;
}

.bootstrap-select button {
  border: none;
}

textarea {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  line-height: 24px;
}


input[type="submit"] {
  display: inline-block;
  padding: 0 30px;
  margin: 0 5px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  background-color: #0078c6;
  border-color: #0069ad;
}

/**
 * Personaliser les tags
 */

.btn-group.open .dropdown-toggle {
  @include drop-shadow(0,0,0,0);
  background: #fff;
  outline: none;
}

.picker__header select {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 12px !important;
}

.error {
  input, textarea, select, .bootstrap-select button {
    margin-bottom: 2px;
    border-color: #FFD2D2;
  }
  label:last-child, p:last-child {
    margin-top: 2px;
    margin-bottom: 15px;
    color: darken(#FFD2D2, 20%);
    font-size: 12px;
  }
}

.ingroup {
  label {
    display: block;
    margin-bottom: 2px;
  }
  input {
    width: 100%;
  }
}

.form-group {
  display: flex;
  .form_row {
    display: inline-grid;
    flex: auto;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.form_row {
  margin-bottom: 15px;
  input[type="text"], input[type="email"],input[type="password"],input[type="date"],input[type="datetime-local"], select, .select-picker-container {
    display: block;
    margin: 3px 0 5px 0;
  }
  div[id$="_birth_at"] {
    display: flex;
    > div {
      display: inline-grid;
      margin-right: 5px;
    }
  }
}

.form-options {
  margin: 15px 0;
  font-size: 14px;
}

.form-actions {
  margin-top: 20px;
  text-align: right;
  button, input[type="submit"] {
    @include border-radius(4px);
    background-color: $completeColor;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    border: none;
    color: #fff;
  }
}
