footer.footer {
  background-color: whitesmoke;
  border-top: 1px #eee solid;
  .container {
    display: flex;
    .social-title {
      font-size: 14px;
    }
    .social-pages {
      margin-top: 0;
      li {
        display: inline-block;
        margin-right: 5px;
        a {
          i {
            font-size: 1.8rem;
            color: #282828;
            &:hover {
              color: #1DA1F2;
            }
            &.ion-logo-facebook:hover {
              color: #3C5A99;
            }
            &.ion-logo-youtube:hover {
              color: #FF0000;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: #eee;
    text-align: center;
    line-height: 35px;
    height: 35px;
    margin: 0;
    font-size: 12px;
    color: #555;
    letter-spacing: 1px;
  }
}
