.pub-arc {
  background: #d5d5d5 url('/images/pub-arc-demo.jpg') no-repeat fixed 50% 70px;
  .app-wrapper {
    background-color: #fff;
    width: 1200px;
    margin: 270px auto 0;
    padding-top: 10px;
  }
}
