.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  &.table-bordered {
    border: 1px solid #dee2e6;
  }
  tbody, thead {
    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
      th, td {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
      }
    }
  }
  thead {
    tr {
      th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
      }
    }
  }
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}
