.form_row {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="datetime-local"],
  .select-picker-container,
  .select-picker-container button {
    width: 100%;
    height: 40px;
  }
  .select-picker-container ul {
    width: 100%;
  }
}
