@import "settings/colorSchema";
@import "components/commons";
@import "components/buttons";
@import "components/header";
@import "components/navigation";
@import "components/searchbar";
@import "form";
@import "../blocs/paginator";
@import "../blocs/box";
@import "../blocs/menu";

body {
  background: #fff;
  font-family: Roboto,'Open Sans',Arial;
}

.warp {
  padding: 70px 0 70px 230px;
  z-index: 1;
  overflow: auto;
  .warp_content {
    padding: 30px;
    .paginator {
      text-align: center;
    }
  }
}
