{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/register.css') }}">
{% endblock %}

{% block content %}
    <div class="register-confirmation">
        <i class="ion ion-ios-checkmark-circle-outline"></i>
        <div class="confirmation-id">
            <strong>Numéro de commande</strong>
            <span>{{ transactionCode }}</span>
        </div>
        <p>Un mail vous a été envoyé avec toutes les informations nécessaires.</p>
    </div>
{% endblock %}
