{% extends 'base.html.twig' %}

{% form_theme form 'form/theme.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/register.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header-title">
            <h1>Créer votre compte Officiel</h1>
        </div>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-4">
                {% include 'blocs/live-uploader.html.twig' with {key: 'profile', pictures: pictures} %}
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.birthAt) }}
                        {{ form_row(form.club) }}
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        {{ form_row(form.job) }}
                        {{ form_row(form.phones) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.categories, {id: 'category'}) }}
                    </div>
                </div>
            </div>
        </div>
        {% include 'blocs/live-uploader.html.twig' with {
            keys: ['photo1', 'photo2', 'photo3', 'photo4'],
            pictures: pictures
        } %}
        <div class="clearfix">
            {{ form_row(form.content) }}
        </div>
        <div class="align-right">
            <input type="submit" value="Valider">
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'tinymce.html.twig' %}
{% endblock %}
