{% extends 'base.html.twig' %}

{% form_theme form 'form/theme.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/register.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                {{ form_start(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.category) }}
                {{ form_row(form.year) }}

                {% if isCustomerDriver(customerType) %}
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.vehicle) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.victories) }}
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        {{ form_row(form.raking) }}
                    </div>
                </div>
                {% endif %}

                <div class="form-action align-right">
                    <input type="submit" value="{{ app.request.attributes.get('id') ? 'Mettre à jour' : 'Ajouter' }}">
                    <a href="{{ path('register_customer_confirmation', {label: label}) }}" class="btn btn-success btn-rounded">Valider mon inscription</a>
                </div>

                {{ form_end(form) }}
            </div>
            <div class="col-md-7 col-sm-12 story-table">
                {% if items|length > 0 %}
                    <div class="story-table">
                        {% for index, item in items %}
                            <div class="story-item">
                                <h3>{{ item.title }}</h3>
                                {% if isCustomerDriver(customerType) %}
                                    <p>Véhicule: {{ item.vehicle }}</p>
                                    <div class="badge-list">
                                        <span class="badge">{{ item.year }}</span>
                                        <span class="badge">{{ item.category ? item.category.title : '' }}</span>
                                        <span class="badge">{{ item.victories }} Victoire(s)</span>
                                        <span class="badge">{{ item.raking }}<sup>{{ item.raking > 1 ? 'ème' : 'ère' }}</sup> place</span>
                                    </div>
                                {% else %}
                                    <div class="badge-list">
                                        <span class="badge">{{ item.category ? item.category.title : '' }}</span>
                                    </div>
                                {% endif %}
                                <div class="story-action">
                                    <a href="{{ path('register_story_update', {label: label, id: index}) }}" class="loadEntry btn btn-success btn-rounded">
                                        Modifier
                                    </a>
                                    <a href="{{ path('register_story_delete', {label: label, id: index}) }}" class="deleteEntry btn btn-danger btn-rounded">
                                        Supprimer
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="empty-bloc">Veuillez ajouter une experience</div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
