{% extends "user/layout.html.twig" %}

{% block memberContent %}

    <div class="alert alert-complete">
        <p>NB : toute modification de vos deals impliquera la validation de la part de notre équipe. (Dans les 24H qui suivent)</p>
    </div>

    <div class="user-actions align-right">
        <a href="{{ path('user_deal_add') }}" class="btn-complete">Ajouter</a>
    </div>

    {% if paginate.items and paginate.items|length > 0 %}
        {% for item in paginate.items %}
        <div class="item">
            <div class="item-infos">
                <div class="item-title">
                    {% if item.status == 'pending' %}
                        <span class="badge badge-warning">En validation</span>
                    {% else %}
                        <span class="badge badge-success">Publié</span>
                    {% endif %}
                    <strong>{{ item.title }}</strong>
                </div>
                <ul class="item-metas">
                    <li>Déposé le <strong>{{ item.createdAt|date('d/m/Y H:i') }}</strong></li>
                    <li>Dans <strong>{{ item.category.title }}</strong></li>
                </ul>
            </div>
            <div class="item-actions">
                <a href="{{ path('user_classified_update', { 'id': item.id }) }}" class="btn btn-complete">Modifier</a>
                {% if item.isArchived %}
                    <a href="{{ path('user_classified_archive', { 'archive': 'archiver', 'id': item.id }) }}" class="btn btn-success">Publier</a>
                {% else %}
                    <a href="{{ path('user_classified_archive', { 'archive': 'publier', 'id': item.id }) }}" class="btn btn-danger">Archiver</a>
                {% endif %}
                <a href="{{ path('user_classified_show', { 'id': item.id }) }}" class="btn btn-primary">Consulter</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="empty-bloc">
            Vous n'avez pas encore ajouter un deal
        </div>
    {% endif %}

{% endblock %}
