{% extends 'user/layout.html.twig' %}

{% block content %}

    <div id="orderPage">

        <div class="alert alert-info">
            <p>NB : veuillez lire les conditions ci-dessous</p>
        </div>

        <i class="ion-ios-checkmark-outline"></i>
        <div id="orderNumber">
            <strong>Numéro de commande</strong>
            <span>{{ orderNumber }}</span>
        </div>
        <p>Un mail vous a été envoyé avec toutes les informations nécessaires.</p>
    </div>

{% endblock %}
