{% extends "user/layout.html.twig" %}

{% form_theme form "form/theme.html.twig" %}

{% block memberContent %}
    <div class="alert alert-complete">
        <p>NB : toute modification de vos deals impliquera la validation de la part de notre équipe. (Dans les 24H qui suivent)</p>
    </div>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ form_row(form.category) }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form_row(form.price) }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form_row(form.discount) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-xs-12">
                {{ form_row(form.address) }}
            </div>
            <div class="col-sm-3 col-xs-12">
                {{ form_row(form.city) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form_row(form.minimumRequirement) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form_row(form.maximumRequirement) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form_row(form.startAt) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form_row(form.endAt) }}
            </div>
        </div>
        {% include 'blocs/live-uploader.html.twig' with {
            keys: ['photo1', 'photo2', 'photo3', 'photo4'],
            pictures: pictures
        } %}
        {{ form_row(form.content) }}
        <div class="form-action pull-right">
            <input type="submit" value="Enregistrer">
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
