@import "../core/variables";
@import "../core/mixins";

#editPhoto {
  display: none;
  .bootstrap-select>button, button, input[type=text], input[type=date], input[type=time], input[type=password], textarea {
    width: auto;
  }
  .modal-footer {
    button {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 8px;
    }
    p {
      margin: 0;
      text-align: center;
      color: #555;
      font-size: 16px;
      color: orangered;
    }
  }
  .image-mask {
    position: relative;
    width: 290px;
    height: 300px;
    margin: 30px auto;
    background: url(/images/bg-photo.jpg);
    overflow: hidden;
    cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;
    img {
      position: absolute;
      top: 0; left: 0;
    }
    &.img-large {
      width: 800px;
      height: 450px;
    }
  }

  label {
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: block;
  }

  input:before {
    left: 0em;
    content: attr(min);
  }
  input:after {
    right: 0em;
    content: attr(max);
  }
}

.liveUploads {
  margin-bottom: 20px;
  .lu-container {
    position: relative;
    background: whitesmoke no-repeat;
    @include background-size();
    width: 285px;
    height: 285px;
    margin: 0 auto;
    text-align: center;
    line-height: 285px;
    @include border-radius(3px);
    > i {
      color: #d0d0d0;
      font-size: 5em;
    }
    input[type="file"] {
      width: 100%;
      bottom: 0;
      height: 50px;
      display: none;
    }
    input[type="file"], .input-group {
      + label.error {
        background: rgba(255,255,255,.85);
        color: darken(#FFD2D2, 50%);
        font-size: 16px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    .lu-button {
      position: absolute;
      display: inline-block;
      width: 100%;
      bottom: 0;
      left: 0;
      button {
        border: none;
        display: block;
        width: 100%;
      }
      input {
        display: none;
      }
    }
    .lu-loading {
      background: rgba(255,255,255,.9) url(/images/ul-loading.gif) no-repeat center center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 0;
      height: 100%;
    }
    .delPhoto, .editPhoto, .rotatePhoto {
      position: absolute;
      height: 40px;
      width: 50px;
      text-align: center;
      line-height: 45px;
      background: red;
      top: 0;
      right: 0;
      z-index: 1;
      display: none;
      @include opacity(.8);
      i {
        font-size: 1.5rem;
        color: #fff;
      }
      &:hover, &:focus {
        @include opacity(1);
      }
    }
    .editPhoto {
      background: $completeColor;
      right: 100px;
    }
    .rotatePhoto {
      background: $warningColor;
      right: 50px;
    }
    .ulphotoMini {
      width: 80px;
      height: 80px;
      top: 60px;
      right: -100px;
      position: absolute;
      background-image: url('/images/default-bg.jpg');
      @include background-size(contain, center center);
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

/**
 * Add support for validation jquery plugin
 */
.liveUploads .lu-container {
  label.error {
    font-size: 14px;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .85);
    z-index: 0;
  }
}

/**
 * Add support for filestyle plugin
 */
.liveUploads .lu-container {
  .input-group {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    > span {
      display: block;
      width: 100%;
      height: 50px;
      margin: 0;
      label {
        width: 100%;
        height: 50px;
        line-height: 50px;
        display: block;
        padding: 0;
        margin: 0;
        background: #0078c6;
        border: none;
        color: #fff;
        @include border-radius(0 0 3px 3px);
        &:hover, &:focus {
          outline: none;
          box-shadow: none;
        }
        &:hover {
          background: #1D242F;
          color: #fff;
        }
        &:focus {
          background: #FACD33;
          color: darken(#FACD33, 50%);
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
