{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.admin.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> {{ attributes.get('action')|trans }} un utilisateur</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_users_show') }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-8">
            {{ form_row(form.civility) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.headline) }}
            <div class="align-right">
                <input type="submit" value="Enregistrer">
            </div>
        </div>
        <div class="shad-left col-lg-4 light-bloc">
            <div class="box">
                <div class="title">Confidentialité</div>
                <div class="content">
                    {{ form_row(form.birth_at) }}
                    {{ form_row(form.isActive) }}
                    {{ form_row(form.newsletter) }}
                </div>
            </div>
            <div class="box">
                <div class="title">Rédaction</div>
                <div class="content">
                    {{ form_widget(form.categories) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
