{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-persons"></i> Liste des utilisateurs</h1>
{% endblock %}

{% block content %}

    {% if paginate.items|length > 0 %}
        <table class="table table-striped table-bordered sorted_table hidden">
            <thead>
            <th>Alias</th>
            <th>Role</th>
            <th>Crée le</th>
            <th>actions</th>
            </thead>
            <tbody>
            {% for item in paginate.items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.roles|join(', ')|trans }}</td>
                    <td class="ele-center">{{ item.createdAt|date('d/m/Y H:i') }}</td>
                    <td class="ele-center">
                        <a href="{{ path('backend_users_update', {id: item.id}) }}" class="btn btn-success btn-icon">
                            <i class="ion ion-md-create"></i> Editer
                        </a>
                        <a href="{{ path('backend_users_remove', {id: item.id}) }}" class="btn btn-danger btn-icon">
                            <i class="ion ion-md-close"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table>
            <tr>
                <td colspan="5">Cette section semble triste, veuillez remplir quelques entrées!! <3</td>
            </tr>
        </table>
    {% endif %}

    {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}

{% endblock %}
