<!doctype html>
<html dir="ltr" lang="fr" xml:lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="agence-keydesign.com"/>
    <title>{{ title|default('Sportautomoto') }} | Administration</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="icon" href="{{ asset('/build/images/favicon.ico') }}">
    <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/css/admin/app.css') }}">
    {% block stylesheet %}{% endblock %}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

{% set attributes = app.request.attributes %}

<nav class="nav">
    <button class="nav-toggle-icon">
        <i class="nav-toggle-open icon ion-ios-menu"></i>
        <i class="nav-toggle-close icon ion-ios-close"></i>
    </button>
    <div class="nav-logo">
        <a href="{{ path('home') }}">
            <img src="{{ asset('/build/images/logo.png') }}" alt="{{ site.settings.sitename }}">
        </a>
    </div>
    <div class="nav-primary">
        <ul class="nav-links pull-left">
            <li><a href="{{ path('backend_article_show') }}">Articles</a></li>
            <li><a href="{{ path('backend_driver_show') }}">Pilotes</a></li>
            <li><a href="{{ path('backend_official_show') }}">Officiels</a></li>
            <li><a href="{{ path('backend_professional_show') }}">Professionels</a></li>
            <li class="dropdown hidden-phone dropdown-center">
                <a href="#"><i class="ion ion-ios-keypad"></i></a>
                <ul>
                    <li><a href="{{ path('backend_event_show') }}">Evenements</a></li>
                    <li><a href="{{ path('backend_classified_show') }}">Annonces</a></li>
                    <li><a href="{{ path('backend_deal_show') }}">Bons plans</a></li>
                    <li><a href="{{ path('backend_publicity_show') }}">Publicité</a></li>
                    <li><a href="{{ path('backend_users_show') }}">Utilisateurs</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav-connected pull-right">
            <li>
                <a href="{{ path('backend_article_add', {type: 'article'}) }}" class="nav-btn-annonce">
                    <i class="ion ion-md-megaphone"></i><span> Ecrire un article</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="#">{{ app.user.title }}</a>
                <ul>
                    <li><a href="{{ path('backend_users_profile') }}">Profil</a></li>
                    <li><a href="{{ path('logout') }}" class="nav-btn-logout">Se deconnecter</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="app-wrapper">
    {% include 'blocs/flashBag.html.twig' %}
    <div class="app-navbar">
        <div class="navbar-title">
            {% block pageTitle %}
            {% endblock %}
        </div>
        <div class="navbar-actions">
            {% block pageActions %}
            {% endblock %}
        </div>
    </div>
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <p class="footer-bottom">
        © 2016-{{ "now"|date('Y') }} Copyright Sportautomoto.ma
    </p>
</footer>

<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/admin/app.js') }}"></script>
{% include 'admin/tinymce.html.twig' %}
{% include 'shared/globals.html.twig' %}
{% block javascript %}{% endblock %}
</body>
</html>
