<script src="/js/tinymce/tinymce.min.js"></script>
<script src="/bundles/filemanager/js/fileManager.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '.wysiwyg',
        theme: 'modern',
        menubar:false,
        width: '100%',
        height: 300,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
        ],
        content_css: 'css/content.css',
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
        file_browser_callback_types: 'image',
        file_browser_callback: function (field_name, url, type, win) {
            tinyMceFileManagerCallback(field_name, url, type, win)
        }
    });
    tinymce.init({
        selector: '.wysiwyg-light',
        theme: 'modern',
        menubar:false,
        width: '100%',
        height: 300,
        content_css: 'css/content.css',
        toolbar: 'undo redo | bold italic'
    });
</script>
