{% extends "membre.twig" %}

{% block memberContent %}

    {% if orderNumber is defined %}
        <div id="orderPage">

            <div class="alert alert-info">
                <p>NB : veuillez lire les conditions ci-dessous</p>
            </div>

            <i class="ion-ios-checkmark-outline"></i>
            <div id="orderNumber">
                <strong>Numéro de commande</strong>
                <span>{{ orderNumber }}</span>
            </div>
            <!--p>Un mail vous a été envoyé avec toutes les informations nécessaires.</p-->
        </div>
    {% else %}
        {% if datas and datas|length > 0 %}

            <table id="no-more-tables" class="table table-striped table-bordered">
                <thead>
                <th width="60%">Titre</th>
                <th width="12%">N° commande</th>
                <th width="16%">Commandé le</th>
                <th width="12%">Actions</th>
                </thead>
                <tbody>
                {% for annonce in datas %}
                    <tr>
                        <td data-title="Titre">{{ annonce.title }}</td>
                        <td data-title="Type de bien">{{ annonce.code }}</td>
                        <td data-title="Commandé le" class="ele-center">{{ annonce.created_at }}</td>
                        <td data-title="Actions" class="ele-center">
                            <a href="{{ asset('utilisateur/deals/consulter/' ~ annonce.id_deal) }}" class="btn btn-complete">Consulter</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if pagination %}
                {{ pagination }}
            {% endif %}
        {% else %}
            <div class="empty-bloc">
                Il n'y a aucune commande listé pour cette recherche.
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
