{% if pubList is defined and pubList|length > 0 %}
    <div class="pub-container format-169 {% if responsive == true %}format-responsive{% endif %}">
        {% include 'pubs/shared/slider.twig' with { pubList: pubList } %}
    </div>
{% endif %}