{% if pubList is defined and pubList|length > 0 %}
    <div class="pub-container format-rectangle {% if mini == true %}format-mini{% endif %} {% if responsive == true %}format-responsive{% endif %}">
        {% include 'pubs/shared/slider.twig' with { pubList: pubList } %}
    </div>
{% endif %}