{% extends 'pubs/shared/slider.twig' %}

{% block sliderContent %}
    <a href="{{ pubData.link }}" style="background-image: url(../images/pubs/{{ pubData.image }})" title="{{ pubData.titre }}">
        {{ pubData.titre }}
    </a>
{% endblock %}