<div class="carousel slide pubSlides" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% for index, pubData in pubList %}
            <div class="item {% if index == 0 %}active{% endif %}">
                {% block sliderContent %}
                    <a href="{{ pubData.link }}" style="background-image: url({{ asset('/build/images/pubs/' ~ pubData.image) }})" title="{{ pubData.title }}">
                        {{ pubData.title }}
                    </a>
                {% endblock %}
            </div>
        {% endfor %}
    </div>
</div>
