{% if statusList is defined and statusList|length > 0 %}
    <ul class="post_status separator">
        {% for status, count in statusList %}
            <li>
                <a href="{{ path(app.request.get('_route'), {type: type, status: status}) }}">
                    {{ status|trans }} <span class="badge">{{ count }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
