{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/customer.css') }}">
{% endblock %}

{% block seo_meta %}
    {% include 'blocs/og-metas.html.twig' with {
        url: path('directory_driver_show', {username: item.username, id: item.id}),
        image: resize(item.profilePicture, 600, 315, 'driver')
    } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row customer-profile">
            <div class="col-sm-4 col-xs-12">
                <div class="picture">
                    <div class="shadow"></div>
                    <div class="age">{{ item.birthAt|age }} <sup>ans</sup></div>
                    <img class="image" src="{{ resize(item.profilePicture, 400, 400, 'driver') }}" alt="{{ item.title }}">
                </div>
                <div class="raking row">
                    {% for index, value in raking %}
                        <div class="col-sm-4">
                            <div class="rank rank-{{ index }}">
                                <i class="ion ion-md-trophy"></i>
                                <span class="count">{{ value }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <ul class="stats">
                        {% if item.job|length > 0 %}
                            <li>
                                <label>Profession</label>
                                <span>{{ item.job|raw }}</span>
                            </li>
                        {% endif %}
                        {% if item.club|length > 0 %}
                            <li>
                                <label>Club actuel</label>
                                <span>{{ item.club|raw }}</span>
                            </li>
                        {% endif %}
                        {% if item.vehicle|length > 0 %}
                            <li>
                                <label>Voiture actuelle</label>
                                <span>{{ item.vehicle|raw }}</span>
                            </li>
                        {% endif %}
                        {% if item.categories and item.categories|length > 0 %}
                            <li class="metas">
                                <label>Catégorie{% if item.categories|length > 1 %}s{% endif %}</label>
                                {% for meta in item.categories %}
                                    <span><a href="{{ path('directory_driver_list_by_category', {category: meta.slug}) }}" title="{{ meta.title|raw }}">{{ meta.title|raw }}</a></span>
                                {% endfor %}
                            </li>
                        {% endif %}
                    </ul>
            </div>
            <article class="col-sm-8 col-xs-12">
                <div class="content">
                    <div class="title">
                        <h1{% if item.title|length > 25 %} class="small-title"{% endif %}>
                            {{ item.title|raw }}
                        </h1>
                        <p>Né le {{ item.birthAt|date('d/m/Y') }}</p>
                    </div>

                    {% include 'blocs/slide-show.html.twig' with {photos: item.slideShowPictures, title: item.title, targetDir: 'driver', min: 2 } only %}

                    {% if item.content|length > 0 %}
                        {{ item.content|raw }}
                    {% endif %}

                    {% if item.stories and item.stories|length > 0 %}
                        <div class="stories">
                            <h2>Palmarès</h2>
                            <table class="table for-large-screen">
                                <thead>
                                <th>Année</th>
                                <th>Catégorie</th>
                                <th>Événement</th>
                                <th>Classement annuel</th>
                                </thead>
                                <tbody>
                                {% for story in item.stories %}
                                    <tr>
                                        <td class="annee">{{ story.year }}</td>
                                        <td class="meta">
                                            <a href="{{ path('directory_driver_list_by_category', {category: story.category.slug}) }}">{{ story.category.title }}</a>
                                        </td>
                                        <td class="titre">
                                            <h4>
                                                {{ story.title|raw }}
                                                {% if story.victories > 0 %}
                                                    <span class="badge">{{ story.victories }} victoire(s)</span>
                                                {% endif %}
                                            </h4>
                                            <p>{{ story.vehicle }}</p>
                                        </td>
                                        <td class="place place{{ story.raking }}">{{ story.raking }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {{ shareToSocial(item.title, item.content)|raw }}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
