{% if annonces|length > 0 %}
    {% for annonce in annonces %}
        {% set annonceInfos = annonces(annonce, 415, 300, 'annonces') %}
        {% set annonceType = annonce.envente == 1 ? 'vente' : 'location' %}
        {% if annonce.id_logement == 4 %}
            {% set price =  format_money(annonce.loyer_min) ~ '-' ~ format_money(annonce.loyer_max) %}
            {% set superficie = annonce.surface_min ~ '-' ~ annonce.surface_max %}
        {% else %}
            {% set price = format_money(annonce.loyer_min) %}
            {% set superficie = annonce.surface_min %}
        {% endif %}
        <div class="card-wrap">
            <div class="card">
                <div class="img-wrap">
                    <a href="{{ asset(annonceInfos.urls.annonce) }}">
                        <img src="{{ annonceInfos.photo }}" class="img-responsive" alt="">
                    </a>
                    <div class="badge-en{{ annonceType }}"></div>
                    <div class="badgi">
                        <div class="status">
                            <a href="{{ asset('annonces/' ~ annonceType ~ '/' ~ annonce.slug_logement) }}" rel="tag">
                                {{ trans(annonce.logement) }}
                            </a>
                        </div>
                        <div class="price">
                            <span>{{ price }}</span>
                            {% if annonce.envente == 0 %}
                                <small> /{{ trans('Mois') }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="content-wrap">
                    <div class="title">
                        <a href="{{ asset(annonceInfos.urls.annonce) }}">{{ annonce.titre }}</a>
                    </div>
                    <div class="geo">
                        <a href="{{ asset(annonceInfos.urls.ville) }}">{{ annonce.ville }}</a>
                    </div>
                    <div class="row prestation-icon">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <i class="flaticon-three1"></i> {{ superficie }} m<sup>2</sup>
                        </div>
                        {% if annonce.id_logement == 4 %}
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <i class="flaticon-minisplit"></i> {{ annonce.chauffage | capitalize }}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <i class="flaticon-elevator10"></i> {{ annonce.ascenseur | capitalize }}
                            </div>
                        {% else %}
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <i class="flaticon-sleeping"></i> {{ annonce.pieces }}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <i class="flaticon-shower5"></i> {{ annonce.sdb }}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <i class="flaticon-car189"></i> {{ annonce.stationement }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {{ pagination }}
{% else %}
    <div class="videBox">
        Aucun résultat trouvé pour cette recherche.
    </div>
{% endif %}