<h2>Photos</h2>
<em><i class='ion-help-circled'></i> L'image doit respecter une largeur de 900px ou plus et une hauteur de 300px ou plus.</em>
<div class="row">
    {% autoescape false %}
        {% for i in 1..4 %}
            {% set name = 'photo' ~ i %}
            {% set photoInfo = classified_form_photos(name, userId) %}
            <div class="putPhoto">
                {% if photoInfo.bg %}
                    <div style="background-image:url({{ asset(photoInfo.bg) }})" rel="{{ i }}">
                {% else %}
                    <div rel="{{ i }}">
                {% endif %}
                    {% if photoInfo.relDel %}
                        <a href="#" class="delPhoto" rel="{{ photoInfo.relDel }}" title="{{ i }}" id="{{ name }}"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    {{ form.addAttr({"id": name, "class":"filestyle liveupload", "data-input":"false", "data-badge":"false", "data-buttonText":photoInfo.buttonText}).file(name) }}
                </div>
            </div>
        {% endfor %}
    {% endautoescape %}
</div>
