{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-tags"></i> Ajouter une catégorie</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="form-fieldset col-sm-5">
            {{ form_errors(form) }}
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.parent) }}
                <div class="form-actions no-margin">
                    <input type="submit" value="Enregistrer" />
                </div>
            {{ form_end(form) }}
        </div>
        <div class="col-sm-7">
            <div class="alert alert-primary">
                <p>Supprimer une catégorie ne supprime pas les articles de cette catégorie. Les articles ayant été assignés uniquement à cette catégorie se voient assignés à la catégorie par défaut, «
                    Non classé ». La catégorie par défaut ne peut pas être supprimée.</p>
            </div>
            {% if paginate.items|length > 0 %}
                <table class="table table-striped table-bordered sorted_table">
                    <thead>
                    <th>Titre</th>
                    <th>actions</th>
                    </thead>
                    <tbody>
                    {% for item in paginate.items %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td class="ele-center">
                                <a href="{{ path('backend_categories_update', {type: type, id: item.id}) }}" class="btn btn-success btn-icon">
                                    <i class="ion ion-md-create"></i> Editer
                                </a>
                                <a href="{{ path('backend_categories_remove', {type: type, id: item.id}) }}" class="btn btn-danger btn-icon">
                                    <i class="ion ion-md-close"></i> Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
            {% else %}
                {% include "blocs/empty-bloc.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
