{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-tags"></i> {{ attributes.get('action')|trans }} une catégorie</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_categories_show', {type: attributes.get('type')}) }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.parent) }}
        <div class="form-actions no-margin">
            <input type="submit" value="Enregistrer" />
        </div>
    {{ form_end(form) }}
{% endblock %}
