{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-notifications"></i> {{ attributes.get('action')|trans }} une annonce</h1>
{% endblock %}

{% block pageActions %}
    <a href="{{ path('backend_classifieds_show') }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-9">
            {{ form_row(form.title) }}
            {% include 'blocs/live-uploader.html.twig' with {
                keys: ['photo1', 'photo2', 'photo3', 'photo4'],
                pictures: pictures
            } %}
            {{ form_row(form.content) }}
        </div>
        <div class="shad-left col-lg-3">
            <div class="box">
                <div class="title">Paramètres</div>
                <div class="content">
                    {{ form_row(form.classifiedModel) }}
                    {{ form_row(form.model) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.energy) }}
                    {{ form_row(form.mileage) }}
                    {{ form_row(form.firstCirculationYear) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.city) }}
                    <input type="submit" value="Enregistrer">
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
