<div id="editPhoto" class="modal fade hidden" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editer une photo</h4>
            </div>
            <div class="modal-body">
                <div class="image-mask">
                    <img src="">
                </div>
                <div class="bottom-ranges">
                    <label for="zoom">Zoom</label>
                    <input type="range" id="zoom" min="0" max="0" step="1" value="0" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-complete" id="cropIt">Cadrer la photo</button>
                <button type="button" class="btn btn-success" id="createIt" data-role="{{ customerType }}">Mettre à jour</button>
                <p></p>
            </div>
        </div>
    </div>
</div>
