{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> {{ customerId is defined ? 'update' : 'add'|trans }} un {{ customerType|trans }}s</h1>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

        {% include 'blocs/live-uploader.html.twig' with {key: 'profile', pictures: pictures} %}

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.birthAt) }}
                {{ form_row(form.club) }}
            </div>
            <div class="col-sm-6 col-xs-12">
                {{ form_row(form.job) }}
                {{ form_row(form.phones) }}
                {{ form_row(form.email) }}
                {% if isCustomerDriver(customerType) %}
                    {{ form_row(form.vehicle) }}
                {% else %}
                    {{ form_row(form.categories, {id: 'category'}) }}
                {% endif %}
            </div>
        </div>

        {% include 'blocs/live-uploader.html.twig' with {
            keys: ['photo1', 'photo2', 'photo3', 'photo4'],
            pictures: pictures
        } %}

        {% if isCustomerDriver(customerType) %}
            <h2>{{ 'categories'|trans }}</h2>
            {{ form_widget(form.categories, {id: 'categories'}) }}
        {% endif %}

        <div class="clearfix">
            {{ form_row(form.content) }}
        </div>

        <input type="submit" value="Enregistrer">

    {{ form_end(form) }}

    {% include 'admin/customers/partials/edit-picture.html.twig' %}
{% endblock %}
