{% extends "admin/base.html.twig" %}

{% block pageTitle %}
    <h1><i class="ion ion-md-cash"></i> Liste des transactions</h1>
{% endblock %}

{% block content %}
    {% if subscriptions|length > 0 %}
        <table class="table table-striped table-bordered sorted_table">
            <thead>
            <th>Offre</th>
            <th>Code</th>
            <th>Montant</th>
            <th>Status</th>
            <th>Payé le</th>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.plan.title }}</td>
                    <td>{{ subscription.code }}</td>
                    <td class="ele-center">{{ subscription.amount | number_format(0, '.', ' ') }}Dh</td>
                    <td class="ele-center">{{ subscription.status | trans }}</td>
                    <td class="ele-center">{{ subscription.paidAt | date('d/m/Y H:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
