.badge-list {
  margin-top: 10px;
  .badge {
    margin-right: 5px;
    background: #272930!important;
  }
}

ul.post_status {
  padding: 0;
  margin-bottom: 20px;
  li {
    font-size: 12px;
    background: $grayL;
    display: inline-block;
    margin: 0 15px 0 5px;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    > a {
      font-size: 12px;
      letter-spacing: .5px;
      &:hover, &:focus {
        color: $blueD;
      }
      .badge {
        @include border-radius(0);
        margin: 0 0 0 10px;
        height: 29px;
        line-height: 29px;
        padding: 0 10px;
      }
    }
  }
}

.box {
  box-shadow: 0 0 4px #ddd;
  padding: 0;
  margin-bottom: 20px;
  &:last-child { margin: 0; }
  .title  {
    background: lighten($grayD, 10%);
    color: #FFF;
    text-align: left;
    font-size: 18px;
    padding: 16px;
  }
  .alert  {
    margin: 0;
    border-radius: 0;
    font-size: 11px;
    padding: 8px;
  }
  .content {
    padding: 15px;
    background: #fff;
    min-height: 100%;
    .row {
      width: 100%;
      padding: 0;
      margin: 0;
      div {
        padding: 0;
        margin: 0;
        input.datetime {
          width: 100%;
          margin: 0;
          border-color: #ccc;
        }
        &:first-child {
          padding-right: 10px;
        }
      }
    }
    .form-actions {
      input {
        width: 100%;
      }
    }
  }
}
