.flex-table {
  .item {
    margin: 0;
    .item-title {
      font-size: 24px;
      font-weight: normal;
    }
  }
  &.card-view {
    display: flex;
    .item {
      flex: 1 0 25%;
      padding: 20px;
      @include border-radius(4px);
      margin-bottom: 30px;
      .item-title {
        margin-bottom: 20px;
        min-height: 85px;
      }
    }
  }
  &.table-view {
    border: 1px #eee solid;
    border-collapse:collapse;
    display: table;
    .item {
      display: table-row;
      border-bottom: 1px #eee solid;
      > div {
        display: table-cell;
        border-right: 1px #eee solid;
        padding: 10px;
        &:last-child {
          border-right: none;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .item-actions {
    display: flex;
    a {
      flex: auto;
      margin: 0 10px;
      height: 50px;
      line-height: 50px;
      i {
        height: 50px;
        line-height: 50px;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
