header{
  background-color: #f9f9f9;
  width: 100%;
  height:70px;
  line-height:70px;
  position: fixed;
  overflow:hidden;
  z-index: 2;
  @include drop-shadow();
  .logo{
    color:#FFF;
    display: inline-block;
    text-align: center;
    width:230px;
    a {
      display: inline-block;
      height:70px;
      width:70px;
      line-height:70px;
      img {
        display: inline;
      }
    }
  }
  .breadcrumb{
    display:inline-block;
    vertical-align:top;
    background: transparent;
    color: #c52f16;
    .br-content{
      h1 {
        text-transform: uppercase;
        line-height: 55px;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
      }
    }
  }
  .profile-menu {
      margin-right: 20px;
      float: right;
      a {
        .name {
          color: #758697;
          font-weight: bold;
          text-transform: uppercase;
          padding-right:10px;
        }
        img {
          display:inline-block;
          vertical-align:middle;
          width:30px;
          -webkit-border-radius: 25px;
          border-radius: 25px;
        }
        i {
          display:inline-block;
          vertical-align:middle;
          margin-left:10px;
          color: #758697;
        }
      }
    }
}
