aside {
  z-index: 2;
  position:fixed;
  height: 100%;
  top:70px;
  left:0;
  bottom:30px;
  width:230px;
  background:$grayD;
  ul {
    padding: 0;
    list-style: none;
  }
  > ul {
    > li {
      a {
        display:block;
        border: none;
        border-bottom:1px solid #202127;
        color:rgba(255, 255, 255, 0.8);
        font-size:14px;
      }
      > a {
        height:50px;
        line-height:50px;
        i {
          float: left;
          font-size:16px;
          width: 30px;
          text-align: right;
          height: 50px;
          line-height: 50px;
          margin-right:20px;
          display: inline-block;
        }
        &:hover {
          background: $blueL;
          color: #fff;
        }
      }
      > ul {
        display: none;
        > li {
          > a {
            background:lighten(#2a2c34, 10%);
            height: 40px; line-height: 40px;
            border-color: #4b4e5d;
            padding: 0 20px;
            &:hover {
              background:lighten(#2a2c34, 15%);
              color: #fff;
            }
          }
          &:last-child a {
            border:none;
          }
        }
      }
      &.active {
        > a {
          color: $blueL;
          text-decoration: none;
          i { color: $blueL; }
          &:hover {
            background: #2a2c34;
            color: #fff;
          }
        }
        > ul {
          display: block;
        }
      }
      &:last-child > a {
        border: none;
      }
    }
  }
}
