.search-bar {
  background: $blueL;
  margin: -30px -30px 30px -30px;
  padding: 20px;
  form {
    label {
      color: #efefef;
    }
    input {
      border: none;
    }
    input[type="submit"]{
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      margin-top: 17px;
      color: $grayD;
    }
    .ingroup {
      margin: 0;
    }
  }
}
