{% extends "base.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/v2/customers.css') }}">
{% endblock %}

{% block pageTitle %}
    <h1>Annuaire des professionels</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row reset-margin">
            {% for item in paginate.items %}
                <div class="col-md-3 col-sm-6 article-item">
                    {% include 'blocs/professional.html.twig' with {item: item} %}
                </div>
            {% endfor %}
            {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
        </div>
    </div>
{% endblock %}
