{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/customer.css') }}">
{% endblock %}

{% block seo_meta %}
    {% include 'blocs/og-metas.html.twig' with {
        url: path('directory_professional_show', {username: item.username, id: item.id}),
        image: resize(item.profilePicture, 600, 315, 'professional')
    } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row customer-profile">
            <div class="col-sm-4 col-xs-12">
                <div class="picture">
                    <div class="shadow"></div>
                    <img class="image" src="{{ resize(item.profilePicture, 400, 400, 'professional') }}" alt="{{ item.title }}">
                </div>
                <ul class="stats">
                    {% if item.facebook|length > 0 %}
                        <li class="small-sidebar-infos">
                            <label>Facebook</label>
                            <span><a href="{{ item.facebook }}" target="_blank" rel="nofollow">Page Facebook</a></span>
                        </li>
                    {% endif %}
                    {% if item.website|length > 0 %}
                        <li class="small-sidebar-infos">
                            <label>Site internet</label>
                            <span><a href="{{ item.website }}" target="_blank" rel="nofollow">{{ item.website }}</a></span>
                        </li>
                    {% endif %}
                    {% if item.email|length > 0 %}
                        <li class="small-sidebar-infos">
                            <label>Adresse mail</label>
                            <span><a href="mailto:{{ item.email }}" rel="nofollow">{{ item.email }}</a></span>
                        </li>
                    {% endif %}
                    {% if item.phones|length > 0 %}
                        {% for index, phone in item.phones %}
                            <li class="small-sidebar-infos">
                                <label>Numéro N°{{ index }}</label>
                                <span>{{ phone }}</span>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if item.address|length > 0 and is_address(item.address) %}
                        <li class="small-sidebar-infos">
                            <label>Adresse</label>
                            <span>{{ item.address|raw }}</span>
                        </li>
                    {% endif %}
                    {% if item.categories and item.categories|length > 0 %}
                        <li class="metas">
                            <label>Catégorie{% if item.categories|length > 1 %}s{% endif %}</label>
                            {% for meta in item.categories %}
                                <span><a href="{{ path('directory_official_list_by_category', {category: meta.slug}) }}" title="{{ meta.title|raw }}">{{ meta.title|raw }}</a></span>
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <article class="col-sm-8 col-xs-12">
                <div class="content">

                    <div class="title">
                        {% if item.title|length > 25 %}
                            <h1 class="small-title">{{ item.title|raw }}</h1>
                        {% else %}
                            <h1>{{ item.title|raw }}</h1>
                        {% endif %}
                    </div>

                    {% include 'blocs/slide-show.html.twig' with {photos: item.slideShowPictures, title: item.title, targetDir: 'professional', min: 2 } only %}

                    {{ shareToSocial(item.title, item.content)|raw }}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
