{% extends "membre.twig" %}

{% block memberContent %}

    {% autoescape false %}

        {{ form.open() }}

            <table id="no-more-tables" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Titre de l'annonce</th>
                        <th>Type de bien</th>
                        <th>Demandeur</th>
                        <th>Déposé le</th>
                        <th>Etat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Titre">{{ demande.titre }}</td>
                        <td data-title="Type de bien">{{ demande.type|upper }}</td>
                        <td data-title="Demandeur">{{ demande.prenom }} {{ demande.nom }}</td>
                        <td data-title="Déposé le" class="ele-center">{{ demande.created_at|date('d/m/Y H:i:s') }}</td>
                        <td>{{ form.select('status', demandeStatus) }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="actions">
                {{ form.addAttr('class', 'btn btn-success btn-modern').submit("Modifier l'etat de la demande") }}
            </div>

        {{ form.close() }}

    {% endautoescape %}

{% endblock %}