{% extends "membre.twig" %}

{% block memberContent %}

    {% if annonces|length > 0 %}

        <table id="no-more-tables" class="table table-striped table-bordered">
            <thead>
                <th>Titre</th>
                <th>Visiteurs</th>
                <th>Crée le</th>
                <th>Actions</th>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td data-title="Titre">{{ annonce.titre }}</td>
                    <td data-title="Visiteurs">{{ annonce.count }}</td>
                    <td data-title="Crée le" class="ele-center">{{ annonce.created_at|date("m/d/Y H:i:s") }}</td>
                    <td data-title="Actions" class="ele-center">
                        <a href="{{ asset(nsslug ~ '/annonces/editer/' ~ annonce.id) }}" class="btn btn-complete">Modifier</a>
                        <a href="{{ asset(nsslug ~ '/annonces/preview/' ~ annonce.id) }}" class="btn btn-complete">Afficher</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination }}

    {% else %}
        <div class="videBox col-lg-12">
            Pour le moment, vous n'avez aucune annonce.
        </div>
    {% endif %}

{% endblock %}