{% extends "membre.twig" %}

{% block memberContent %}

    {% if demandes|length > 0 %}

        <table id="no-more-tables" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Type de bien</th>
                    <th>Demandeur</th>
                    <th>Déposé le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr>
                    <td data-title="Titre">{{ demande.titre }}</td>
                    <td data-title="Type de bien">{{ demande.type | upper }}</td>
                    <td data-title="Demandeur">{{ demande.prenom }} {{ demande.nom }}</td>
                    <td data-title="Déposé le" class="ele-center">{{ demande.created_at|date("m/d/Y H:i:s") }}</td>
                    <td data-title="Actions" class="ele-center">
                        <a href="{{ asset(nsslug ~ '/demandes/afficher/' ~ demande.id) }}" class="btn btn-complete">Afficher</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination }}

    {% else %}
        <div class="videBox col-lg-12">
            Pour le moment, vous n'avez aucune demande.
        </div>
    {% endif %}

{% endblock %}