{% extends "membre.twig" %}

{% block memberContent %}

    {% autoescape false %}

        {{ form.addAttr({'id':'depozForm', 'novalidate':'novalidate', 'enctype':'multipart:form-data'}).open('post') }}

        {% set ouiounon = {'non':'Non', 'oui':'Oui'} %}

        <h2 class="firsth2">Informations</h2>

        {{ form.label("Titre de la résidence", true) }}
        {{ form.addAttr('id', 'titre').text('titre') }}

        <div class="row">
            <div class="col-sm-8 col-xs-12">
                {{ form.label("Adresse", true) }}
                {{ form.addAttr('id', 'adresse').text('adresse') }}
            </div>
            <div class="col-sm-4 col-xs-12" id="remote" style="position:relative">
                {{ form.label('Ville / Code postal') }}
                {{ form.addAttr('id', 'villeId').hidden('id_ville') }}
                {{ form.addAttr('id', 'villes').text('ville') }}
                <div id="sbbons"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Prix (€)') }}
                {{ form.addAttr('id', 'loyer_min').text('loyer_min') }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Superficie (m²)') }}
                {{ form.addAttr('id', 'surface_min').text('surface_min') }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Disponible le') }}
                {{ form.addAttr('id', 'disponible_at').datepicker('disponible_at') }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Nombre de pièces') }}
                {{ form.addAttr('id', 'pieces').text('pieces') }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Nombre de place pour stationement') }}
                {{ form.addAttr('id', 'stationement').text('stationement') }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Nombre de salle de bain') }}
                {{ form.addAttr('id', 'sdb').text('sdb') }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                {% if nsslug == 'agence' %}
                    {{ form.label('Location / Vente', true) }}
                    {{ form.select('envente', ['En location', 'En vente']) }}
                {% else %}
                    {{ form.label('En location', true) }}
                    {{ form.select('enlocation', ['Non', 'Oui']) }}
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                {{ form.label('Type de bien', true) }}
                {{ form.select('id_logement', logements) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                {{ form.label('Classe énergie du DPE') }}
                {{ form.select('dpe', ['Non réalisé', 'Classe A', 'Classe B', 'Classe C', 'Classe D', 'Classe E', 'Classe F', 'Classe G']) }}
            </div>
        </div>

        <h2>Avantages</h2>
        <div class="row avantages">
            <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'stationnement') }} Stationnement privé</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'acces_handicape') }} Accès handicapés</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'garage') }} Garage ou box</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'ascenseur') }} Ascenseur</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'digicode') }} Digicode</li>
            </ul>
            <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'wifi') }} Wifi</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'cave') }} Cave</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'cuisine') }} Cuisine équippée</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'balcon') }} Balcon Terrasse</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'gardien') }} Gardien</li>
            </ul>
            <ul class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'interphone') }} Interphone</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'chauffage') }} Chauffage</li>
                <li><i class="ion-"></i> {{ form.checkbox('avantages[]', 'meublee') }} Meublée</li>
            </ul>
        </div>

        {% include 'shared/annonce/photos.twig' %}

        <h2>Description</h2>
        {{ form.addAttr({'id':'content', 'class':'wysiwygme'}).textarea('content') }}

        <div class="form-actions">
            {{ form.addAttr('class', 'btn btn-complete').submit('Publier') }}
        </div>

        {{ form.close() }}

    {% endautoescape %}

{% endblock %}

{% block inlinejs %}

    {% include 'tinymce.twig' only %}

    <script type="text/javascript">
        (function($){
            $("#depozForm").validate({
                rules: {
                    titre: 'required',
                    villes: 'required',
                    price: 'required',
                    superficie: 'required',
                    disponible_at: 'required',
                    pieces: 'required',
                    stationement: 'required',
                    sdb: 'required',
                    chauffage: 'required',
                    {% if action == 'editer' %}
                        {% if form.datas.photo1 and cupi.photo1 %}
                            photo1: 'required',
                        {% endif %}
                    {% elseif action == 'ajouter' and cupi.photo1 %}
                        photo1: 'required',
                    {% endif %}
                    contenue: 'required'
                },
                messages: {
                    photo1: 'Veuillez choisir au moins une photo.',
                    contenue: 'Veuilleze décrire votre bien.'
                }
            });
        })(jQuery);
    </script>

{% endblock %}