{% extends "membre.twig" %}

{% block memberContent %}

    <div class="row boxes">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="jecherche">
                <ul>
                    <li><i class="ion-speakerphone"></i> J'ai <strong>{{ countAnnonces }} annonce(s)</strong> en cours</li>
                    <li><i class="ion-archive"></i> J'ai <strong>{{ countDemandes }} demande(s)</strong> en cours</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="jecherche">
                <ul>
                    <li><i class="ion-person"></i> Bonjour <span>{{ profil.alias }}</span></li>
                    {% if rich %}
                        <li class="alert alert-success">
                            {% if gratos %}
                                <i class="ion-calendar"></i>
                                <p class="lineheight">Votre période d'essai gratuit se terminera le <strong>{{ rich }}</strong></p>
                            {% elseif nsslug != 'proprietaires' %}
                                <i class="ion-calendar"></i>
                                Votre abonement se terminera le <strong>{{ rich }}</strong>
                            {% else %}
                                <a href="{{ asset(nsslug ~ '/annonces/deposer') }}" class="btn btn-complete">Déposer une annonce</a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="alert alert-danger much">
                            <i class="ion-bag"></i> Pour que vous puissiez déposer des annonces, veuillez s'abonner à l'une des formules disponibles!
                            <a href="{{ asset(nsslug ~ '/offres') }}" class="btn btn-primary">S'abonner dès maintenant</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}