<div class="header-image">
    <div class="container">
        <h2>Espace résidence</h2>
    </div>
</div>
{% extends "layout.twig" %}

    {% block header2 %}
        <h2>Espace résidence</h2>
    {% endblock %}

{% block content %}

    <div id="body" class="container inscPro">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0">
                <div class="sider">
                    {% autoescape false %}

                        {{ form.addAttr({'id':'proInscr', 'novalidate':'novalidate'}).open() }}

                            <h2 class="notop">Informations personnel</h2>

                            {{ form.label("Vous êtes", true) }}
                            {{ form.bselect("civilite", ['monsieur' => 'Monsieur', 'madame' => 'Madame', 'mademoiselle' => 'Mademoiselle']) }}
                            {{ form.label("Nom", true) }}
                            {{ form.addAttr('id','').text("nom", ['id'=>'nom']) }}
                            {{ form.label("Prénom", true) }}
                            {{ form.addAttr('id','').text("prenom", ['id'=>'prenom']) }}

                            {% if nsslug in ['residences','agences'] %}
                                <h2>Informations de complémentaires</h2>

                                {{ form.label("Raison social", true) }}
                                {{ form.addAttr('id','org').text("org") }}

                                <div id="remote" style="position:relative">

                                    {{ form.label('Ville', true) }}
                                    {{ form.addAttr('id','villeId').hidden('id_ville') }}
                                    {{ form.addAttr('id','villes').text('ville') }}
                                    <div id="sbbons"></div>
                                </div>

                                {{ form.label("Numéro de TVA") }}
                                {{ form.addAttr('id','tva').text("tva") }}
                                {{ form.label("Numéro de Siret") }}
                                {{ form.addAttr('id','siret').text("siren") }}
                            {% endif %}

                            <h2>Informations de votre compte</h2>

                            {{ form.label("Téléphone", true) }}
                            {{ form.addAttr('id','telephone').text("telephone") }}
                            {{ form.label("Adresse email", true) }}
                            {{ form.addAttr('id','email').text("email") }}
                            {{ form.label("Mot de passe", true) }}
                            {{ form.addAttr('id','mdp').password("mdp") }}
                            {{ form.label("Confirmation votre mot de passe", true) }}
                            {{ form.addAttr('id','rmdp').password("rmdp") }}

                            {{ form.addAttr('id','cgv').checkbox("cgv", "Avant de valider votre inscription, merci de bien vérifier l'exactitude de chaque champs pour que nous puissions vous adresser votre facture", false) }}

                            <br>
                            <p class="alert alert-info">Avant de valider votre inscription, merci de bien vérifier l'exactitude de chaque champs pour que nous puissions vous adresser votre facture.</p>
                            <div class="actions">
                                {{ form.addAttr('class','btn btn-success btn-big').button("S'inscrire", 'ion-checkmark-round') }}
                            </div>

                        {{ form.close() }}

                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block inlinejs %}
    <script type="text/javascript">
        $("#proInscr").validate({
            rules: {
                nom: "required", prenom: "required",
                {% if nsslug in ['residences','agences'] %}
                    villes: "required",
                    org: "required", cgv: "required",
                    siren: "required", tva: "required",
                {% endif %}
                email: { required: true, email: true, checkEmail: true },
                telephone: { required: true, checkTel: true },
                mdp: { required: true, minlength: 6 },
                rmdp: { required: true, checkMdp: "#mdp" }
            }
        });
    </script>
{% endblock %}