{% extends "membre.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/membres.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/offres.css') }}">
{% endblock %}

{% block memberContent %}

    <div class="myoffre">
        <h2>Les offres disponibles</h2>
        <div class="row">
            {% for offre in offres %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="offre-content">
                        <h4>Abonnement {{ offre.duree }} mois</h4>
                        <h5>
                            {% if offre.price == 0 %}
                                Gratuit
                            {% else %}
                                {{ offre.price }}<sup>€ HT</sup>
                            {% endif %}
                        </h5>
                        <div class="offre-btn">
                            <a href="{{ asset('paiement/offres/' ~ offre.id) }}" class="btn btn-complete btn-modern">Je choisis</a>
                        </div>
                        <p>{{ offre.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}