{% extends "membre.twig" %}

{% block memberContent %}

    {% autoescape false %}

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="narrow">Informations personnelles</h3>
                {{ form.addAttr({'id':'changeInfos', 'novalidate':'novalidate'}).open() }}

                {{ form.label("Vous êtes") }}
                {{ form.select("civilite", civoptions) }}

                {{ form.label('Nom') }}
                {{ form.addAttr('id', 'nom').text('nom') }}

                {{ form.label('Prénom') }}
                {{ form.addAttr('id', 'prenom').text('prenom') }}

                {{ form.label('Téléphone') }}
                {{ form.addAttr('id', 'tel').text('tel') }}

                {% if nsslug in ['residences','agences'] %}

                    {{ form.label('Raison social') }}
                    {{ form.addAttr('id', 'org').text('org') }}

                    {{ form.label('N° Siren') }}
                    {{ form.addAttr('id', 'siren').text('siren') }}

                    {{ form.label('N° TVA') }}
                    {{ form.addAttr('id', 'tva').text('tva') }}

                {% endif %}

                <div id="remote" style="position:relative">
                    {{ form.label("Ville") }}
                    {{ form.addAttr('id', 'villeId').hidden('id_ville') }}
                    {{ form.addAttr('id', 'villes').text('ville') }}
                    <div id="sbbons"></div>
                </div>
                <div class="form-actions" style="margin-top:20px;text-align:center;">
                    {{ form.addAttr({'class':'btn btn-complete', 'name':'submitInfos'}).submit('Mettre à jour Informations personnelles') }}
                </div>
                {{ form.close() }}
            </div>
            <div class="col-lg-6">
                <h3 class="narrow">Informations de connexion</h3>
                <ul class="alert alerto alert-info">
                    <li>Si vous voulez modifié votre adresse e-mail</li>
                    <li>Veuillez entrer votre mot de passe et le confirmer.</li>
                </ul>
                {{ form.addAttr({'id':'changeMdp', 'novalidate':'novalidate'}).open() }}

                {{ form.label('E-mail') }}
                {{ form.addAttr('id', 'email').text('email') }}

                {{ form.label('Mot de passe') }}
                {{ form.addAttr('id', 'mdp').password('mdp') }}

                {{ form.label('Confirmation du Mot de passe') }}
                {{ form.addAttr('id', 'rmdp').password('rmdp') }}
                <div class="form-actions" style="margin-top:20px;text-align:center;">
                    {{ form.addAttr({'class':'btn btn-complete', 'name':'submitMdp'}).submit('Mettre à jour Informations de connexion') }}
                </div>
                {{ form.close() }}
            </div>
        </div>

    {% endautoescape %}

{% endblock %}

{% block inlinejs %}
    <script type="text/javascript">
        $("#changeInfos input, #changeMdp input").on("focusout keyup", function(e){
            e.stopPropagation();
        });
        $("#changeInfos").validate({
            rules: {
                nom: "required", prenom: "required", villes: "required",
                {% if nsslug in ['residences','agences'] %}
                    org: "required", siren: "required", tva: "required",
                {% endif %}
                telephone: { required: true, checkTel: true }
            }
        });
        $("#changeMdp").validate({
            rules: {
                email: { required: true, email: true, checkEmail: true },
                mdp: { required: true, minlength: 6 },
                rmdp: { required: true, checkMdp: "#mdp" }
            }
        });
    </script>
{% endblock %}