body {
    font-family: Arial;
    font-size: 12px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

.image-mask {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 30px auto;
    background: url(bg.jpg);
    overflow: hidden; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;
}

.image-mask img {
    position: absolute;
    top: 0; left: 0;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: block;
}

input:before {
    left: 0em;
    content: attr(min);
}
input:after {
    right: 0em;
    content: attr(max);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
}

.btn.btn-blue {
    background: blue;
    color: #fff;
}

.btn.btn-green {
    background: green;
    color: #fff;
    display: none;
}