({% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Bonjour monsieur ou madame {{ user_name }},</p><br>
    <p>Votre annonce (<strong>{{ classified_title }}</strong>) a bien été reçue et nous allons la mettre en ligne dès qu'elle sera validée par notre équipe (dans moins de 24h).</p>
    <p><strong>La validation permet de s'assurer que le contenu de votre annonce est correct.</strong></p>
{% endblock %}

