{{#each items}}
    <tr>
        <td class="titre">
            <p><strong>{{{title}}}</strong></p>
            {{year}} / {{categoryTitle}}
        </td>
        <td class="palmActions">
            <a href="#wrapper" rel="{{id}}" class="loadEntry btn btn-success"><i class="ion-edit"></i></a>
            <a href="#wrapper" rel="{{id}}" class=" deleteEntry btn btn-danger"><i class="ion-trash-b"></i></a>
        </td>
    </tr>
{{/each}}