{{#if items}}
<table class="table table-bordered">
    <thead>
    <th>Année</th>
    <th>Catégorie</th>
    <th>Événement</th>
    <th>Classement annuel</th>
    <th>Actions</th>
    </thead>
    <tbody>
    {{#each items}}
        <tr>
            <td class="annee">{{year}}</td>
            <td class="meta">{{categoryTitle}}</td>
            <td class="titre">
                <h4>
                    {{title}}
                    {{#if victory}}
                        <span class="badge">{{victory}} victoire(s)</span>
                    {{/if}}
                </h4>
                {{#if vehicle}}
                    <p>{{vehicle}}</p>
                {{/if}}
            </td>
            <td class="place {{result}}">{{result}}</td>
            <td class="palmActions">
                <a href="#" rel="{{id}}" class="loadEntry btn btn-success">Editer</a>
                <a href="#" rel="{{id}}" class=" deleteEntry btn btn-danger">Supprimer</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
<div class="box-vide">Veuillez ajouter une experience</div>
{{/if}}
