<div class="liveUploads">
    <div class="lu-container">
        <i class="ion-image"></i>
        <div class="ul-button">
            <button class="btn-complete">Parcourir</button>
        </div>
        <a href="#" data-id="" class="delPhoto" data-tooltip="tooltip" title="Supprimer l'image">
            <i class="ion-close"></i>
        </a>
        <a href="#" class="rotatePhoto" data-tooltip="tooltip" title="Rotation horaire de 90°">
            <i class="ion-refresh"></i>
        </a>
        <a href="#" class="editPhoto"data-tooltip="tooltip" title="Recadrer l'image">
            <i class="ion-android-expand"></i>
        </a>
    </div>
</div>
