{% spaceless %}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ subject }} | {{ site.settings.sitename }}</title>
        <style type="text/css">
            #outlook a{padding:0}body{width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0}.ExternalClass{width:100%}.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{line-height:100%}#backgroundTable{margin:0;padding:0;width:100% !important;line-height:100% !important}img{outline:none;text-decoration:none;border:none;-ms-interpolation-mode:bicubic}a img{border:none}.image_fix{display:block}p{margin:0 0 !important}table td{border-collapse:collapse}table{border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0}table[class=full]{width:100%;clear:both}@media only screen and (max-width:640px){a[href^="tel"],a[href^="sms"]{text-decoration:none;color:#fff;pointer-events:none;cursor:default}.mobile_link a[href^="tel"],.mobile_link a[href^="sms"]{text-decoration:default;color:#fff !important;pointer-events:auto;cursor:default}table[class=devicewidth]{width:440px !important;text-align:center !important}table[class=devicewidthinner]{width:420px !important;text-align:center !important}table[class="sthide"]{display:none !important}img[class="bigimage"]{width:420px !important;height:219px !important}img[class="col2img"]{width:420px !important;height:258px !important}img[class="image-banner"]{width:440px !important;height:106px !important}td[class="menu"]{text-align:center !important;padding:0 0 10px 0 !important}td[class="logo"]{padding:10px 0 5px 0 !important;margin:0 auto !important}img[class="logo"]{padding:0 !important;margin:0 auto !important}}@media only screen and (max-width:480px){a[href^="tel"],a[href^="sms"]{text-decoration:none;color:#fff;pointer-events:none;cursor:default}.mobile_link a[href^="tel"],.mobile_link a[href^="sms"]{text-decoration:default;color:#fff !important;pointer-events:auto;cursor:default}table[class=devicewidth]{width:280px !important;text-align:center !important}table[class=devicewidthinner]{width:260px !important;text-align:center !important}table[class="sthide"]{display:none !important}img[class="bigimage"]{width:260px !important;height:136px !important}img[class="col2img"]{width:260px !important;height:160px !important}img[class="image-banner"]{width:280px !important;height:68px !important}}
        </style>
    </head>
    <body>
    <div class="block">
        <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="bigimage">
            <tbody>
            <tr>
                <tr><td width="100%" height="20"></td></tr>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="block">
        <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="bigimage">
            <tbody>
            <tr>
                <td>
                    <table bgcolor="#ffffff" width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" modulebg="edit">
                        <tbody>
                        <tr>
                            <td>
                                <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidthinner">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="{{ asset('/build/images/mail_header.jpg') }}" alt="header image" width="100%" />
                                        </td>
                                    </tr>
                                    <tr><td width="100%" height="20"></td></tr>
                                    <tr>
                                        <td style="font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #95a5a6; text-align:justify;line-height: 24px;padding-left:26px;padding-right:26px;" st-content="rightimage-paragraph">
                                            {% block body %}{% endblock %}
                                            <br>A très vite sur le site,<br>--------------<br>L'équipe {{ site.settings.sitename }}
                                        </td>
                                    </tr>
                                    <tr><td width="100%" height="26"></td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="block">
        <!-- Start of preheader -->
        <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="postfooter">
            <tbody>
            <tr><td width="100%" height="20"></td></tr>
            <tr>
                <td width="100%">
                    <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                        <tbody>
                        <tr><td width="100%" height="5"></td></tr>
                        <tr>
                            <td align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #999999" st-content="preheader">
                                Cet e-mail a été envoyé à {{ sendTo }}<br>
                                par la société {{ site.settings.sitename }}, Tel {{ site.settings.portable }}<br>
                                © Copyright {{ "now"|date('Y') }}. Tous droits réservés<br><br>
                                Pour être certain de recevoir nos prochains emails, ajoutez l'adresse <a href="mailto:{{ site.settings.email }}">"{{ site.settings.email }}"</a>
                                <br>dans votre carnet d'adresse ou dans votre liste d'expéditeurs autorisés
                            </td>
                        </tr>
                        <tr><td width="100%" height="5"></td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr><td width="100%" height="20"></td></tr>
            </tbody>
        </table>
        <!-- End of preheader -->
    </div>
    </body>
    </html>
{% endspaceless %}
