<!doctype html>
<html dir="ltr" lang="fr" xml:lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="agence-keydesign.com"/>
    {{ seo(seo.title, seo.description|default(""), seo.options|default({})) }}
    <meta name="robots" content="{{ site.settings.robots }}"/>
    <meta name="google-site-verification" content="{{ site.settings.gsv }}" />
    <link rel="icon" href="{{ asset('/build/images/favicon.ico') }}">
    <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/css/v2/style.css') }}">
    {% block stylesheet %}{% endblock %}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% include 'blocs/google-analytics.html.twig' with { ga: site.settings.ga } %}
</head>
<body class="{{ pubCover|default('pub-arce') }}">
    <nav class="nav">
        <button class="nav-toggle-icon">
            <i class="nav-toggle-open icon ion-ios-menu"></i>
            <i class="nav-toggle-close icon ion-ios-close"></i>
        </button>
        <div class="nav-logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('/build/images/logo.png') }}" alt="{{ site.settings.sitename }}">
            </a>
        </div>
        <div class="nav-primary">
            <ul class="nav-links pull-left">
                <li><a href="{{ path('blog_home') }}">Dernieres nouvelles</a></li>
                <li><a href="{{ path('directory_driver_list') }}">Pilotes</a></li>
                <li><a href="{{ path('directory_official_list') }}">Officiels</a></li>
                <li><a href="{{ path('directory_professional_list') }}">Professionels</a></li>
                <li class="dropdown hidden-phone dropdown-center">
                    <a href="#"><i class="ion ion-ios-keypad"></i></a>
                    <ul>
                        <li><a href="{{ path('events_home') }}">Evenements</a></li>
                        <li><a href="{{ path('classified_home') }}">Annonces</a></li>
                        <li><a href="{{ path('deals_home') }}">Deals</a></li>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Equipe</a></li>
                        <li><a href="{{ path('static_publicity') }}">Publicité</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-connected pull-right">
                <li><a href="{{ path('user_classified_add') }}" class="nav-btn-annonce"><i class="ion ion-md-megaphone"></i><span> Déposer une annonce</span></a></li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="dropdown">
                        <a href="#">{{ app.user.title }}</a>
                        <ul>
                            <li><a href="{{ path('user_dashboard') }}" class="nav-btn-logout">Parametres</a></li>
                            <li><a href="{{ path('logout') }}" class="nav-btn-logout">Se deconnecter</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown dropdown-right">
                        <a href="{{ path('login_page') }}" class="nav-btn-login"><i class="ion ion-ios-person"></i><span> Mon compte</span></a>
                        <ul class="auth-dropdown">
                            <li>
                                <h3>Déja inscrit ?</h3>
                                <a href="{{ path('login_page') }}" class="btn-account">Se connecter</a>
                            </li>
                            <li>
                                <h3>Nouveau sur Sportautomoto ?</h3>
                                <a href="{{ path('register_user') }}" class="btn-account">Créer son compte</a>
                                <a href="{{ path('login_page') }}" class="btn-account">Se referencer</a>
                                <ul>
                                    <li>Bénéficiez de remises exclusives</li>
                                    <li>Commandez rapidement et facilement</li>
                                    <li>Déposer des annonces et des deals</li>
                                </ul>
                            </li>
                            <li>
                                <div class="bookmarks-list">
                                    <i class="ion ion-ios-heart"></i> Ajoutez des pages en favoris et retrouvez les ici !
                                </div>
                                <a href="#" class="hidden-desktop"><i class="ion ion-ios-heart"></i> Favoris</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="app-wrapper">
        <div class="header-title">
            {% block pageTitle %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Inscription</h3>
                <ul>
                    <li><a href="{{ path('register_customer_page', {label: 'pilote'}) }}">Je suis un pilote</a></li>
                    <li><a href="{{ path('register_customer_page', {label: 'officiel'}) }}">Je suis un officiel</a></li>
                    <li><a href="{{ path('register_customer_page', {label: 'professionel'}) }}">Je suis un professionel</a></li>
                    <li><a href="{{ path('register_user') }}">Je suis un annonceur</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>Liens utiles</h3>
                <ul>
                    <li><a href="{{ path('deals_home') }}">Les deals</a></li>
                    <li><a href="{{ path('static_publicity') }}">Nos tarifs</a></li>
                    <li><a href="{{ path('contact') }}">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>Suivez-nous</h3>
                <ul class="social-pages">
                    <li><a href="{{ site.settings.facebook }}" target="_blank"><i class="ion ion-logo-facebook"></i></a></li>
                    <li><a href="{{ site.settings.forum }}" target="_blank"><i class="ion ion-ios-chatbubbles"></i></a></li>
                    <li><a href="{{ site.settings.youtube }}" target="_blank"><i class="ion ion-logo-youtube"></i></a></li>
                </ul>
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsportautomoto.ma%2F&width=144&layout=button_count&action=like&show_faces=false&share=true&height=46&appId=337992773244055" width="150" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                <div>
                    <a href="https://www.agence-keydesign.com/" title="Agence web casablanca">
                        <img src="{{ asset('/build/images/agence-web-keydesign-casablanca.png') }}" alt="Agence web casablanca">
                    </a>
                </div>
            </div>
        </div>
        <p class="footer-bottom">
            © 2016-{{ "now"|date('Y') }} Copyright Sportautomoto.ma
        </p>
    </footer>
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
    {% include 'shared/globals.html.twig' %}
    {% block javascript %}{% endblock %}
</body>
</html>
