{% extends "layout.twig" %}

{% block content %}
    <div id="errorPage" class="container">
        {% block texte %}
            <h2>Désolé, la page que vous demandez <span>est introuvable.</span></h2>
            <h3>Oupsss…. page introuvable!</h3>
            {% if profiler_status == 0 %}
                <p>La page que vous avez demandée n’a pas été trouvée. Il se peut que le lien que vous avez utilisé soit rompu ou que vous ayez tapé incorrectement l’adresse:</p>
            {% else %}
                <p style="color:red;">{{ message|raw }}</p>
            {% endif %}
        {% endblock %}
        <div class="code">{{ request.url }}</div>
        <a href="{{ asset() }}" class="btn btn-warning">Revenir à la page d’accueil</a>
    </div>
{% endblock %}