<script src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '.wysiwyg',
        theme: 'modern',
        menubar:false,
        width: '100%',
        height: 300,
        content_css: 'css/content.css',
        toolbar: 'undo redo | bold italic'
    });
</script>
