{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block pageActions %}
    <a href="{{ path('backend_article_show') }}" class="btn btn-primary">Retour</a>
{% endblock %}

{% block pageTitle %}
    <h1><i class="ion ion-md-paper"></i> Ajouter un article</h1>
{% endblock %}

{% block content %}
    {% include 'admin/article/form.html.twig' %}
{% endblock %}
