{% if form is defined %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-lg-9">
            {{ form_row(form.title) }}
            {% include 'blocs/live-uploader.html.twig' with {
                keys: ['photo1', 'photo2', 'photo3', 'photo4'],
                pictures: pictures
            } %}
            {{ form_row(form.content) }}
        </div>
        <div class="shad-left col-lg-3">
            <div class="box">
                <div class="title">Paramètres</div>
                <div class="content">
                    {{ form_row(form.status) }}
                    {{ form_row(form.isSticky) }}
                    {{ form_row(form.isOpenToDiscussion) }}
                    {{ form_row(form.category) }}
                    {% if action is not defined or action == 'add' %}
                        {{ form_row(form.createdAt) }}
                    {% endif %}
                    <input type="submit" value="Enregistrer">
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endif %}
