<div id="disqus_thread"></div>
<script>
    const disqus_config = function () {
        this.page.title = '{{ title }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = '{{ app.request.uri }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ uid }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//sportautomoto.disqus.com/embed.js';
        s.setAttribute('data-timestamp', + {{ "now"|date('U') }});
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>