<script type="text/javascript">
    const base_url = '{{ asset('') }}';
    const max_file_size_megas = '{{ post_max_size|default(6) }}';
    const max_file_size = '{{ post_max_size_byts|default(6) }}';
</script>