{% extends "user/layout.html.twig" %}

{% block memberContent %}

    <div class="alert alert-complete">
        <p>NB : toute modification de vos annonces impliquera la validation de la part de notre équipe. (Dans les 24H qui suivent)</p>
    </div>

    <div class="user-actions align-right">
        <a href="{{ path('user_classified_add') }}" class="btn-complete">Ajouter</a>
    </div>

    {% if paginate.items|length > 0 %}
        {% for item in paginate.items %}
            <div class="item">
                <div class="item-infos">
                    <div class="item-title">
                        <span class="badge badge-{{ item.status == 'pending' ? 'warning' : 'success' }}">{{ item.status|trans }}</span>
                        <strong>{{ item.title }}</strong>
                    </div>
                    <ul class="item-metas">
                        <li>Déposé le <strong>{{ item.createdAt|date('d/m/Y H:i') }}</strong></li>
                        <li>Dans <strong>{{ item.category.title }}</strong></li>
                    </ul>
                </div>
                <div class="item-actions">
                    <a href="{{ path('user_classified_update', { 'id': item.id }) }}" class="btn btn-complete">Modifier</a>
                    {% if item.status == 'pending' %}
                        <a href="{{ path('user_classified_publish', { 'id': item.id }) }}" class="btn btn-success">Publier</a>
                    {% else %}
                        <a href="{{ path('user_classified_archive', { 'id': item.id }) }}" class="btn btn-warning">Archiver</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
    {% else %}
        {% include "blocs/empty-bloc.html.twig" %}
    {% endif %}

{% endblock %}
