{% extends "user/layout.html.twig" %}

{% form_theme form "form/theme.html.twig" %}

{% block memberContent %}
    <div class="alert alert-complete">
        <p>NB : toute modification de vos annonces impliquera la validation de la part de notre équipe. (Dans les 24H qui suivent)</p>
    </div>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.price) }}
                {{ form_row(form.mileage) }}
                {{ form_row(form.firstCirculationYear) }}
                {{ form_row(form.energy) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.classifiedModel) }}
                {{ form_row(form.model) }}
                {{ form_row(form.category) }}
                {{ form_row(form.city) }}
            </div>
        </div>
        {% include 'blocs/live-uploader.html.twig' with {
            keys: ['photo1', 'photo2', 'photo3', 'photo4'],
            pictures: pictures
        } %}
        {{ form_row(form.content) }}
        <div class="form-action pull-right">
            <input type="submit" value="Enregistrer">
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
