.boxContent {
  @include border-radius(3px);
  border: 1px whitesmoke solid;
  margin: 0 0 15px 0;
  label input {
    margin-right: 5px;
  }
  .title {
    background: whitesmoke;
    padding: 10px 20px 8px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #0288D1;
    label {
      margin: 0;
      font-size: 16px;
    }
  }
  .metas {
    padding: 10px 20px;
    min-height: 190px;
    .input-group span label {
      margin: 0!important;
      @include border-radius(0 0 4px 4px);
    }
    label {
      font-size: 14px;
      display: block;
    }
  }
}
