$navHeight: 70px;

$light-background-color: #fff;
$light-link-color: $mainColor;
$light-darken-color: $darkenColor;
$light-border-color: #eee;
$dark-background-color: #333;
$dark-link-color: $light-background-color;
$dark-lighten-color: whitesmoke;
$dark-border-color: lighten(#333, 5%);

nav.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navHeight;;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
  background-color: $light-background-color;
  z-index: 102;
  i.ion {
    font-size: 1.2rem;
  }
  ul {
    //background-color: $light-background-color;
    list-style: none;
    padding: 0;
    margin: 0;
    //display: none;
    li {
      border-top: 1px $light-border-color solid;
      list-style: none;
      > a {
        display: block;
        font-size: 14px;
        text-decoration: none;
        height: $navHeight;;
        line-height: $navHeight;;
        color: $light-link-color;
        text-transform: uppercase;
        padding: 0 20px;
        &:hover, &:active, &:focus {
          color: $light-darken-color;
          background: transparent;
        }
        &.nav-btn-annonce {
          color: $completeColor;
        }
        &.nav-btn-login {
          color: $successColor;
        }
        &.nav-btn-logout {
          color: $dangerColor;
        }
      }
      &.dropdown {
        position: relative;
        z-index: 102;
        a {
          display: none;
        }
        ul {
          display: block;
        }
        > ul {
          background-color: $light-background-color;
          display: none;
          li {
            > * {
              display: none;
            }
            h3 {
              margin-top: 0;
            }
            > a {
              display: block;
            }
          }
        }
        &.dropdown-open > ul {
          display: block;
        }
      }
    }
    &.nav-connected {
      > a {
        text-align: center;
      }
      .dropdown {
        width: 175px;
      }
    }
  }
  .nav-toggle-icon {
    float: right;
    width: 60px;
    height: $navHeight;;
    line-height: $navHeight;;
    border: none;
    color: $light-darken-color;
    font-size: 38px;
    .nav-toggle-close {
      display: none;
    }
  }
  .nav-logo {
    margin: 5px 15px;
    img {
      height: 54px;
      padding-top: 4px;
    }
  }
  &.nav-collapse {
    height: 100%;
    background-color: rgba(0,0,0,.95);
    .nav-toggle-icon {
      float: none;
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: rgba(255, 0, 0, 0.15);
      color: #ccc;
      .nav-toggle-close {
        display: block;
      }
      .nav-toggle-open {
        display: none;
      }
    }
  }
}

.dark-mode {
  nav.nav {
    background-color: $dark-background-color;
    ul {
      li {
        a, &.dropdown ul li a {
          color: $dark-link-color;
          &:hover, &:active, &:focus {
            color: $dark-lighten-color;
          }
        }
        &.dropdown {
          ul {
            border-left-color: $dark-border-color;
            border-right-color: $dark-border-color;
            border-bottom-color: $dark-border-color;
            li {
              border-color: $dark-border-color;
              a {
                background-color: $dark-background-color;
                &:hover, &:active, &:focus {
                  background-color: $dark-border-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-med) {
  .hidden-phone {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-med) {
  .hidden-desktop {
    display: none!important;
  }
  nav.nav {
    //position: relative;
    ul {
      width: auto;
      &.pull-right {
        text-align: right;
      }
      li {
        border: none;
        display: inline-block;
        a {
          font-size: 12px;
          padding: 0 5px;
        }
        &.dropdown {
          position: relative;
          &:after {
            content: '';
            display: none;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $secondColor; /* change color here, modified for a black arrow */
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
          }
          > a {
            display: block;
          }
          > ul {
            position: absolute;
            border: 1px $light-border-color solid;
            border-top: 3px $secondColor solid;
            li {
              border-bottom: 1px $light-border-color solid;
              width: 100%;
              > * {
                display: block;
              }
              > a {
                height: 40px;
                line-height: 40px;
              }
              &:last-child {
                border: none;
              }
            }
            &.auth-dropdown {
              width: 400px;
              > li {
                padding: 20px;
                text-align: center;
                > a {
                  width: auto;
                  display: block;
                  padding: 0 15px;
                  &.btn-account {
                    display: inline-block;
                    color: $secondColor;
                    border: 3px $light-border-color solid;
                    height: 46px;
                    &:hover, &:focus, &:active {
                      color: $light-link-color;
                      border-color: $light-link-color;
                    }
                  }
                }
                ul {
                  margin-top: 20px;
                  li {
                    border: none;
                    list-style: circle;
                  }
                }
              }
            }
          }
          &.dropdown-right ul {
            right: 0;
          }
          &.dropdown-left ul {
            left: 0;
          }
          &.dropdown-center ul {
            left: 50%;
            transform: translate(-50%, 0);
          }
          &.dropdown-open {
            &:after {
              display: inline-block;
            }
          }
        }
      }
    }
    .nav-toggle-icon {
      display: none;
    }
    .nav-logo {
      float: left;
    }
    .nav-links {
      float: left;
    }
  }
}

@media screen and (min-width: $breakpoint-med) and (max-width: $breakpoint-large) {
  nav.nav {
    .nav-primary ul.nav-connected li {
      border-left: 1px $light-border-color solid;
      a {
        padding: 0 20px;
        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  nav.nav {
    ul {
      li {
        > a {
          font-size: 12px;
          padding: 0 10px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-extra-large) {
  nav.nav {
    ul {
      li {
        > a {
          padding: 0 20px;
          font-size: 14px;
        }
      }
    }
  }

}
