nav.nav {
  position: fixed;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
  background-color: #fff;
  top: 0;
  z-index: 102;
  ul {
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    li {
      a {
        display: block;
        height: 34px;
        line-height: 34px;
        text-transform: capitalize;
        padding: 0 5px;
        color: #999;
        font-size: 14px;
        text-decoration: none;
        border: none;
        &:hover, &:active {
          color: #fff;
        }
      }
    }
  }
  .nav-toggle-icon {
    float: right;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: none;
    color: $darkenColor;
    font-size: 38px;
    .nav-toggle-close {
      display: none;
    }
  }
  .nav-logo {
    margin-right: 15px;
    img {
      height: 54px;
      padding-top: 4px;
    }
  }
  .nav-primary {
    @extend %clearfix;
    ul {
      border-top: 1px #333 solid;
      li {
        border-bottom: 1px #333 solid;
        a {
          height: 60px;
          line-height: 60px;
          color: #aaa;
          text-transform: uppercase;
          padding: 0 20px;
          &:hover, &:active {
            color: $darkenColor;
            background-color: #333;
          }
        }
      }
    }
    .nav-links {
      float: left;
    }
    ul {
      &.nav-connected {
        float: right;
        li {
          border-left: 1px #333 solid;
          a {
            font-weight: 600;
            border-left: 1px rgba(0,0,0,.1) solid;
            padding: 0 15px;
            &.nav-btn-annonce {
              color: $completeColor;
            }
            &.nav-btn-login {
              color: $successColor;
            }
            &.nav-btn-logout {
              color: $dangerColor;
            }
            &:hover, &:active {
              @include opacity(.8);
            }
          }
        }
      }
      &.dropdown {
        position: relative;
        ul {
          display: block;
        }
        > ul {
          background-color: #fff;
          position: absolute;
          left: 0;
          li {
            width: 300px;
          }
        }
      }
    }
  }
  .nav-secondary {
    color: #ccc;
    ul {
      padding-left: 10px;
      @extend %clearfix;
      li {
        list-style: square;
        margin-left: 20px;
      }
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
  }
  &.nav-collapse {
    height: 100%;
    background-color: rgba(0,0,0,.95);
    .nav-toggle-icon {
      float: none;
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: rgba(255, 0, 0, 0.15);
      color: #ccc;
      .nav-toggle-close {
        display: block;
      }
      .nav-toggle-open {
        display: none;
      }
    }
    ul {
      display: block;
    }
  }
}

@media screen and (min-width: $breakpoint-med) {
  nav.nav {
    position: relative;
    height: 94px;
    background-color: #fff;
    .nav-toggle-icon {
      display: none;
    }
    .nav-logo {
      float: left;
      margin-top: 34px;
    }
    .nav-primary {
      padding-top: 34px;
      ul {
        li {
          a {
            height: 60px;
            line-height: 60px;
            &:hover, &:active {
              background-color: transparent;
            }
          }
          &.nav-logo {
            display: block;
          }
        }
      }
    }
    .nav-secondary {
      background-color: $darkenColor;
      height: 34px;
      position: absolute;
      left:0; top: 0;
      width: 100%;
      ul {
        li {
          list-style: none;
          a {
            color: #9ea3c7;
            &:hover, &:active {
              color: #fff;
            }
          }
        }
        &:last-child {
          padding-right: 20px;
        }
      }
    }
    ul {
      width: auto;
      display: flex;
      border: none!important;
      li {
        border: none!important;
        a {
          color: #999;
          font-size: 13px;
          border: none!important;
        }
      }
    }
  }
}
