.paginator {
  width: 100%;
  .pagination {
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        @include drop-shadow(0, 0px, 2px, 0);
        border: 1px solid $mainColor;
        text-align: center;
        line-height: 34px;
        margin: 3px 4px 0 4px;
        @include border-radius(50%);
        height: 34px;
        width: 34px;
        padding: 0;
        &:hover, &:focus {
          border: 1px solid $mainColor;
          background: #fff;
        }
      }
      &.active {
        a {
          margin-top: 0;
          background: $mainColor;
          line-height: 40px;
          height: 40px;
          width: 40px;
          color: #fff;
          border: 1px transparent solid;
        }
      }
      &.disabled a {
        background: #F5F5F5;
        border: 1px transparent solid;
        cursor: not-allowed;
        &:hover, &:focus {
          border: 1px solid #F5F5F5;
          background: #F5F5F5;
        }
      }
    }
  }
}

.table-bordered + .paginator .pagination {
  margin: 0;
}
