@import "../core/mixins";

.slider-list {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  .slider-track {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    .slider-item {
      text-align: center;
      background-color: #000;
      float: left;
      min-height: 1px;
    }
  }
  .slider-controller {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: rgba(255,255,255,.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    &:before {
      content: "";
      border: solid #fff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 8px;
    }
    &.slider-prev {
      left: 0;
      margin-left: 10px;
      padding-left: 8px;
      &:before {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
    &.slider-next {
      right: 0;
      margin-right: 10px;
      padding-right: 8px;
      &:before {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}
