@import "../core/mixins";
@import "../../../node_modules/lightslider/src/css/lightslider.css";

.slideshow {
  background-color: #000000;
  li {
    text-align: center;
    img {
      max-width: 100%;
      max-height: 550px;
    }
  }
}
