@import "../core/_variables";
@import "../core/_mixins";

body {
  background-color: #f6f6f6;
}
.app-wrapper {
  .container {
    padding: 0;
    background-color: #fff;
    @include drop-shadow(0,0,16px,.05);
  }
  .page_header {
    padding: 1rem 2rem;
    overflow: hidden;
    .title {
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.15;
      text-transform: none;
      margin: 0 0 15px 0;
      color: #000
    }
    .meta {
      color: #999;
      font-size: 13px;
      font-weight: 300;
      a {
        text-transform: uppercase;
        img {
          width: 32px;
          height: 32px;
          @include border-radius(50%);
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
        }
      }
      span {
        color: $mainColor;
        &.break-mobile {
          color: #999;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: $mainColor;
    &:hover, &:focus {
      color: $mainColor;
    }
  }
  .socials-btns {
    padding: 0 4rem;
    a {
      @include drop-shadow(0,0,0,0);
      color: #fff;
      &:hover, &:focus {
        color: #fff;
      }
    }
  }
  .article {
    @extend %clearfix;
    .article_content {
      background-color: #ffffff;
      box-shadow: 0 0 16px rgba(0,0,0,0.1);
      float: left;
      width: 71%;
      iframe {
        width: 100%;
        height: 450px;
        border: 5px solid #000;
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
      .bloc__normal_image {
        text-align: center;
        padding: 20px 20px 0 20px;
        img {
          min-width: 80%;
          display: inline-block;
        }
      }
      .article__image {
        width: 100%;
        text-align: center;
        img {
          max-height: 600px;
        }
      }
      .article__image__cover {
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        display: block;
        height: 0;
        overflow: hidden;
        width: 100%;
        box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
        padding-top: 50%;
        position: relative;
      }
      .article__story {
        padding: 4rem;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: #333;
      }
      .article__cgc {
        background-color: #1d242f;
        h4 {
          background-color: darken(#1d242f, 5%);
          color: #8B98AD;
          padding: 1rem;
          margin: 0;
          font-size: 18px;
          font-weight: 400;
        }
        ul {
          margin: 0;
          padding-top: 1rem;
          padding-bottom: 1rem;
          li {
            padding: 0;
            margin: 0 1rem 0.6rem 1rem;
            font-size: 14px;
            color: #8B98AD;
          }
        }
      }
      .relateds {
        border-top: 1px solid #ececec;
        padding: 2rem;
        .related_title {
          font-size: 18px;
          padding: 0 0 2rem 0;
          font-weight: 400;
          color: #222;
          span {
            font-size: 22px;
            font-weight: 700;
          }
        }
        .bloc_related {
          margin-bottom: 25px;
          .bloc__image {
            width: 100%;
            height: 190px;
            background: #f5f5f5 url(/images/default-bg.jpg) center center;
            -webkit-background-size: cover;
            background-size: cover;
            @include border-radius(3px);
          }
          .bloc__title {
            color: #000;
            font-weight: 500;
            line-height: 1.3;
            overflow: hidden;
            font-size: 16px;
            min-height: 40px;
            max-height: 40px;
            margin: 0;
          }
          .bloc__date {
            margin: 0;
            color: #888;
            margin: 10px 0 5px 0;
            display: block;
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 300;
            line-height: 1.3;
            overflow: hidden;
          }
        }
      }
    }
    .article_sidebar {
      display: block;
      background-color: #ffffff;
      border-top: 1px solid #ececec;
      float: left;
      width: 29%;
      .articles {
        .bloc_title {
          font-size: 22px;
          padding: 1.75rem 2rem .5rem;
          font-weight: 700;
          color: #222;
        }
        .bloc_meta {
          color: #333;
          border-bottom: 1px solid #ececec;
          padding: 1em 2em;
          display: block;
          overflow: hidden;
          font-size: 16px;
          .badge {
            font-family: 'Roboto';
            background-color: $mainColor;
            color: #fff;
            @include border-radius(3px);
            font-size: 12px;
            font-weight: 300;
            float: right;
            line-height: 30px;
            height: 30px;
            display: inline-block;
            padding: 0 10px;
          }
          &:hover, &:focus {
            color: $mainColor;
          }
        }
        .bloc_article {
          color: #666;
          border-bottom: 1px solid #ececec;
          padding: 1em 2em;
          position: relative;
          display: block;
          min-height: 90px;
          overflow: hidden;
          .bloc__image {
            position: absolute;
            background: #f5f5f5 url(/images/default-bg.jpg) center center;
            -webkit-background-size: cover;
            background-size: cover;
            @include border-radius(3px);
            width: 65px;
            height: 65px;
          }
          .bloc__title {
            color: #000;
            font-weight: 500;
            line-height: 1.3;
            overflow: hidden;
            margin: 0 0 5px 80px;
            font-size: 16px;
          }
          .bloc__date {
            color: #888;
            font-family: 'Roboto';
            margin: 0 0 0 80px;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.3;
            overflow: hidden;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #wrapper {
    margin: 0;
    #corps {
      margin: 0;
      width: 100%;
    }
  }
}

@media (max-width: 892px) {
  #wrapper {
    .page_header {
      padding: 2.5rem 2rem 2rem;
    }
    .socials-btns {
      padding: 0 2rem;
    }
    .article {
      .article_content {
        .article__story {
          padding: 2rem;
        }
        .article__cgc {
          h4 { padding: 1rem; }
          ul li { margin: 0; text-align: justify; }
        }
      }
      .article_sidebar {
        .articles {
          .bloc_article {
            .bloc__date {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 752px) {
  #wrapper {
    padding: 0 !important;
    .page_header .title {
      font-size: 24px;
      font-family: Roboto;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: normal;
      line-height: 32px;
    }
    .article {
      .article_content {
        width: 100%;
        clear: both;
        .relateds {
          display: none;
        }
        img, iframe {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
      .article_sidebar {
        display: none;
      }
    }
  }
}

@media (max-width: 560px) {
  #wrapper {
    padding: 0;
    > .container {
      .page_header {
        padding: 20px;
        .title {
          margin-bottom: 0;
          font-size: 2.5rem;
          text-align: center;
        }
        .meta {
          // display: none;
          margin-top: 5px;
          margin-bottom: 0;
          text-align: center;
          span.break-mobile {
            display: block;
          }
        }
      }
      .article {
        .article_content {
          float: none;
          width: 100%;
          .article__story {
            padding: 20px;
          }
          .article__cgc {
            h4 {
              background-color: #e8e8e8;
              color: #797979;
              padding: 10px 20px;
              font-size: 14px;
              font-weight: 300;
            }
            ul {
              padding: 20px;
              padding: 20px;
              background: #f3f3f3;
              font-size: 13px;
              li {
                color: #333;
              }
            }
          }
        }
        .article_sidebar {
          display: none;
        }
      }
    }
  }
}
