@import "../core/_variables";
@import "../core/_mixins";
@import "../blocs/slideshow";

.lSSlideOuter {
  position: relative;
}

.lSSlideOuter .lSPager.lSGallery {
  position: absolute;
  bottom: 10px;
}

.article .article_content {
  position: relative;
  > .row {
    margin: 0;
    padding: 40px 0;
    .article__story {
      padding: 0 40px 0 20px;
    }
    .stats {
      padding-left: 40px;
      padding-right: 20px;
      ul {
        padding: 0;
        list-style: none;
        li {
          background: whitesmoke;
          @include border-radius(3px);
          padding: 10px;
          margin-bottom: 5px;
          label {
            display: block;
            font-size: 13px;
            color: #999;
            font-weight: 300;
            margin: 0;
          }
          span {
            font-size: 18px;
            font-weight: 300;
          }
          &.metas {
            span {
              font-size: 12px;
              display: inline-block;
              padding: 2px 8px;
              margin-bottom: 4px;
              background: $mainColor;
              border-radius: 2px;
              a {
                color: #fff;
                text-decoration: none;
              }
              &:hover {
                background: $secondColor;
              }
            }
          }
        }
      }
    }
  }
  .price, .meta {
    background: rgba(13, 156, 77, .85);
    position: absolute;
    top: 20px; left: 0;
    color: #FFFFFF;
    z-index: 101;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    z-index: 102;
    height: 50px;
    padding: 0 20px;
  }
  .meta {
    font-size: 16px;
    background: rgba(255,255,255,.9);
    top: 70px;
    height: 30px;
    line-height: 30px;
    background: #fff;
  }
  .blocki {
    padding-left: 16px;
  }
}

@media (max-width: 992px) {
  .article .article_content {
    > .row {
      padding: 30px 0;
      .article__story, .stats {
        padding: 0 30px;
      }
      .article__story {
        margin-top: 30px;
      }
    }
  }
}
