@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";

.app-wrapper {
  background-color: #ffffff;
  position: relative;
  margin: 70px 0 40px;
  padding: 0;
  .sidebar {
    position: absolute;
    top: 0;
    left: 23px;
    width: 20%;
    background-color: whitesmoke;
    margin: 0;
    padding: 25px;
    list-style: none;
    .select-picker-container {
      margin-bottom: 10px;
      button, ul {
        width: 100%;
      }
    }
    input[type="text"] {
      margin-bottom: 10px;
    }
    input {
      margin: auto 0;
    }
  }
  .main-content {
    padding: 30px 0 0 30px;
    float: right;
    width: 80%;
    .row {
      padding-left: 15px;
      padding-right: 15px;
      margin: 0;
    }
    .empty-bloc {
      display: inline-block;
    }
  }
  &:after {
    @extend %clearfix;
  }
}

@media(max-width: 992px) {
  .app-wrapper {
    .sidebar {
      position: relative!important;
      top: auto; left: auto; bottom: auto;
      width: 100%;
      margin: 0 15px 40px 15px;
      .ingroup {
        width: 100%;
        display: flex;
        > div {
          flex-grow: 1;
          flex-basis: 0;
          margin: 0 5px;
        }
      }
    }
    .main-content {
      padding: 0;
      float: none;
      width: 100%;
    }
  }
}
