@import "../core/variables";
@import "../core/mixins";

.header-image {
  h1 {
    text-align: center;
  }
}

.alert.alerti {
  @include border-radius(0);
  border: none;
  text-align: center;
}

.contact-container {
  .header-title {
    margin: 0 0 60px;
  }
  .contact-intro {
    margin-bottom: 35px;
  }
  h3 {
    margin-top: 0;
  }
  h3, h4 {
    font-weight: 300;
  }
  input[type="text"], button {
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  textarea {
    width: 100%;
    min-height: 400px;
  }
  .form-actions {
    margin-top: 20px;
    text-align: right;
    input[type='submit'] {
      margin: 0;
    }
  }
  .alerts-text {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
