@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";

.app-wrapper {
  background-color: whitesmoke;
}

.customer-profile {
  ul {
    list-style: none;
    margin: 0; padding: 0;
  }
  .picture {
    position: relative;
    margin: 0 auto 40px;
    //padding: 40px;
    //background: url('/images/pneu.png') center center;
    background-size: contain;
    img {
      width: 100%;
      z-index: 100;
      @include border-radius(10px);
    }
    .shadow {
      display: none;
      position: absolute;
      z-index: 101;
      width: 220px;
      height: 220px;
      @include border-radius(50%);
      @include background-gradient(rgba(0,0,0,.6), transparent);
    }
    .age {
      text-align: center;
      position: absolute;
      width: 100%;
      z-index: 102;
      bottom: 4px;
      font-size: 3em;
      color: #E2E2E2;
      @include background-gradient(rgba(0,0,0,.6), transparent);
      @include border-radius(0 0 10px 10px);
      sup {
        font-size: 12px;
        padding-left: 3px;
        position: absolute;
        color: #bbb;
        top: 3px;
      }
    }
  }
  .stats {
    li {
      background: lighten(whitesmoke, 5%);
      @include border-radius(3px);
      padding: 10px;
      margin-bottom: 5px;
      label {
        display: block;
        font-size: 14px;
        color: #999;
        font-weight: 300;
      }
      span {
        font-size: 22px;
        font-weight: 300;
      }
      &.metas {
        span {
          font-size: 12px;
          display: inline-block;
          padding: 2px 8px;
          margin-right: 4px;
          margin-bottom: 4px;
          background: $mainColor;
          border-radius: 2px;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
          }
          &:hover {
            background: $mainColor;
          }
        }
      }
    }
  }
  .content {
      background: #fff;
      padding: 30px;
      .title {
        h1 {
          color: $secondColor;
          font-size: 3rem;
          font-weight: 400;
          margin: 0;
        }
        p {
          margin-bottom: 30px;
          font-size: 14px;
          color: #a2a2a2;
        }
      }
      .short-story {
        p {
          text-align: justify;
          color: #555;
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 30px;
          }
        }
      }
      .stories {
        table {
          tr {
            td {
              &.annee {
                font-size: 2em;
                width: 15%;
                color: #BAD2BC;
              }
              &.meta {
                font-size: 14px;
                width: 20%;
              }
              &.titre {
                width: 60%;
                h4 {
                  .badge {
                    margin-left: 6px;
                    font-size: 11px;
                    font-weight: 300;
                    @include border-radius(3px);
                    background: $mainColor;
                  }
                }
              }
            }
          }
        }
      }
      .socials-btns {
        margin-top: 30px!important;
      }
      h2 {
        margin-top: 40px;
        font-weight: 300;
        color: $mainColor;
      }
    }
  .raking {
    text-align: center;
    margin-bottom: 20px;
    .rank {
      background: #fff;
      padding-bottom: 10px;
      @include border-radius(4px);
      width: 100%;
      height: 110px;
      span {
        display: block;
        font-size: 28px;
      }
    }
    .rank-gold {
      color: gold;
      padding-top: 10px;
      i {
        font-size: 3.5em;
      }
    }
    .rank-silver {
      padding-top: 18px;
      color: silver;
      i {
        font-size: 3em;
      }
    }
    .rank-bronze {
      padding-top: 26px;
      color: #CD7F32;
      i {
        font-size: 2.5em;
      }
    }
  }
}
