@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";

.item {
  &.item-shadow {
    .item-image {
      background-position: center center;
      margin-bottom: 20px;
      height: 200px;
      line-height: 200px;
    }
    .item-title {
      font-size: calc(18.5px)!important;
      height: 60px;
    }
  }
}
