@import "../core/_variables";
@import "article";

.deal-price-after {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: $secondColor;
  color: #fff;
}
.deal-price-infos {
  margin: 0;
  > div {
    p {
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: whitesmoke;
      @include border-radius(8px);
    }
    &:first-child {
      padding: 14px 7px 14px 14px;
    }
    &:last-child {
      padding: 14px 14px 14px 7px;
    }
  }
}
.deal-order-btn {
  text-align: center;
  a {
    display: inline-block;
    width: 70%;
    height:60px;
    line-height: 60px;
    font-weight: 400;
    background: $thirdColor;
    @include border-radius(8px);
    font-size: 1.5rem;
    color: #fff!important;
    &:hover, &:focus {
      background: lighten($thirdColor, 5%);
    }
  }
}
.deal-sells, .deal-end {
  background: whitesmoke;
  @include border-radius(8px);
  margin: 15px;
  padding: 10px;
  text-align: center;
  h4 {
    font-size: 14px;
    font-weight: 300;
    color: $secondColor;
    margin: 0;
  }
}
.deal-sells {
  .progress {
    background: #d8d8d8;
    height: 10px;
    margin: 15px 0 0 0;
    @include border-radius(2px);
    .progress-bar {
      background: $thirdColor;
    }
  }
  .row {
    font-size: 12px;
    font-weight: 700;
    > div {
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  .deal-validated {
    border-top: 10px;
  }
}
.deal-end {
  > div {
    font-size: 2rem;
    font-weight: 800;
    height: 60px;
    line-height: 60px;
    color: $thirdColor;
  }
}
