@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";
@import "../plugins/uploader";

#wrapper {
  padding: 90px 20px 20px 20px!important;
}

.separate {
  width: 100%;
  height: 15px;
}

.header-image h1 {
  text-align: center;
}

#orderPage {
  > i {
    font-size: 10rem;
    color: #72d672;
    margin-bottom: 40px;
    display: inline-block;
  }
  #orderNumber {
    padding: 30px 0;
    background: whitesmoke;
    margin-bottom: 25px;
    border: none;
    color: #e4634d;
    @include border-radius(6px);
    > strong {
      margin-bottom: 10px;
      color: #929292;
      font-size: 14px;
    }
  }
  > p {
    text-align: center;
  }
}

.isLogo .liveUploads .lu-container {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

form {
  input[type="text"], input[type="date"], input[type="email"], textarea, select, .bselect {
    @include border-radius(3px);
    border: 1px solid #eee;
    width: 100%;
  }
  input[type="text"], input[type="date"], input[type="email"] {
    margin-bottom: 15px;
  }
  input[type="checkbox"] {
    height: auto;
  }
  textarea {
    min-height: 200px;
    padding: 15px;
  }
  label {
    display: block;
  }
}

.site-content {
  background-color: white;
}

#corps {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sbs-title {
  position: absolute;
  top: 0; left: 0;
  margin: 0;
  width: 100%;
  background: whitesmoke;
  color: $mainColor;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 400;
}

section {
  margin: 0 0 30px 0;
  .sbs-wrapper {

  }
  .sbs-navigation {

  }
  #step3 .sbs-wrapper {
    .liveUploader {
      width: 100%;
    }
  }
}

.boxContent {
  @include border-radius(3px);
  border: 1px whitesmoke solid;
  margin: 0 0 15px 0;
  label input {
    margin-right: 5px;
  }
  .title {
    background: whitesmoke;
    padding: 10px 20px 8px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #0288D1;
    label {
      margin: 0;
      font-size: 16px;
    }
  }
  .metas {
    padding: 10px 20px;
    min-height: 190px;
    .input-group span label {
      margin: 0!important;
      @include border-radius(0 0 4px 4px);
    }
    label {
      font-size: 14px;
    }
  }
}

.legal {
  text-align: justify;
  color: #ccc;
}
