@import "../core/_variables";
@import "../core/_mixins";

.section-container {
  @extend %clearfix;
}

section {
  margin-bottom: 40px;
  &.section-articles {
    width: 80%;
    float: left;
    padding-right: 40px;
    &.no-event {
      width: 100%;
      padding-right: 0;
    }
    .section-items {
      height: 600px;
      .item {
        margin: 0;
        width: 25%;
        height: 50%;
        border-color: transparent;
        border-style: solid;
        border-width: 0;
        header .title { font-size: 1.3rem;font-weight: 400; }
        &:first-child {
          width: 50%;
          height: 100%;
          border-right-width: 7.5px;
          header .title { font-size: 2.5rem; }
        }
        &:nth-child(2), &:nth-child(3) {
          border-bottom-width: 7.5px;
          border-left-width: 7.5px;
        }
        &:nth-child(4), &:nth-child(5) {
          border-top-width: 7.5px;
          border-left-width: 7.5px;
        }
        &:nth-child(2), &:nth-child(4) {
          border-right-width: 7.5px;
        }
      }
    }
  }
  &.section-events {
    width: 20%;
    float: right;
    .section-items {
      @include border-radius(4px);
      background-color: $warningColor;
      height: 600px;
      padding: 20px;
      margin: 0;
      text-align: center;
      .event-title {
      }
      .event-image {
        max-width: 100%;
        margin: 10px 0;
        @include border-radius(4px);
      }
      .event-date {
        display: flex;
        background-color: lighten($warningColor, 10%);
        @include border-radius(4px);
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        > div {
          display: inline-grid;
          flex: auto;
          span {
            font-size: 1.5rem;
            display: block;
          }
        }
      }
      .events-link {
        display: block;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        @include border-radius(4px);
      }
    }
    li {
      a {
        display: block;
        width: 100%;
        padding: 20px 0px;
      }
    }
  }
  &.section-discover {
    margin: 0;
    .section-items {
      height: auto;
      @extend %clearfix;
      .item-container {
        padding: 0 5px;
        width: 20%;
        height: 250px;
        float: left;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      .item {
        width: 100%;
        height: 250px;
        .item-job {
          @include absolute();
          @include border-radius(4px 0 4px 0);
          right: auto;
          background-color: gold;
          height: 30px;
          font-size: 14px;
          line-height: 30px;
          padding: 0 20px;
          z-index: 102;
          display: inline-block;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}

.pub-arc {
  section {
    &.section-articles, &.section-events {
      width: 100%;
      padding: 0;
      float: none;
    }
    &.section-events {
      .section-items {
        height: auto;
        .event-image {
          display: none;
        }
        .events-link {
          width: 210px;
          margin: 0 auto;
        }
      }
    }
  }
}
