@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";

.app-wrapper {
  form {
    width: 380px;
    margin: 0 auto;
    border: 1px #eee solid;
    padding: 40px;
    .form_row {
      margin-bottom: 10px;
      input {
        display: block;
        width: 100%;
      }
    }
    .form-actions {
      display: flex;
      button, a {
        display: inline-grid;
        flex: auto;
        height: 40px;
        line-height: 40px;
        text-align: center;
        @include border-radius(4px);
        border: none;
        color: #fff;
      }
      a {
        margin-right: 3px;
        background-color: $completeColor;
      }
      button {
        margin-left: 3px;
        background-color: $successColor;
      }
    }
  }
}
