@import "../core/variables";
@import "../core/mixins";

.app-wrapper {
  padding: 100px 0 50px 0;
  .header-title {
    margin-left: 15px;
  }
  .page-title {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 15px;
    h2 {
      margin: 0;
      font-weight: 300;
      padding: 10px 20px;
      background: $mainColor;
      color: #fff;
      width: auto;
      display: inline-block;
      font-size: 24px;
      border-right: 5px $secondColor solid;
    }
    h3 {
      margin: 0;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: 300;
      background: $secondColor;
      color: #fff;
      width: auto;
      display: inline-block;
    }
  }
}

.pub-plans {
  margin-bottom: 50px;
  display: flex;
  .pub-plan {
    padding: 15px;
    display: inline-grid;
    flex: auto;
    .pub-content {
      text-align: center;
      @include border-radius(4px);
      border: 2px #eee solid;
      padding: 35px 0 30px 0;
      .pub-price {
        font-size: 2em;
        margin-bottom: 15px;
        font-weight: 700;
        color: #333;
      }
      span {
        font-size: 18px;
        color: #777
      }
    }
  }
}

.site-plans {
  clear: both;
  .row > div {
    .site-plan {
      text-align: center;
      @include border-radius(4px);
      @include drop-shadow();
      > ul {
        li {
          border-top: 1px whitesmoke solid;
          > i {
            font-size: 1.5em;
            color: $secondColor;
            &.ion-minus {
              color: #999;
            }
          }
          > span {
            display: none;
          }
          &.plan-price {
            font-size: 1.3em;
            font-weight: 700;
            color: $secondColor;
          }
        }
      }
    }
    .site-labels {
      text-align: right;
    }
    .site-labels, .site-plan {
      .plan-title {
        height: 80px;
        line-height: 80px;
        font-weight: 600;
        color: $mainColor;
        font-size: 2em;
      }
      > ul {
        list-style: none;
        padding: 0;
        li {
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .pub-plans {
    .pub-plan {
      padding: 15px;
      width: 100% / 3;
      float: left;
      &:nth-child(4), &:nth-child(5) {
        width: 50%;
      }
    }
  }
  .site-plans .row > div {
    .site-plan {
      margin-bottom: 30px;
      > ul {
        li {
          border-top: 1px whitesmoke solid;
          > i.ion-checkmark-circled {
            display: none;
          }
          > span {
            display: inline;
          }
        }
      }
    }
    .site-labels {
      display: none;
    }
  }
}

@media (max-width: 560px) {
  .pub-plans {
    .pub-plan {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        .pub-price {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .pub-plans {
    .pub-plan {
      width: 100%!important;
      .pub-price {
        font-size: 24px;
      }
      .pub-label {
        font-size: 16px;
      }
    }
  }
}
