@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";
@import "../plugins/uploader";
@import "../blocs/box";

.app-wrapper {
  .form_row {
    text-align: left!important;
    label:first-letter {
      text-transform: capitalize;
    }
    .row {
      margin: 0;
    }
    input[type="text"],
    input[type="email"],
    input[type="date"],
    .select-picker-container {
      width: 100%;
      button {
        border-color: #ccc;
        &:hover, &:focus {
          border-color: $completeColor;
        }
      }
      button, ul {
        width: 100%;
      }
    }
  }
  .header-title {
    margin-left: 0;
  }
  .liveUploads {
    .lu-container {
      width: 100%;
      height: 270px;
    }
  }
  a.btn, input[type="submit"], button[type="submit"] {
    display: inline-block;
    padding: 0 30px;
    margin: 0 5px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    &:hover, &:focus {
      @include opacity(0.8);
    }
  }
  .story-table {
    .story-item {
      position: relative;
      border: 1px #eee solid;
      margin-bottom: 10px;
      padding: 15px;
      h3 {
        margin: 0;
        font-size: 16px;
      }
      p {
        margin: 5px 0 10px;
        font-size: 14px;
      }
      .story-action {
        position: absolute;
        top: 15px;
        right: 10px;
        @media (min-width: 769px) {
          .btn {
            padding: 0 15px;
            height: 35px;
            line-height: 35px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .form-action {
    margin: 0 -5px;
  }
  .register-confirmation {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    > i {
      font-size: 10rem;
      color: #72d672;
      margin-bottom: 40px;
      display: inline-block;
    }
    .confirmation-id {
      padding: 30px 0;
      background: whitesmoke;
      margin-bottom: 25px;
      border: none;
      color: #e4634d;
      @include border-radius(6px);
      > strong {
        margin-bottom: 10px;
        color: #929292;
        font-size: 14px;
      }
    }
    > p {
      text-align: center;
    }
  }
}
