@import "../core/variables";
@import "../core/functions";
@import "../core/mixins";
@import "../plugins/uploader";

.app-wrapper {
  .container {
    border: 1px #ddd solid;
    h1 {
      text-transform: uppercase;
      background-color: #ddd;
      font-weight: bold;
      color: $mainColor;
      padding: 20px;
      margin: 0 -15px;
    }
    .menu {
      background-color: #eee;
      padding: 0;
      ul {
        margin: 0;
        li {
          border-bottom: 1px #fff solid;
          a {
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
          }
          &.active {
            border: none;
            a {
              background-color: #fff;
              border-left: 4px solid $secondColor;
              color: $secondColor;
              padding-left: 16px;
            }
          }
        }
      }
    }
    .main-content {
      padding: 30px 20px;
      h2 {
        margin-top: 0;
      }
      .alert {
        margin-bottom: 20px;
      }
      .item {
        display: flex;
        flex: auto;
        border-bottom: 1px whitesmoke solid;
        padding: 20px 0;
        margin: 0;
        &:last-child {
          border: none;
        }
        > div {
          display: grid;
        }
        .item-infos {
          .item-metas {
            font-size: 12px;
          }
        }
        .item-actions {
          margin-left: auto;
          a {
            height: 30px;
            line-height: 30px;
            margin-bottom: 3px;
            &.btn-primary {
              background-color: #eee;
              text-align: center;
            }
          }
        }
      }
      .liveUploads .lu-container {
        width: 100%;
        height: 200px;
        line-height: 220px;
      }
      input[type="text"],
      input[type="email"],
      input[type="date"],
      .select-picker-container {
        width: 100%;
        button, ul {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .app-wrapper {
    .container {
      max-width: 100%;
      width: 100%;
    }
  }
}
