{% extends "admin/base.html.twig" %}

{% block pageActions %}
    <h1><i class="ion ion-md-home"></i> Tableau de bord</h1>
{% endblock %}

{% block content %}
    <div id="homepage">
        <div class="row boxes">
            {% if boxes is defined and boxes|length > 0 %}
                {% for slug, boxe in boxes %}
                    <div class="col-lg-3 col-sm-6 boxe-container">
                        <div class="boxe-content">
                            <a href="{{ asset('admin/' ~ slug) }}">
                                <h2>{{ boxe.count }} <span>{{ boxe.title }}</span></h2>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
