{% extends "admin/base.html.twig" %}

{% form_theme form 'form/theme.admin.html.twig' %}

{% block pageTitle %}
    <h1><i class="ion ion-md-person"></i> Mon profil</h1>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

        <div class="row">
            <div class="col-lg-6">{{ form_row(form.lastName) }}</div>
            <div class="col-lg-6">{{ form_row(form.firstName) }}</div>
            <div class="col-lg-6">{{ form_row(form.civility) }}</div>
            <div class="col-lg-6">{{ form_row(form.birth_at) }}</div>
        </div>

        {{ form_row(form.headline) }}

    <input type="submit" value="Mettre à jour">

    {{ form_end(form) }}

{% endblock %}
