{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="confirm">
        <h2>Confirmation</h2>
        <p class="msg">Voulez-vous vraiment supprimer l'element suivant ?</p>
        <p class="li">
            {{ element }}
        </p>
        {% if confirmed is defined %}
            <div class="alert alert-danger">
                <strong>l'élement à était supprimé avec succès!</strong>
                Retour à la page du module dans 3 seconds...
            </div>
        {% else %}
            {{ form_start(form) }}
            {{ form_row(form.approve) }}
            {{ form_row(form.cancel) }}
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
