{% extends "layout.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/annonceur.css') }}">
{% endblock %}

{% block content %}
    {% autoescape false %}

        <div class="loginbox row">
            {{ form.addAttr({'id':'conxForm','showErrors':false}).open() }}

            <div class="row">
                <div class="col-xs-6">
                    <div class="infoc">
                        <h2>Informations de connexion</h2>

                        {{ form.label('Adresse e-mail') }}
                        {{ form.addAttr({'id':'email'}).text('email') }}

                        {{ form.label('Mot de passe') }}
                        {{ form.addAttr({'id':'mdp'}).password('mdp') }}
                        {{ form.label('Confirmer le mot de passe') }}
                        {{ form.addAttr({'id':'rmdp'}).password('rmdp') }}

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="infop">
                        <h2>Informations personnelles</h2>

                        {{ form.label('Nom') }}
                        {{ form.addAttr({'id':'nom'}).text('nom') }}

                        {{ form.label('Prénom') }}
                        {{ form.addAttr({'id':'prenom'}).text('prenom') }}

                        {{ form.label('N° Télephone') }}
                        {{ form.addAttr({'id':'tel'}).text('tel') }}

                    </div>
                </div>
            </div>
            <div class="submit">
                <p>(*) Tous les champs sont obligatoires</p>

                {{ form.submit("S'enregistrer") }}
            </div>

            {{ form.close() }}

        </div>

    {% endautoescape %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/plugins/validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/validate.bonus.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/extends/validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/translations/validate.js') }}"></script>
    <script>
        $("#conxForm").validate({
            rules: {
                email: { required: true, email: true, checkEmail: true },
                rmdp: { required: true, minlength: 6, checkMdp: true },
                nom: 'required', prenom: 'required', tel: 'required'
            }
        });
    </script>
{% endblock %}