{% extends "shared/clients/inscription.twig" %}

{% block clientSteps %}

    {% autoescape false %}

        <section data-title="Informations personnelles">
            <div class="row perso">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">

                    <div class="infobull">
                        <h3>Information:</h3>
                        <ul>
                            <li>La taille de l'image ne doit pas dépasser les {{ post_max_size }}</li>
                            <li>Si l'image ne se charge pas, veuillez essayer avec une autre</li>
                        </ul>
                        <h3>Démonstration:</h3>
                        <div class="video">
                            <a href="https://www.youtube.com/watch?v=UWP1Zx3W3Ug" target="_blank" class="btn btn-warning">Voir la vidéo</a>
                        </div>
                    </div>

                    {{ form.addAttr({'id':'formStep0','enctype':'multipart/form-data'}).open() }}

                    {% set dataValue = photos['photo'] ? photos['photo'] : false %}
                    {% set dataSource = sources['photo'] ? sources['photo'] : false %}

                    {{ form.addAttr({
                        'id': 'ulphoto',
                        'class':'liveupload',
                        'data-role':'officiel',
                        'data-value':dataValue,
                        'data-source':dataSource,
                        'data-title':'photo'
                    }).file('photo') }}

                    <div class="row">
                        <div class="col-sm-6 col-xs-12">

                            {{ form.label('Prénom') }}
                            {{ form.addAttr('id','prenom').text('prenom') }}

                            {{ form.label('Nom') }}
                            {{ form.addAttr('id','nom').text('nom') }}

                            {{ form.label('Date de naissance') }}
                            <div class="row">
                                <div class="col-xs-3">
                                    {{ form.select('day', days) }}
                                </div>
                                <div class="col-xs-5">
                                    {{ form.select('month', months) }}
                                </div>
                                <div class="col-xs-4">
                                    {{ form.select('year', years) }}
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-xs-12">

                            {{form.label('Profession') }}
                            {{ form.addAttr('id','job').text('job') }}

                            {{ form.label('Téléphone') }}
                            {{ form.addAttr('id','portable').text('portable') }}

                            {{ form.label('E-mail') }}
                            {{ form.addAttr({'id':'email', 'data-type':'client', 'data-role':'officiel'}).text('email') }}

                        </div>
                    </div>

                     {{ form.close() }}

                </div>
            </div>
        </section>

        <section data-title="Informations professionnelle">
            <div class="row">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">

                    {{ form.addAttr('id','formStep1').open() }}

                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            {{ form.label('Club actuel') }}
                            {{ form.addAttr('id','club').text('club') }}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="metaTwin row">
                                <div class="col-sm-4 twin-meta">
                                    {{ form.label('Catégorie') }}
                                    {{ form.addAttr('id','meta').select('meta', categories) }}
                                </div>
                                <div class="col-sm-8 twin-text">
                                    {{ form.label('Préciser la catégorie') }}
                                    {{ form.addAttr('id','preciser').text('preciser') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            {{ form.label('Biographie') }}
                            {{ form.addAttr({'id':'content', 'class':'wysiwygme'}).textarea('content') }}
                        </div>
                    </div>

                    {{ form.close() }}

                </div>
            </div>
        </section>

        <section data-title="Vos photos">

            <div class="infobull">
                <h3>Information</h3>
                <ul>
                    <li>La taille de l'image ne doit pas dépasser les {{ post_max_size }}</li>
                    <li>Si l'image ne se charge pas, veuillez essayer avec une autre</li>
                </ul>
            </div>

            <div class="multiLiveUploader">

                {{ form.addAttr({'id':'formStep2','enctype':'multipart/form-data'}).open() }}

                {% for name in ['photo1','photo2','photo3','photo4'] %}
                    {% set dataValue = photos[name] ? photos[name] : false %}
                    {% set dataSource = sources[name] ? sources[name] : false %}
                    {% set photoId = 'ul' ~ name %}
                    {{ form.addAttr({
                        'id':photoId,
                        'class':'liveupload',
                        'data-role':'officiel',
                        'data-value':dataValue,
                        'data-source':dataSource,
                        'data-title':'photo'
                    }).file(name) }}
                {% endfor %}

                {{ form.close() }}

            </div>

        </section>

        <section data-id="special" data-title="Votre experience" novalidate>
            <div class="row">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">

                    <h3>Ajouter une experience</h3>

                    {{ form.addAttr('id','formStep3').open() }}
                    <div id="palFields" class="row">
                        <div class="col-lg-12">
                            {{ form.label('Titre') }}
                            {{ form.addAttr({'id':'paltitle','placeholder':"Titre de l'experience"}).text('paltitle') }}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="metaTwin row">
                                <div class="col-sm-4 twin-meta">
                                    {{ form.label('Catégorie') }}
                                    {{ form.addAttr('id','category').select('category', categories) }}
                                </div>
                                <div class="col-sm-8 twin-text">
                                    {{ form.label('Préciser la catégorie') }}
                                    {{ form.addAttr('id','preciser').text('preciser') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.label('Année') }}
                            {{ form.addAttr({'id':'year', 'placeholder': "now"|date('Y')}).text('year') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 palmares-add-action">
                            <a href="#steps" id="addEntry" class="palmares-btn-add"><i class="ion ion-md-add-round"></i> Ajouter</a>
                        </div>
                    </div>
                    {{ form.close() }}

                    <div id="experiences">
                        <h3>Mon experience</h3>
                        <div class="story-container">
                            <div class="empty-bloc">Veuillez ajouter une experience</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="hidden">
            {% include 'shared/clients/template-officiel.twig' %}
        </div>

    {% endautoescape %}

{% endblock %}

{% block validationJs %}

    <script>
        var specialStep = "step3";
        var currentStep = "{{ currentStep }}";
        var currentStepDatas = jQuery.parseJSON(JSON.stringify({{ currentStepDatas|raw }}));
        $('#addEntry').myStory({
            formulaire: "#formStep3",
            specialStep: specialStep,
            currentStep: currentStep,
            data: currentStepDatas,
            role: 'officiel',
            afterRead: function() {
                var select = $('select#category');
                liveMetaTwin(select);
            }
        });
        $("#formStep0").validate({
            ignore : ".ignore",
            rules: { photo: { requiredImage:true, filesize:max_file_size }, email:{required:true, checkExist: true, email:true}, nom:"required", prenom:"required" }
        });
        $("#formStep1").validate({
            ignore : ".ignore",
            rules: { preciser: "required" }
        });
        $("#formStep2").validate({
            ignore : ".ignore",
            rules: { photo1: { requiredImage: true, filesize: max_file_size } }
        });
        $("#formStep3").validate({
            ignore : ".ignore",
            rules: { paltitle:"required", year:"required", preciser: "required"}
        })
    </script>

{% endblock %}
