{% extends "shared/clients/inscription.twig" %}

{% block clientSteps %}

    {% autoescape false %}

        <section data-title="Informations personnelles">
            <div class="row perso">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">

                    <div class="infobull">
                        <h3>Information</h3>
                        <ul>
                            <li>La taille de l'image ne doit pas dépasser les {{ post_max_size }}</li>
                            <li>Si l'image ne se charge pas, veuillez essayer avec une autre</li>
                        </ul>
                        <h3>Démonstration:</h3>
                        <div class="video">
                            <a href="https://www.youtube.com/watch?v=UWP1Zx3W3Ug" target="_blank" class="btn btn-warning">Voir la vidéo</a>
                        </div>
                    </div>

                    {{ form.addAttr({'id':'formStep0','enctype':'multipart/form-data'}).open() }}

                        {% set dataValue = photos['photo'] ? photos['photo'] : false %}
                        {% set dataSource = sources['photo'] ? sources['photo'] : false %}

                        {{ form.addAttr({
                            'id': 'ulphoto',
                            'class':'liveupload',
                            'data-onchange': 1,
                            'data-role':'pilote',
                            'data-value':dataValue,
                            'data-source':dataSource,
                            'data-title':'photo'
                        }).file('photo') }}

                        <div class="row">
                            <div class="col-sm-6 col-xs-12">

                                {{ form.label('Prénom') }}
                                {{ form.addAttr('id','prenom').text('prenom') }}

                                {{ form.label('Nom') }}
                                {{ form.addAttr('id','nom').text('nom') }}

                                {{ form.label('Date de naissance') }}
                                <div class="row">
                                    <div class="col-xs-3">
                                        {{ form.select('day', days) }}
                                    </div>
                                    <div class="col-xs-5">
                                        {{ form.select('month', months) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form.select('year', years) }}
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-xs-12">

                                {{form.label('Profession') }}
                                {{ form.addAttr('id','job').text('job') }}

                                {{ form.label('Téléphone') }}
                                {{ form.addAttr('id','portable').text('portable') }}

                                {{ form.label('E-mail') }}
                                {{ form.addAttr({'id':'email', 'data-type':'client', 'data-role':'pilote'}).text('email') }}

                            </div>
                        </div>

                    {{ form.close() }}

                </div>
            </div>
        </section>

        <section data-title="Informations professionnelle">
            <div class="row">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">

                    {{ form.addAttr('id','formStep1').open() }}

                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                {{ form.label('Club actuel') }}
                                {{ form.addAttr('id','club').text('club') }}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                {{ form.label('Véhicule') }}
                                {{ form.addAttr('id','machine').text('machine') }}
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                {{ form.label('Biographie') }}
                                {{ form.addAttr({'id':'content', 'class':'wysiwygme'}).textarea('content') }}
                            </div>
                        </div>

                    {{ form.close() }}

                </div>
            </div>
        </section>

        <section data-title="Les catégories">

            <div class="infobull">
                <h3>Information</h3>
                <p>Il faut cocher la catégorie de pilote pour activer les catégories de véhicules.</p>
            </div>

            <div id="metas" class="row">

                {{ form.addAttr('id','formStep2').open() }}

                {% if jobMetas and jobMetas|length > 0 %}

                    {% set i = 0 %}

                    {% for slug, meta in jobMetas %}

                        {% if slug != 'autres' %}
                            {% set i = i + 1 %}

                            {% if i % 2 == 1 %}
                                <div class="col-sm-6 col-xs-12">
                                <div class="row">
                            {% endif %}

                            <div class="col-xs-6">
                                <div id="kartBox" class="boxContent">
                                    <div class="title checkParent">
                                        {{ form.addAttr('value',meta.id).checkbox('categories[]', meta.title) }}</div>
                                    <div class="metas">
                                        {% if meta.childs %}
                                            {% for id, titre in meta.childs %}
                                                <label>
                                                    {{ form.addAttr('value',id).checkbox('meta[]', titre) }}
                                                </label>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            {% if i % 2 == 0 %}
                                </div>
                                </div>
                            {% endif %}
                        {% endif %}

                    {% endfor %}

                {% endif %}

                {{ form.close() }}

            </div>

        </section>

        <section data-title="Photos (auto/moto/kart...)">

            <div class="infobull">
                <h3>Information</h3>
                <ul>
                    <li>La taille de l'image ne doit pas dépasser les {{ post_max_size }}</li>
                    <li>Si l'image ne se charge pas, veuillez essayer avec une autre</li>
                </ul>
            </div>

            <div class="multiLiveUploader">

                {{ form.addAttr({'id':'formStep3','enctype':'multipart/form-data'}).open() }}

                {% for name in ['photo1','photo2','photo3','photo4'] %}
                    {% set dataValue = photos[name] ? photos[name] : false %}
                    {% set dataSource = sources[name] ? sources[name] : false %}
                    {% set photoId = 'ul' ~ name %}
                    {{ form.addAttr({
                        'id':photoId,
                        'class':'liveupload',
                        'data-role':'pilote',
                        'data-value':dataValue,
                        'data-source':dataSource,
                        'data-title':'photo'
                    }).file(name) }}
                {% endfor %}

                {{ form.close() }}

            </div>

        </section>

        <section data-id="special" data-title="Palmarès" novalidate>
            <div class="row">
                <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">

                    <h3>Ajouter un résultat</h3>

                    {{ form.addAttr('id','formStep4').open() }}
                    <div id="palFields" class="row">
                        <div class="col-lg-12">
                            {{ form.label('Événement') }}
                            {{ form.addAttr({'id':'paltitle', 'placeholder':"Titre de l'événement'"}).text('paltitle') }}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="metaTwin row">
                                <div class="col-sm-4 twin-meta">
                                    {{ form.label('Catégorie') }}
                                    {{ form.addAttr('id','category').gselect('category', categories) }}
                                </div>
                                <div class="col-sm-8 twin-text">
                                    {{ form.label('Préciser la catégorie') }}
                                    {{ form.addAttr('id','preciser').text('preciser') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form.label('Véhicule') }}
                            {{ form.addAttr('id','vehicule').text('vehicule') }}
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            {{ form.label('Année') }}
                            {{ form.addAttr('id','year').text('year') }}
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            {{ form.label('Nombre de victoires') }}
                            {{ form.addAttr('id','victory').text('victory') }}
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            {{ form.label('Classement annuel') }}
                            {{ form.addAttr('id','result').text('result') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 palmares-add-action">
                            <a href="#steps" id="addEntry" class="palmares-btn-add"><i class="ion ion-md-add-round"></i> Ajouter</a>
                        </div>
                    </div>
                    {{ form.close() }}

                    <div id="experiences">
                        <h3>Mon Palmarès</h3>
                        <div class="story-container">
                            <div class="empty-bloc">Veuillez ajouter une experience</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="hidden">
            {% include 'shared/clients/template-pilote.twig' %}
        </div>

    {% endautoescape %}

{% endblock %}

{% block validationJs %}

    <script>
        var specialStep = "step4";
        var currentStep = "{{ currentStep }}";
        var currentStepDatas = jQuery.parseJSON(JSON.stringify({{ currentStepDatas|raw }}));
        $('#addEntry').myStory({
            formulaire: "#formStep4",
            specialStep: specialStep,
            currentStep: currentStep,
            data: currentStepDatas,
            role: 'pilote',
            afterRead: function() {
                var select = $('select#category');
                liveMetaTwin(select);
            }
        });
        $("#formStep0").validate({
            ignore : ".ignore",
            rules: {photo: { requiredImage:true, filesize:max_file_size }, email:{required:true, checkExist: true, email:true}, nom:"required", prenom:"required" }
        });
        $("#formStep1").validate({
            ignore : ".ignore",
            rules: { machine: "required" }
        });
        $("#formStep3").validate({
            ignore : ".ignore",
            rules: { photo1: { requiredImage: true, filesize: max_file_size } }
        });
        $("#formStep4").validate({
            ignore : ".ignore",
            rules: { machine:"required", paltitle:"required", vehicule:"required", victory:"required", result:"required"}
        });
    </script>

{% endblock %}
