{% extends "layout.twig" %}

{% block content %}
    <div id="errorPage" class="container">
        <div class="alert alert-{{ style }}" style="margin-bottom:30px">{{ message }}</div>
        <a href="{{ asset() }}" class="btn btn-warning">Revenir à la page d’accueil</a>
    </div>
{% endblock %}