{% extends "layout.html.twig" %}

{% block memberContent %}

    <div class="alert alert-info">
        <p>Votre annonce a bien été reçue et nous allons la mettre en ligne dès qu'elle sera validée par notre équipe (dans moins de 24h). La validation permet de s'assurer que le contenu de votre annonce est correct.</p>
    </div>

    {% autoescape false %}

        {{ form.addAttr({'id':'depozForm'}).open() }}

        {{ form.label('Titre') }}
        {{ form.addAttr('id','titre').text('titre') }}

        <div class="row">
            <div class="col-sm-4 col-xs-12">
              {{ form.label('Moto ou Auto ?') }}
              {{ form.addAttr('id','type').select('type', machineType) }}
            </div>
            <div class="col-sm-4 col-xs-12">
              {{ form.label('Quelle marque ?') }}
              {{ form.addAttr('id','marks').select('id_marque', ['Quelle marque ?']) }}
            </div>
            <div class="col-sm-4 col-xs-12">
              {{ form.label('Quel modèle ?') }}
              {{ form.addAttr('id','models').select('id_model', ['Quel modèle ?']) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Catégorie') }}
                {{ form.addAttr('id','categorie').select('categorie', categories) }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Ville') }}
                {{ form.addAttr('id','ville').select('ville', villes) }}
            </div>
            <div class="col-sm-4 col-xs-12">
                {{ form.label('Prix') }}
                {{ form.addAttr({'id':'price', 'placeholder':'90 000'}).text('price') }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
              {{ form.label('Type de carburant') }}
              {{ form.addAttr('id','carburant').select('carburant', carburants) }}
            </div>
            <div class="col-sm-4 col-xs-12">
              {{ form.label('Année modèle') }}
              {{ form.addAttr('placeholder','2005').text('started') }}
            </div>
            <div class="col-sm-4 col-xs-12">
              {{ form.label('Kilométrage') }}
              {{ form.addAttr('placeholder','10 000').text('driven') }}
            </div>
        </div>

        <h2 class="hinput">Les photos</h2>
        <div class="photos">
            <div class="multiLiveUploader">

                {% for name in ['photo1','photo2','photo3','photo4'] %}
                    {% set dataValue = photos[name] ? photos[name] : false %}
                    {% set dataSource = sources[name] ? sources[name] : false %}
                    {% set photoId = 'ul' ~ name %}
                    {{ form.addAttr({
                        'id':photoId,
                        'class':'liveupload',
                        'data-role':'annonce',
                        'data-id':dataSource ~ annonceId,
                        'data-value':dataValue,
                        'data-title':'photo'
                    }).file(name) }}
                {% endfor %}

            </div>
        </div>

        <h2 class="hinput">La description</h2>
        {{ form.addAttr({'id':'content', 'class':'wysiwygme'}).textarea('content') }}

        <div class="form-actions">
            {{ form.submit('Enregistrer') }}
        </div>

        {{ form.close() }}

    {% endautoescape %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/plugins/filestyle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/validate.bonus.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/extends/validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/translations/validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/liveUpload.jquery.js') }}"></script>
{% endblock %}

{% block inlinejs %}

    {% include 'tinymce.twig' %}

    <script type="text/javascript">
        $('.liveupload').liveUpload({
            responsive: true,
            namespace: 'auto',
            baseUrl: base_url + 'api/images/',
            tmpUrl: base_url + 'images/tmp/',
            imgUrl: base_url + 'images/',
            useBaseUrl: true,
            afterUpload: function() {
                var $that = $(this);
                $that.removeClass('error');
                $that.parent().find('label.error').remove();
            }
        });
        var current_marque = "{{ current_marque }}";
        var current_model = "{{ current_model }}";
        $('#depozForm').validate({
            rules: {
                titre: 'required', price: 'required', content: 'required',
                model: {required: true, superior: true},
                {% if action == 'add' or (action == 'edit' and sources['photo'] is defined and source['photo'] != false) %}
                photo: { requiredImage:true, filesize:max_file_size },
                {% endif %}
            }
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/Classified.js') }}"></script>

{% endblock %}
