<?php if(isset($alert)) echo $alert; ?>

<div id="corps">
   <div class="ccorps">
      <ul class="sidebar">
         <?php foreach($menu as $slug => $titre): ?>
            <li<?php if(($slug == $caction) OR ($slug == '' && $caction == 'accueil')) echo ' class="active"'; ?>>
               <a href="<?= $html->url('annonceurs/'.$slug); ?>">
                  <?= $titre; ?>
               </a>
            </li>
         <?php endforeach; ?>
      </ul>
      <div class="main-content">