{% extends "user/layout.html.twig" %}

{% block memberContent %}
    <div class="bloc">
        <div class="cbloc">
            <div class="infos">
                <label>Nom & Prénom</label>
                <p>{{ app.user.lastName }} {{ app.user.firstName }}</p>
                <label>Votre N° téléphone</label>
                <p>{{ app.user.phone }}</p>
                <label>Votre adresse e-mail</label>
                <p>{{ app.user.email }}</p>
            </div>
            <div class="input">
                <a href="{{ path('user_profile') }}" class="btn btn-complete">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
