{% extends "layout.twig" %}

{% block content %}
    <div id="errorPage" class="container">
        <p>Un email de confirmation vous a été envoyé.</p>
        <p>Merci de cliquer sur le lien figurant dans celui-ci pour valider votre inscription.</p>
    </div>
{% endblock %}