{% extends "base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block stylesheet %}
    <link href="{{ asset('build/css/v2/register.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <h1>Formulaire d'inscription</h1>
    <div class="data-container">
        <div>
            <h2>Informations de connexion</h2>
            {{ form_row(form.email) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}
        </div>
        <div>
            <h2>Informations personnelles</h2>
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.phone) }}
        </div>
    </div>
    <div class="submit">
        <p>{{ form_row(form.newsletter) }}</p>
        <p>{{ form_row(form.termsAccepted) }}</p>
        <input type="submit" value="S'enregister" />
        <p class="required">(*) Tous les champs sont obligatoires</p>
    </div>
    {{ form_end(form) }}
{% endblock %}
