{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/user.css') }}">
{% endblock %}

{% set seo = {'title': 'Mon espace', 'description': ''} %}

{% set items = [
    {'route': 'user_dashboard', 'text': 'Tableau de bord'},
    {'route': 'user_classified_list', 'text': 'Mes annonces'},
    {'route': 'user_deal_list', 'text': 'Mes deals'},
    {'route': 'user_profile', 'text': 'Vos informations'},
    {'route': 'user_security', 'text': 'Sécurité et connexion'}
] %}

{% block content %}
    <div class="container">
        <h1>Mon espace</h1>
        <div class="row">
            <div class="col-sm-3 col-xs-12 menu">
                <ul>
                    {% for item in items %}
                        <li{% if app.request.attributes.get('_route') == item.route %} class="active"{% endif %}>
                            <a href="{{ path(item.route) }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-xs-12">
                <div class="main-content">
                    {% block memberContent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include 'tinymce.html.twig' %}
{% endblock %}
