{% extends "base.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ asset('build/css/v2/login.css') }}">
{% endblock %}

{% set seo = {'title': 'Se connecter', 'description': ''} %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}
        <div class="form-actions">
            <a href="{{ path('register_user') }}">Je m'inscris</a>
            <button type="submit" class="btn-primary">Je me connecte</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
