{% extends "user/layout.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block memberContent %}
    <h2 class="narrow">Informations personnelles</h2>
    <ul class="alert alert-complete">
        <li>Votre prénom, nom et numéro de téléphone</li>
        <li>Seront afficher sur vos annonces.</li>
    </ul>
    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.birth_at) }}
    {{ form_row(form.civility) }}
    {{ form_row(form.newsletter) }}
    <div class="form-actions">
        <button type="submit">Enregistrer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
