<div class="header-image">
  <div class="container">
    <h1>Recherchez votre compte <?= $sitename; ?></h1>
    <h2>Entrez votre email pour réinitialiser votre mot de passe</h2>
  </div>
</div>

<?= $alert; ?>

<div id="body" class="container">
	<div id="recover">
		<?php
    	$form->id('recoverForm')->novalidate()->zipost();
		$form->label('Votre adresse email');
		$form->input('email', ['id' => 'email']);
		?>
		<div class="actions">
			<?php $form->submit('', ['value'=>'Rechercher', 'class' => 'btn btn-success btn-modern']); ?>
		</div>
		<?php $form->close(); ?>
	</div>
</div>

<script type="text/javascript">
  (function($) {
    $("#recoverForm").validate({
      rules: {
        email: { required: true, email: true }
      }
    });
  })(jQuery);
</script>