{% extends "user/layout.html.twig" %}

{% form_theme form 'form/theme.html.twig' %}

{% block memberContent %}
    <h2 class="narrow">Sécurité et connexion</h2>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
    </div>
    <div class="alert alert-complete">
        Reçevez un email de confirmation lors de la suppression et la modification d'une annonce ou d'un deal pour pouvoir,
        entre autres, augmenter la sécurité de votre compte.
    </div>
    <div class="form-options">
        {{ form_row(form.confirmation) }}
    </div>
    <div class="form-actions">
        <button type="submit">Enregistrer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
