<?xml version="1.0"?>
<monthly>
    {% for event in events %}
    <event>
        <id>{{ event.id }}</id>
        <name>{{ event.post_titre }}</name>
        <startdate>{{ event.start_at|date('Y-m-d') }}</startdate>
        <enddate>{{ event.endt_at|date('Y-m-d') }}</enddate>
        <starttime>{{ event.start_at|date('H:i') }}</starttime>
        <endtime>{{ event.endt_at|date('H:i') }}</endtime>
        <color>#ffb128</color>
        <url>{{ asset('evenements/' ~ event.slug ~ '/' ~ event.id) }}</url>
    </event>
    {% endfor %}
</monthly>