{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/plugins/monthly.css') }}">
    <link rel="stylesheet" href="{{ asset('css/events.css') }}">
{% endblock %}

{% block pageTitle %}
    <h1>{{ seo.title }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="monthly" id="calendar"></div>
        <div class="row reset-margin">
            {% if paginate.items is defined and paginate.items|length > 0 %}
                {% for item in paginate.items %}
                    <div class="col-md-3 col-sm-6 article-item">
                        {% include 'blocs/event.html.twig' with {item: item} %}
                    </div>
                {% endfor %}
                {% include "@Paginate/pagination.html.twig" with {links: paginate.links} %}
            {% else %}
                <div class="empty-bloc">
                    Il n'y a aucun annonce listé pour cette recherche.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/plugins/monthly.js') }}"></script>
    <script>
        $(window).load( function() {
            $('#calendar').monthly({
                mode: 'event',
                dataType: 'json',
                jsonUrl: '{{ path('api_event_all') }}'
            });
        });
    </script>
{% endblock %}
