{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/article.css') }}">
{% endblock %}

{% block seo_meta %}
    {% include 'blocs/og-metas.html.twig' with {
        url: path('events_detail', {slug: item.slug, id: item.id}),
        image: asset('/build/images/posts/' ~ item.photo)
    } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page_header">
            <h1 class="title">{{ item.title }}</h1>
            <h3 class="meta">
                Commence le
                <time datetime="{{ item.startAt|date('U') }}">{{ item.startAt|date('d/m/Y H:i') }}</time> jusqu'au
                <time datetime="{{ item.endAt|date('U') }}">{{ item.endAt|date('d/m/Y H:i') }}</time> / vue par
                <span>{{ item.count }}</span> personnes
            </h3>
        </div>
        <div class="article">
            <div class="article_content">
                {% include "blocs/slide-show.html.twig" with {photos: item.photos, title: item.title, targetDir: 'posts'}%}

                <div class="article__story">
                    {{ item.content|raw }}
                </div>

                {#{{ shareToSocial(post_titre, post_content)|raw }}#}

                {% include 'shared/disqus.twig' with {'uid' : 'EVENT' ~ item.id, 'title' : item.title} %}

            </div>
            <div class="article_sidebar">
                {% if related is defined and related|length > 0 %}
                    <div class="articles">
                        <h2 class="bloc_title">Evenements à venir</h2>
                        {% for item in related %}
                            <a class="bloc_article" href="{{ path('events_detail', {category: item.category.slug, slug: item.slug, id: item.id}) }}">
                                <div class="bloc__image" style="background-image: url({{ resize(item.photo, 80, 80, 'events') }})"></div>
                                <h3 class="bloc__title">{{ item.title }}</h3>
                                <time datetime="{{ item.startAt|date('U') }}" class="bloc__date">{{ item.startAt|date('d/m/Y H:i') }}</time>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
