{% extends "base.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/v2/customer.css') }}">
{% endblock %}

{% block seo_meta %}
    {% include 'blocs/og-metas.html.twig' with {
        url: path('directory_official_show', {username: item.username, id: item.id}),
        image: resize(item.profilePicture, 600, 315, 'official')
    } %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row customer-profile">
            <div class="col-sm-4 col-xs-12">
                <div class="picture">
                    <div class="shadow"></div>
                    <div class="age">{{ item.birthAt|age }} <sup>ans</sup></div>
                    <img class="image" src="{{ resize(item.profilePicture, 400, 400, 'official') }}" alt="{{ item.title }}">
                </div>
                <ul class="stats">
                    {% if item.job|length > 0 %}
                        <li>
                            <label>Profession</label>
                            <span>{{ item.job|raw }}</span>
                        </li>
                    {% endif %}
                    {% if item.club|length > 0 %}
                        <li>
                            <label>Club actuel</label>
                            <span>{{ item.club|raw }}</span>
                        </li>
                    {% endif %}
                    {% if item.categories and item.categories|length > 0 %}
                        <li class="metas">
                            <label>Catégorie{% if item.categories|length > 1 %}s{% endif %}</label>
                            {% for meta in item.categories %}
                                <span><a href="{{ path('directory_official_list_by_category', {category: meta.slug}) }}" title="{{ meta.title|raw }}">{{ meta.title|raw }}</a></span>
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <article class="col-sm-8 col-xs-12">
                <div class="content">
                    <div class="title">
                        {% if item.title|length > 25 %}
                            <h1 class="small-title">{{ item.title|raw }}</h1>
                        {% else %}
                            <h1>{{ item.title|raw }}</h1>
                        {% endif %}
                        <p>Né le {{ item.birthAt|date('d/m/Y') }}</p>
                    </div>

                    {% include 'blocs/slide-show.html.twig' with {photos: item.slideShowPictures, title: item.title, targetDir: 'official', min: 2 } only %}

                    {% if item.content|length > 0 %}
                        <h2>Description</h2>
                        {{ item.content|raw }}
                    {% endif %}

                    {% if item.stories and item.stories|length > 0 %}
                        <h2>Expériences</h2>
                        <div class="stories">
                            <table class="table for-large-screen">
                                <tbody>
                                {% for story in item.stories %}
                                    <tr>
                                        <td class="annee">{{ story.year }}</td>
                                        <td class="meta">
                                            <a href="{{ path('directory_driver_list_by_category', {category: story.category.slug}) }}">{{ story.category.title }}</a>
                                        </td>
                                        <td class="titre">
                                            <h3>{{ story.title|raw }}</h3>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {{ shareToSocial(item.title, item.content)|raw }}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
