$mainColor : #141b4D;
$secondColor : #C52F16;
$thirdColor: #f95d16;
$darkenColor: #141b4D;
$completeColor: #48b0f7;
$successColor: #00931b;
$dangerColor: #f55753;
$warningColor: #f8d053;

// complete, success, danger, warning
$alertColors: (primary: #999, complete: $completeColor, success: $successColor, danger: $dangerColor, warning: $warningColor, facebook: #466fc6, twitter: #7cc5fc, google: #f16857, linkedin: #0091d6);

$breakpoint-small: 576px;
$breakpoint-med: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
